<div class="card">
    <div class="card-header">
        <strong>Races</strong> - Race Detail
    </div>

    <div class="card-body">
        <%=render '/shared/all_flash' %>
        
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="race_code">Name</label>
                    <p class="form-control-plaintext">
                        <%= @race.name %>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="card-footer">
        <div class="text-right">
            <%=raw show_back_button(internal_races_path) %>
            <% if has_permission?('EDIT_RACE') %>
                <%=raw show_edit_button(edit_internal_race_path(@race)) %>
            <% end %>
        </div>
    </div>
</div>
<!-- /.card -->

<div class="card">
    <div class="card-body">
        <ul class="list-group">
            <% if has_permission?("VIEW_AUDIT_RACE") %>
                <li class="list-group-item">
                    <%= link_to "Audits", internal_race_audits_path(@race) %>
                </li>
            <% end %>
        </ul>
    </div>
</div>