<div class="card">
    <div class="card-header">
        <strong>Radiologists</strong> - Edit drafted radiologist
    </div>
    <%= form_for @radiologist, url: draft_internal_radiologist_path(@radiologist), html: {class: "#{params[:action]}_radiologist radiologist-form with-parsley disable-enter-keypress"} do |form| %>

        <%= render 'form', { form: form } %>

        <div class="card-footer">
            <div class="text-right">
                <%=raw edit_back_button(internal_radiologists_path) %>
                <%=raw edit_save_draft_button if has_permission?('CREATE_DRAFT_RADIOLOGIST') %>
                <%=raw edit_submit_for_approval_button if has_permission?('CREATE_SUBMIT_APPROVAL_RADIOLOGIST') %>
                <%#=raw edit_save_button() %>
            </div>
        </div>
        
    <% end %>
</div>