
<div class="card">
  <div class="card-header"><strong>My Drafts</strong></div>

  <div class="card-body">
      <div class="col-md-12">
        <table class="table table-responsive-sm table-striped table-outline">
          <thead>
          <tr>
            <th>#</th>
            <th>ID</th>
            <th>Type</th>
          </tr>
          </thead>

          <tbody>
          <% if @drafts.blank? %>
            <tr><td colspan="11" class="text-blue">There are no pending <%= controller_name.gsub('_', ' ') %> drafts currently registered in the system.</td></tr>
          <% else %>
            <% @drafts.each.with_index((@drafts.current_page - 1) * @drafts.size + 1) do |draft, index| %>
              <tr>
                <td>
                  <%= link_to send("internal_draft_path", draft) do %>
                    <%= index %>
                  <% end %>
                </td>
                <td><%= draft.id %></td>
                <td><%= draft.items.first.resource_type %></td>
              </tr>
            <% end %>

          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>