<div class="card">
    <div id="filter-transactions-toggle" class="card-header d-flex align-items-center clickable">
        <strong class="mb-0">Filter</strong>
        <span class="flex-grow-1"></span>
        <i class="fas fa-chevron-down"></i>
    </div>

    <%= form_tag movement_index_internal_xqccs_path, method: 'get', id: "filter-transactions-form" do |form| %>
        <%= hidden_field_tag :per, params[:per] || get_per_options.first %>

        <div class="card-body">

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label for="transaction_code" class="col-sm-3 col-form-label">Transaction ID</label>

                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="transaction_code" id="transaction_code" value="<%= params[:transaction_code] %>">
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group row">
                        <label for="batch" class="col-sm-3 col-form-label">Worker Code</label>

                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="worker_code" id="worker_code" value="<%= params[:worker_code] %>">
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label for="code" class="col-sm-3 col-form-label">Passport Number</label>

                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="passport_no" id="passport_no" value="<%= params[:passport_no] %>">
                            <input type="hidden" name="search" id="search" value="1">
                        </div>

                    </div>
                </div>


            </div>
        </div>

        <div class="card-footer">
            <div class="text-right">
                <%=raw filter_clear_button movement_index_internal_xqccs_path %>
                <%=raw filter_button %>
            </div>
        </div>
    <% end %>
</div>

<% content_for :page_end_scripts do %>
    <script>
        $('#filter-transactions-toggle').click(function() {
            $('#filter-transactions-toggle i.fas').toggleClass('fa-chevron-down fa-chevron-left');
            $('#filter-transactions-form').slideToggle();
        });
    </script>
<% end %>