<%
    transaction_model   ||= @transaction
    namespacing         ||= "de_attributes_#{ rand(1000) }"
    readonly            ||= false
    comment_exception   ||= false # Only used in Pending review, because everything else is readonly, and only comment can be edited.
%>

<div class="p-4 border-bottom">
    <h3><u>PART V. CERTIFICATION BY DOCTOR (cont’d)</u></h3>
</div>

<div class="certification-comment-container px-4 py-2 border-bottom">
    <div>
        <label class="mr-4 w-em-3"><%= @condition_index += 1 %></label>
        <label>Comments (for any abnormalities detected in PART IV)</label>
    </div>

    <%= text_area_tag "#{ namespacing }[certification_comment]", doctor_examination.try(:certification_comment), rows: 5, class: "p-2", style: "width: calc(100% - 5em); margin-left: 5em;", readonly: readonly && !comment_exception %>

    <% if doctor_examination.class.name != "DoctorExamination" && @transaction&.doctor_examination&.certification_comment.present? %>
        <div class="mt-3" style="margin-left: 5em;">
            <label>Doctor's Comment</label>

            <div class="border-left pl-2 pt-2">
                <%= simple_format @transaction.doctor_examination.certification_comment %>
            </div>
        </div>
    <% end %>
</div>

<div class="px-4 py-2 boolean-field-parent d-flex flex-wrap justify-content-end align-items-center border-bottom">
    <label class="row-index"><%= @condition_index += 1 %></label>
    <label class="flex-grow-1 mb-0">I therefore certify that this foreign worker is found to be suitable / unsuitable medically for employment in Malaysia</label>

    <% if on_nios? && @transaction.final_result? %>
        <div class="d-flex flex-shrink-0">
            <%= raw boolean_field_button(active_color: "success", active: @transaction.final_result == "SUITABLE", readonly: true, value: "SUITABLE", placeholder: "Suitable") %>
            <%= raw boolean_field_button(active_color: "danger", active: @transaction.final_result == "UNSUITABLE", readonly: true, value: "UNSUITABLE", placeholder: "Unsuitable") %>
        </div>
    <% else %>
        <div class="d-flex flex-shrink-0">
            <%= hidden_field_tag "#{ namespacing }[suitability]", doctor_examination.try(:suitability), class: "boolean-field unsuitability-bool" %>
            <%= raw boolean_field_button(active_color: "success", active: doctor_examination.suitability == "SUITABLE", readonly: readonly, value: "SUITABLE", placeholder: "Suitable") %>
            <%= raw boolean_field_button(active_color: "danger", active: doctor_examination.suitability == "UNSUITABLE", readonly: readonly, value: "UNSUITABLE", placeholder: "Unsuitable") %>
        </div>
    <% end %>
</div>

<div class="px-4 py-2 border-bottom boolean-field-parent">
    <div>
        <label class="row-index"><%= @condition_index += 1 %></label>
        <label>If considered not suitable for employment, please state the reason</label>
    </div>

    <%= text_area_tag "#{ namespacing }[unsuitable_comment]", doctor_examination.try(:unsuitable_comment), rows: 5, class: "p-2 unsuitability-comment", style: "width: calc(100% - 5em); margin-left: 5em;", readonly: readonly %>
</div>

<% unless readonly %>
    <div class="px-4 py-2 boolean-field-parent d-flex flex-wrap justify-content-end align-items-center border-bottom">
        <label class="row-index"></label>
        <label class="flex-grow-1 mb-0">Yes, I have visited certification for this foreign worker</label>

        <div class="d-flex flex-shrink-0">
            <% value = doctor_examination.visited_certification %>
            <%= hidden_field_tag "#{ namespacing }[visited_certification]", value, class: "boolean-field visited-bool" %>
            <%= raw boolean_field_button(active_color: "success", active: value, readonly: readonly, value: true, placeholder: "Yes") %>
            <%= raw boolean_field_button(active_color: "danger", active: !value, readonly: readonly, value: false, placeholder: "No") %>
        </div>
    </div>
<% end %>