<div class="card">
    <div class="card-header">
        <strong>X-Ray Retake Request</strong>
    </div>

    <div class="card-body">

        <%=render '/shared/all_flash' %>

        <% if @xray_retake.requestable_type == "PcrReview" && @xray_retake.requestable.transactionz.xray_review_id? && @xray_retake.requestable.transactionz.xray_review.result == "IDENTICAL" %>
            <div class="alert alert-warning">
                <h5>PCR Review - Identical</h5>
            </div>
        <% end %>

        <%=render 'internal/xqccs/shared/transaction_worker_info', { transaction_model: @transaction } %>

        <ul class="nav nav-tabs" role="tablist">

            <!-- transactions.xray_examinations -->
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" role="tab" href="#xray_examination-<%= @xray_retake.transactionz.xray_examination.id %>-content">X-Ray Report <%= xqcc_result_badge(@xray_retake.transactionz.xray_examination.result) %></a>
            </li>

            <% if @xray_retake.requestable_type == "PcrReview" %>
                <% if @xray_retake.requestable.transactionz.xray_review_id? && @xray_retake.requestable.transactionz.xray_review.result == "IDENTICAL" %>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" role="tab" href="#xray_review-<%= @xray_retake.requestable.transactionz.xray_review_id %>-content">XQCC Review <%= xqcc_result_badge(@xray_retake.requestable.transactionz.xray_review.result) %></a>
                    </li>
                <% end %>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" role="tab" href="#pcr_review-<%= @xray_retake.requestable_id %>-content">PCR Review <%= xqcc_result_badge(@xray_retake.requestable.result) %></a>
                </li>
            <% elsif @xray_retake.requestable_type == "XrayReview" %>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" role="tab" href="#xray_review-<%= @xray_retake.requestable_id %>-content">XQCC Review <%= xqcc_result_badge(@xray_retake.requestable.result) %></a>
                </li>
            <% end %>

            <!-- xray_retakes.form -->
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" role="tab" href="#xray_retake-<%= @xray_retake.id %>-content">X-Ray Retake Request</a>
            </li>

        </ul>
        <!-- /.nav-tabs -->

        <div class="tab-content">

            <!-- transactions.xray_examinations -->
            <div class="tab-pane fade" role="tabpanel" id="xray_examination-<%= @transaction.xray_examination.id %>-content">
                <%=render 'internal/xray_examinations/xray_examination', { xray_examination: @transaction.xray_examination } %>
            </div>

            <% if @xray_retake.requestable_type == "PcrReview" %>
                <% if @xray_retake.requestable.transactionz.xray_review_id? && @xray_retake.requestable.transactionz.xray_review.result == "IDENTICAL" %>
                    <div class="tab-pane fade" role="tabpanel" id="xray_review-<%= @xray_retake.requestable.transactionz.xray_review_id %>-content">
                        <%=render 'internal/xray_reviews/xray_review', { xray_review: @xray_retake.requestable.transactionz.xray_review } %>
                    </div>
                <% end %>
                <div class="tab-pane fade" role="tabpanel" id="pcr_review-<%= @xray_retake.requestable_id %>-content">
                    <%=render 'internal/pcr_reviews/pcr_review', { pcr_review: @xray_retake.requestable } %>
                </div>
            <% elsif @xray_retake.requestable_type == "XrayReview" %>
                <div class="tab-pane fade" role="tabpanel" id="xray_review-<%= @xray_retake.requestable_id %>-content">
                    <%=render 'internal/xray_reviews/xray_review', { xray_review: @xray_retake.requestable } %>
                </div>
            <% end %>

            <!-- xray_retakes.form -->
            <div class="tab-pane fade show active" role="tabpanel" id="xray_retake-<%= @xray_retake.id %>-content">
                <%= form_for @xray_retake, url: draft_internal_xray_retake_path(@xray_retake), html: {class: "with-parsley"} do |form| %>
                    <%=render 'internal/xray_retakes/draft_form', {xray_retake: @xray_retake, form: form} %>
                <% end %>
            </div>

        </div>
        <!-- /.tab-content -->

    </div>
    <!-- /.card-body -->

</div>
<!-- /.card -->