<div class="card">
    <div class="card-header">
        <strong>X-Ray Retake (PCR)</strong>
    </div>

    <div class="card-body">
        <%= render "internal/xray_retakes/filter", requestable_type: "PcrReview" %>
        <%= render "/shared/all_flash" %>

        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
<table class="<%= index_table_class %>">
    <thead>
        <tr>
            <th class="module-row-numbers"><label>#</label></th>
            <th>Transaction ID</th>
            <th>X-Ray Code</th>
            <th>Worker Code</th>
            <th>Worker Name</th>
            <th>X-Ray Taken Date</th>
            <th>Retake Request</th>
            <th>Retake Reason</th>
            <th>Retake X-Ray Facility</th>
            <th>PCR Name</th>
            <th>Retake Request Date</th>
            <th>Retake Approval Date</th>
            <th>Status</th>
            <th>Duration</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        <% @xray_retakes.each.with_index((@xray_retakes.current_page - 1) * get_per + 1) do |xray_retake, index| %>
            <tr>
                <td class="module-row-numbers"><label><%= index %></label></td>
                <td>
                    <%= xray_retake.transactionz.code %>
                </td>
                <td><%= xray_retake.transactionz.xray_facility&.code %></td>
                <td><%= xray_retake.transactionz&.foreign_worker_id.blank? ? raw('<i>N/A</i>') : "#{xray_retake.transactionz&.foreign_worker&.code}"  %>
                </td>
                <td><%= xray_retake.transactionz&.foreign_worker_id.blank? ? raw('<i>N/A</i>') : "#{xray_retake.transactionz&.foreign_worker&.name}"  %>
                </td>
                <td><%= xray_retake.transactionz&.xray_examination&.xray_taken_date.nil? ? "N/A" : xray_retake.transactionz&.xray_examination.xray_taken_date.strftime(get_standard_date_format) %></td>
                <td><%= xray_retake.retake_review_type %></td>
                <td><%= xray_retake.retake_reason&.name %></td>
                <td><%= xray_retake.xray_facility&.name %> (<%= xray_retake.xray_facility&.code %>)</td>
                <td><%= xray_retake.creator.name %></td>
                <td><%= xray_retake.created_at.nil? ? "N/A" : xray_retake.created_at.strftime(get_standard_date_format) %></td>
                <td><%= xray_retake.approved_at.nil? ? "N/A" : xray_retake.approved_at.strftime(get_standard_date_format) %></td>
                <td><%= xray_retake.approval_status %></td>
                <td><%= xray_retake.retake_duration %></td>
                <td>
                    <% if xray_retake.status == 'DRAFT' %>
                        <%=raw index_table_edit_button(draft_internal_xray_retake_path(xray_retake.id), title: 'Edit') %>
                    <% elsif xray_retake.status == 'APPROVAL' %>
                        <%=raw index_table_approval_button(approval_internal_xray_retake_path(xray_retake.id)) %>
                    <% end %>
                    <% if !["REJECTED"].include?(xray_retake.status) %>
                        <%=raw index_table_edit_button(internal_xray_retake_xray_retake_follow_ups_path(xray_retake.id), label: '<i class="fa fa-clock"></i>', title: 'Follow Up') %>
                    <% end %>
                </td>
            </tr>
        <% end %>

        <% if @xray_retakes.blank? %>
            <tr>
                <td colspan="21" class="text-danger">No records found.</td>
            </tr>
        <% end %>
    </tbody>
</table>
                </div>
            </div>
        </div>

        <div class="row">
            <%= paginate @xray_retakes %>
        </div>
    </div>
</div>

<style>
.scrollable-menu-box {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
    z-index: 1;
    border: none;
    opacity: 0.9;
    padding: 0;
    background-color: #f3f3f3;
}
</style>

<% content_for :page_end_scripts do %>
<script>
tableHeight = $('.table-responsive').height() - 10;
setMaxHeight = Math.min(tableHeight, 320);
dropdownMenus = $('.dropdown-menu.in-table-dropdown').css('max-height', setMaxHeight);

$('.dropdown-menu.in-table-dropdown').map(function() {
    menuHeight = $(this).height();
    contentHeight = $(this).find('')
});

if (setMaxHeight < 320) {
    $('.dropdown-menu.in-table-dropdown').scroll(function() {
        if (this.scrollTop > 0) {
            $(this).find('.scrollable-menu-box').hide();
        } else {
            $(this).find('.scrollable-menu-box').show();
        }
    });
}

$('.table-dropdown-trigger').click(function() {
    trigger = this;

    setTimeout(function() {
        dropdown = $(trigger).closest('.dropdown').find('.in-table-dropdown');
        noScroll = dropdown[0].scrollHeight <= dropdown.height() + 1;

        if (noScroll) {
            dropdown.find('.scrollable-menu-box').hide();
        }
    }, 10);
});
</script>
<% end %>