<div data-behaviour="vue">

    <visitreportclinicform inline-template
        :visit_report="<%= @visit_report.to_json(:include => { :visit_plan_item => { :include => { :visitable => { :include => [:state, :town, :operating_hour] } } }, :visit_plan => {}, :visit_report_doctor => {}, :visit_report_visitors => {}, :operating_hour => {} }) %>"
        :visit_report_visitors="<%= @visit_report.visit_report_visitors.to_json %>"
        :org_users="<%= User.joins(:role).where(:userable_type => 'Organization').where(roles:{code: ['INSPECTORATE_EXECUTIVE','INSPECTORATE_LQCC_MEDICAL_OFFICER','LQCC_EXECUTIVE']}).select("users.id,users.username as name").all.to_json %>"
        :categories="<%= VisitPlan::CATEGORIES.to_json %>"
        :params="<%= params.to_json %>"
        :visit_report_approval="<%= @visit_report_approval.to_json %>"
        :recommendations="<%= VisitReportDoctor::RECOMMENDATIONS.to_json %>"
        :years="<%= @years %>"
        :pass_visit_report_details="<%= VisitReportDoctor.where(:doctor_id => @visit_report[:visitable_id]).where.not(:visit_report_id => @visit_report[:id]).order("created_at").last.to_json %>"
        :allocations_last_year="<%= Transaction.where(:doctor_id => @visit_report[:visitable_id]).where.not(:status => ['CANCELLED','REJECTED']).by_year('transaction_date',Date.current.years_ago(1).strftime('%Y')).to_json %>"
        :allocations_current_year="<%= Transaction.where(:doctor_id => @visit_report[:visitable_id]).where.not(:status => ['CANCELLED','REJECTED']).by_year('transaction_date',Date.current.year).to_json %>">

        <div class="card" v-cloak>
            <div class="card-header">
                <strong>Clinic Visit Report</strong> - <% if @visit_report.status === 'DRAFT' || @visit_report.status === 'REJECTED' %>Edit <% end %>Clinic Visit Report <% if @visit_report.status != 'DRAFT' && @visit_report.status != 'REJECTED' %>Details<% end %>
            </div>
        
            <% if params[:action] == 'approval' %>
                <div class="card-body">
                    <%= render 'internal/visit_reports/clinics/form', { form_method: 'PUT', form_action: internal_visit_report_clinic_approve_report_path(@visit_report_approval), index_path: internal_visit_report_clinics_path } %>
                </div>
            <% else %>
                <div class="card-body">
                    <%= render 'internal/visit_reports/clinics/form', { form_method: 'PUT', form_action: internal_visit_report_clinic_update_path(@visit_report), index_path: internal_visit_report_clinics_path } %>
                </div>
            <% end %>

            <%= render 'internal/visit_reports/shared/card_footer', { index_path: internal_visit_report_clinics_path } %>

            <%= render 'internal/visit_reports/shared/communicable_diseases_modal' %>
        </div>

    </visitreportclinicform>
</div>

<style>
.form-check-label{
    display: inline;
}
</style>