<div class="card">
    <div class="card-header">
        <strong>Appeal Todos</strong>
    </div>

    <!-- card-body -->
    <div class="card-body">
        <%=render "filter" %>

        <%=render "/shared/all_flash" %>

        <div class="row">
            <div class="col module-actions text-right">
                <% if has_permission?('CREATE_APPEAL_TODO') %>
                    <%=raw index_table_new_button(new_internal_appeal_todo_path) %>
                <% end %>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="<%= index_table_class %>">
                    <thead>
                    <tr>
                      <th class="module-row-numbers">#</th>
                      <th>ID</th>
                      <th>Description</th>
                      <th>Is active</th>
                      <th class="module-row-actions">Action(s)</th>
                    </tr>
                    </thead>

                    <tbody>
                    <% if @appeal_todos.blank? %>
                      <tr>
                        <td colspan="3" class="text-danger">No records found.</td>
                      </tr>
                    <% else %>

                      <% @appeal_todos.each.with_index((@appeal_todos.current_page - 1) * get_per + 1) do |appeal_todo, index| %>
                        <tr>
                          <td class="module-row-numbers"><%= index %></td>
                          <td><%= appeal_todo.id %></td>
                          <td><%= appeal_todo.description %></td>
                          <td><%= appeal_todo.is_active %></td>
                          <td class="module-row-actions">
                            <%=raw index_table_show_button(internal_appeal_todo_path(appeal_todo)) %>
                            <% if has_permission?('EDIT_APPEAL_TODO') %>
                              <%=raw index_table_edit_button edit_internal_appeal_todo_path(appeal_todo) %>
                            <% end %>
                            <% if has_permission?('DELETE_APPEAL_TODO') %>
                              <%=raw index_table_delete_button(internal_appeal_todo_path(appeal_todo)) %>
                            <% end %>
                          </td>
                        </tr>
                      <% end %>

                    <% end %>
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
        <div class="row">
            <%= paginate @appeal_todos %>
        </div>
    </div>
    <!-- /card-body -->
</div>