<div class="card">

    <div class="card-header">
        <strong>Appeal Todos</strong> - Appeal Todo Detail
    </div>

    <div class="card-body">

        <%=render "/shared/all_flash" %>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="appeal_todo_code">ID</label>
                    <p class="form-control-plaintext">
                        <%= @appeal_todo.id %>
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="appeal_todo_description">Description</label>
                    <p class="form-control-plaintext">
                        <%= @appeal_todo.description %>
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="appeal_todo_code">Is active</label>
                    <p class="form-control-plaintext">
                        <%= @appeal_todo.is_active %>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="card-footer">

        <div class="text-right">
            <%=raw show_back_button(internal_appeal_todos_path) %>
            <% if has_permission?('EDIT_APPEAL_TODO') %>
                <%=raw show_edit_button(edit_internal_appeal_todo_path(@appeal_todo)) %>
            <% end %>
        </div>

    </div>

</div>
<!-- /.card -->

<div class="card">
    <div class="card-body">
        <ul class="list-group">
            <% if has_permission?("VIEW_AUDIT_APPEAL_TODO") %>
                <li class="list-group-item">
                    <%= link_to "Audits", internal_appeal_todo_audits_path(@appeal_todo) %>
                </li>
            <% end %>
        </ul>
    </div>
</div>