<div class="card">
    <div class="card-header">
        <strong>Filter</strong>
    </div>

    <%= form_tag internal_finance_settings_path, method: 'get' do |form| %>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    <label for="code" class="col-sm-3 col-form-label">Code</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="code" id="code" value="<%= params[:code] %>">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row">
                    <label for="category" class="col-sm-3 col-form-label">Category</label>
                    <div class="col-sm-9">
                        <%= select_tag :category, options_for_select(FinanceSetting::CATEGORIES.invert, params[:category]), include_blank: "Select Option", class: 'form-control' %>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    <label for="description" class="col-sm-3 col-form-label">Description</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="description" id="description" value="<%= params[:description] %>">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row">
                    <label for="value" class="col-sm-3 col-form-label">Value</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="value" id="value" value="<%= params[:value] %>">
                    </div>
                </div>
            </div>
        </div>
        <%= hidden_field_tag :per, params[:per] || get_per_options.first %>
    </div>
    <div class="card-footer">
        <div class="text-right">
            <%=raw filter_clear_button internal_finance_settings_path %>
            <%=raw filter_button %>
        </div>
    </div>
    <% end %>
</div>