<%=render '/shared/all_flash' %>

<div class="card">
  <div class="card-header">
    <strong>Organizations Tree</strong>
    <%= link_to internal_organizations_path, :method => :get, class: 'btn btn-sm btn-secondary' do %>
      Table View
    <% end %>
    <%= link_to internal_organizations_path + '/tree', :method => :get, class: 'btn btn-sm btn-primary' do %>
      Tree View
    <% end %>
    <%= link_to internal_organizations_path + '/chart', :method => :get, class: 'btn btn-sm btn-secondary' do %>
      Chart View
    <% end %>
  </div>

  <!-- card-body -->
  <div class="card-body">

    <div id="jstree">

      <%= render_organization_tree(Organization::roots) %>

    </div>

  </div>
  <!-- /card-body -->
</div>

<!--javascript-->

<% content_for :page_end_scripts do %>
  <script>

      $('#jstree').jstree(
          {
              "plugins" : [
                  "contextmenu"
              ],
              "contextmenu":{
                  "items": function($node) {
                      return {
                          "Create": {
                              "separator_before": false,
                              "separator_after": false,
                              "label": "Create",
                              "action": function (data) {

                                  var inst = $.jstree.reference(data.reference), obj = inst.get_node(data.reference);

                                  var organization_id = obj.data.id;

                                  window.location.href = '/organizations/new?organization_id=' + organization_id;

                              }
                          },
                          "Edit": {
                              "separator_before": true,
                              "separator_after": true,
                              "label": "Edit",
                              "action": function (data) {

                                  var inst = $.jstree.reference(data.reference), obj = inst.get_node(data.reference);

                                  var organization_id = obj.data.id;

                                  window.location.href = '/organizations/' + organization_id + '/edit';

                              }
                          },
                      };
                  }
              }
          }
      )
      .bind("ready.jstree", function (event, data) {
          $(this).jstree("open_all");
      });

  </script>
<% end %>

<!--javascript-->