<% code = "PATI_PORTAL" %>
<label class="col-md-4 col-form-label">
    <% if has_permission?("VIEW_AUDIT_SYSTEM_CONFIGURATION") %>
        <a href="<%= internal_system_configuration_audits_path(@system_configurations[code]) %>"><i class="fa fa-history"></i></a> 
    <% end %>
    <%= @system_configurations[code].name %>
</label>
<div class="col-md-8">
    <div class="form-check form-check-inline">
        <input class="form-check-input" id="system_configuration_<%= code %>_1" type="radio" value="1" name="system_configuration[<%= code %>]" required<%= " checked" if @system_configurations[code].value == '1' %>>
        <label class="form-check-label" for="system_configuration_<%= code %>_1">Yes</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" id="system_configuration_<%= code %>_0" type="radio" value="0" name="system_configuration[<%= code %>]" required<%= " checked" if @system_configurations[code].value == '0' %>>
        <label class="form-check-label" for="system_configuration_<%= code %>_0">No</label>
    </div>
    <% if @system_configurations[code].comment.present? %>
        <p class="form-control-plaintext"><%= @system_configurations[code].comment %></p>
    <% end %>
</div>