<div class="card">
    <div class="card-header">
        <strong>States</strong>
    </div>

    <!-- card-body -->
    <div class="card-body">
        <%=render "filter" %>

        <%=render '/shared/all_flash' %>

        <div class="row">
            <div class="col module-actions text-right">
                <% if has_permission?('CREATE_STATE') %>
                    <%=raw index_table_new_button(new_internal_state_path) %>
                <% end %>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="<%= index_table_class %>">
                    <thead>
                    <tr>
                      <th class="module-row-numbers">#</th>
                      <th>ID</th>
                      <th>Code</th>
                      <th>Name</th>
                      <th>Long name</th>
                      <th class="module-row-actions">Action(s)</th>
                    </tr>
                    </thead>

                    <tbody>
                    <% if @states.blank? %>
                      <tr>
                        <td colspan="6" class="text-danger">No records found.</td>
                      </tr>
                    <% else %>

                      <% @states.each.with_index((@states.current_page - 1) * get_per + 1) do |state, index| %>
                        <tr>
                          <td class="module-row-numbers"><%= index %></td>
                          <td><%= state.id %></td>
                          <td><%= state.code %></td>
                          <td><%= state.name %></td>
                          <td><%= state.long_name %></td>
                          <td class="module-row-actions">
                            <%=raw index_table_show_button(internal_state_path(state)) %>
                            <% if has_permission?('EDIT_STATE') %>
                              <%=raw index_table_edit_button edit_internal_state_path(state) %>
                            <% end %>
                            <% if has_permission?('DELETE_STATE') %>
                              <%=raw index_table_delete_button(internal_state_path(state)) %>
                            <% end %>
                          </td>
                        </tr>
                      <% end %>

                    <% end %>
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
        <div class="row">
            <%= paginate @states %>
        </div>
    </div>
    <!-- /card-body -->
</div>