<div class="table-responsive">
    <table class="table table-sm">
        <thead>
            <tr>
                <th class="table-index"></th>
                <th class="table-items"></th>
                <th colspan="3" class="text-center table-acceptable"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1.</td>
                <td>
                    <%= visit_report_laboratory.label :negative_specimens_comment, 'Negative Specimens Kept for Two(2) Days' %>
                    <%= visit_report_laboratory.text_area :negative_specimens_comment, class: 'form-control comment-field', placeholder: 'If NO, please specify' %>
                </td>
                <td class="text-right">
                    <div class="btn-group btn-group-toggle w-75" data-toggle="buttons" data-group-name="specimen_storage">
                        <label class="btn btn-outline-success">
                            <%= visit_report_laboratory.radio_button :negative_specimens, 'YES', class: 'specimen_storage' %> Yes
                        </label>
                        <label class="btn btn-outline-danger">
                            <%= visit_report_laboratory.radio_button :negative_specimens, 'NO', class: 'specimen_storage' %> No
                        </label>
                        <label class="btn btn-outline-secondary">
                            <%= visit_report_laboratory.radio_button :negative_specimens, 'NA', class: 'specimen_storage' %> N/A
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>2.</td>
                <td>
                    <%= visit_report_laboratory.label :positive_specimens_comment, 'Positive Specimens for Eight(8) Weeks' %>
                    <%= visit_report_laboratory.text_area :positive_specimens_comment, class: 'form-control comment-field', placeholder: 'If NO, please specify' %>
                </td>
                <td class="text-right">
                    <div class="btn-group btn-group-toggle w-75" data-toggle="buttons" data-group-name="specimen_storage">
                        <label class="btn btn-outline-success">
                            <%= visit_report_laboratory.radio_button :positive_specimens, 'YES', class: 'specimen_storage' %> Yes
                        </label>
                        <label class="btn btn-outline-danger">
                            <%= visit_report_laboratory.radio_button :positive_specimens, 'NO', class: 'specimen_storage' %> No
                        </label>
                        <label class="btn btn-outline-secondary">
                            <%= visit_report_laboratory.radio_button :positive_specimens, 'NA', class: 'specimen_storage' %> N/A
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td rowspan="2">3.</td>
                <td>
                    <div class="font-weight-bold">Specimen Storage</div>
                    <div class="pl-1">
                        <%= visit_report_laboratory.label :adequate_space_comment, '3.1 Adequate Space' %>
                        <%= visit_report_laboratory.text_area :adequate_space_comment, class: 'form-control', placeholder: 'If NO, please specify' %>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group btn-group-toggle w-75" data-toggle="buttons" data-group-name="specimen_storage">
                        <label class="btn btn-outline-success">
                            <%= visit_report_laboratory.radio_button :adequate_space, 'YES', class: 'specimen_storage' %> Yes
                        </label>
                        <label class="btn btn-outline-danger">
                            <%= visit_report_laboratory.radio_button :adequate_space, 'NO', class: 'specimen_storage' %> No
                        </label>
                        <label class="btn btn-outline-secondary">
                            <%= visit_report_laboratory.radio_button :adequate_space, 'NA', class: 'specimen_storage' %> N/A
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="pl-1">
                        <%= visit_report_laboratory.label :appropriate_temperature_comment, '3.2 Appropriate Temperature' %>
                        <%= visit_report_laboratory.text_area :appropriate_temperature_comment, class: 'form-control', placeholder: 'If NO, please specify' %>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group btn-group-toggle w-75" data-toggle="buttons" data-group-name="specimen_storage">
                        <label class="btn btn-outline-success">
                            <%= visit_report_laboratory.radio_button :appropriate_temperature, 'YES', class: 'specimen_storage' %> Yes
                        </label>
                        <label class="btn btn-outline-danger">
                            <%= visit_report_laboratory.radio_button :appropriate_temperature, 'NO', class: 'specimen_storage' %> No
                        </label>
                        <label class="btn btn-outline-secondary">
                            <%= visit_report_laboratory.radio_button :appropriate_temperature, 'NA', class: 'specimen_storage' %> N/A
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>4.</td>
                <td>
                    <%= visit_report_laboratory.label :negative_malaria_comment, 'Negative Malaria Slides for Two(2) Weeks' %>
                    <%= visit_report_laboratory.text_area :negative_malaria_comment, class: 'form-control comment-field', placeholder: 'If NO, please specify' %>
                </td>
                <td class="text-right">
                    <div class="btn-group btn-group-toggle w-75" data-toggle="buttons" data-group-name="specimen_storage">
                        <label class="btn btn-outline-success">
                            <%= visit_report_laboratory.radio_button :negative_malaria, 'YES', class: 'specimen_storage' %> Yes
                        </label>
                        <label class="btn btn-outline-danger">
                            <%= visit_report_laboratory.radio_button :negative_malaria, 'NO', class: 'specimen_storage' %> No
                        </label>
                        <label class="btn btn-outline-secondary">
                            <%= visit_report_laboratory.radio_button :negative_malaria, 'NA', class: 'specimen_storage' %> N/A
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>5.</td>
                <td>
                    <%= visit_report_laboratory.label :quality_check_comment, 'Quality Check on 10% of Negative and 100% of Positive Slides to Vector Borne Disease Unit of MOH State Level (Pahang/Johor)' %>
                    <%= visit_report_laboratory.text_area :quality_check_comment, class: 'form-control comment-field', placeholder: 'If NO, please specify' %>
                </td>
                <td class="text-right">
                    <div class="btn-group btn-group-toggle w-75" data-toggle="buttons" data-group-name="specimen_storage">
                        <label class="btn btn-outline-success">
                            <%= visit_report_laboratory.radio_button :quality_check, 'YES', class: 'specimen_storage' %> Yes
                        </label>
                        <label class="btn btn-outline-danger">
                            <%= visit_report_laboratory.radio_button :quality_check, 'NO', class: 'specimen_storage' %> No
                        </label>
                        <label class="btn btn-outline-secondary">
                            <%= visit_report_laboratory.radio_button :quality_check, 'NA', class: 'specimen_storage' %> N/A
                        </label>
                    </div>
                </td>
            </tr>
        </tbody>

    </table>
</div>