<div class="card">
    <div class="card-header"><strong><%= @header_label %></strong> - X-Ray Facility Medical Examination</div>

    <div class="border-bottom d-flex">
        <div class="category-tab btn btn-primary" data-type="worker_info">Worker Information</div>

        <% if @can_view_results %>
            <div class="category-tab btn btn-default" data-type="xray">X-ray Results</div>
        <% end %>
    </div>

    <%= nested_form_for @transaction, url: @form_url, html: { class: "#{ params[:action] }_transaction transaction-form disable-enter-keypress" } do |form| %>
        <div class="p-4 border-bottom">
            <h3><u>SECTION D. X-RAY FINDINGS</u></h3>
            <%= render "/shared/all_flash" %>
        </div>

        <div class="category-switchable" data-type="worker_info">
            <%= render partial: "external/transactions/xray_examinations/xray_worker_information_page", locals: { form: form, readonly: @radiologist_started_info_page || current_user.userable_type == "Radiologist" } %>

            <% if @radiologist_started_info_page %>
                <p class="px-4 py-3 border-bottom mb-0">The radiologist assigned to this worker has already begun the examination. You will not be able to update the assigned radiologist.</p>
            <% end %>

            <div class="text-center"><img id="fingerprint-image"></div>
        </div>

        <div class="category-switchable hidden" data-type="xray">
            <!-- For Xray Facility, if the radiologist has started, and can see this form, most of the form must be readonly. -->
            <%= render partial: "external/transactions/xray_examinations/xray_examination_form", locals: { namespacing: "xe_attributes", xray_examination: @xray_examination, readonly: !@can_view_results || (current_user.userable_type == "XrayFacility" && @radiologist_started), hide_not_done: true } %>
        </div>

        <div class="card-footer text-right">
            <%= link_to "Back", @index_url, class: "btn btn-secondary" %>

            <% if @radiologist_started && @can_view_results %>
                <%= form.submit "Save and Transmit", class: "btn btn-primary", value: "Save and Transmit", id: "save-and-transmit-submit" %>
            <% else %>
                <% if (@transaction.foreign_worker.afis_id.present? && current_user.userable.try(:fp_device) == 1 && @can_xray_bypass != true) && !@sourceable.xray_worker_identity_confirmed %>
                    <% if has_permission?("CREATE_BYPASS_FINGERPRINT_REQUEST") %>
                        <% if @xray_retake.present? %>
                            <a class="btn btn-danger text-right" href="<%= bypass_fingerprint_external_retake_path %>">Fingerprint Error</a>
                        <% else %>
                            <a class="btn btn-danger text-right" href="<%= bypass_fingerprint_external_transaction_path %>">Fingerprint Error</a>
                        <% end %>
                    <% end %>
                    <button class="btn btn-info" type="button" id="scan">Scan Fingerprint</button>
                <% end %>

                <% if @can_abort %>
                    <%= form.submit "Abort", class: "btn btn-danger", data: { confirm: "Aborting this examination will allow the this examination to be reassigned. Do you confirm?" } %>
                <% end %>

                <button class="btn btn-primary <%= (@transaction.foreign_worker.afis_id.present? && current_user.userable.try(:fp_device) == 1 && @can_xray_bypass != true) && !@sourceable.xray_worker_identity_confirmed ? 'd-none' : '' %>" type="submit" name="submit" value="Save" id="submit-btn">Save</button>

                <% if current_user.userable_type == "Radiologist" || @can_view_results %>
                    <%= form.submit "Save and Transmit", class: "btn btn-primary", value: "Save and Transmit", id: "save-and-transmit-submit" %>
                <% end %>
            <% end %>
        </div>
    <% end %>
</div>

<%= render "external/transactions/xray_examinations/xray_exam_dialogs" %>

<% content_for :page_end_scripts do %>
    <%= render "external/transactions/xray_examinations/xray_facility_medical_examination_script" %>
<% end %>