<% readonly = readonly.present? %>

<div class="px-4 pt-4">
    <h3><u>REVIEW DECISION</u></h3>
</div>

<div class="border border-dark mx-4 mb-4 p-4 rounded bg-light">
    <% if on_nios? %>
        <div class="d-flex">
            <b class="w-em-8">Released as</b>
            <p class="mb-0"><%= @medical_review.medical_mle1_decision %></p>
        </div>

        <div class="d-flex">
            <b class="w-em-8">Released date</b>
            <p class="mb-0"><%= @medical_review.medical_mle1_decision_at? ? @medical_review.medical_mle1_decision_at.strftime("%d/%m/%Y") : nil %></p>
        </div>

        <div class="d-flex">
            <b class="w-em-8">Released by</b>
            <p class="mb-0"><%= @medical_review.medical_mle1.try(:name) %></p>
        </div>

        <label class="mt-3">Justifications</label>

        <div class="border border-secondary mb-4 px-2 pt-2">
            <%= simple_format @medical_review.medical_mle1_comment %>
        </div>

    <% elsif @medical_review.medical_mle2_decision? || @medical_review.qa_decision? || @medical_review.medical_mle1_decision? %>
        <% if @medical_review.medical_mle2_decision? %>
            <div class="d-flex">
                <b class="w-em-8">Released as</b>
                <p class="mb-0"><%= @medical_review.medical_mle1_decision %></p>
            </div>

            <div class="d-flex">
                <b class="w-em-8">Approval date</b>
                <p class="mb-0"><%= @medical_review.medical_mle2_decision_at? ? @medical_review.medical_mle2_decision_at.strftime("%d/%m/%Y") : nil %></p>
            </div>

            <label class="mt-3">Justifications</label>
            <div class="border border-secondary mb-4 px-2 pt-2">
                <%= simple_format @medical_review.medical_mle1_comment %>
            </div>
        <% elsif @medical_review.medical_mle1_decision?  %>
            <% if @medical_review.qa_decision? && @medical_review.qa_status == "INACCURATE" %>
                <div class="d-flex">
                    <b class="w-em-8">Released as</b>
                    <p class="mb-0"><%= @medical_review.qa_decision %></p>
                </div>

                <div class="d-flex">
                    <b class="w-em-8">Approval date</b>
                    <p class="mb-0"><%= @medical_review.qa_decision_at? ? @medical_review.qa_decision_at.strftime("%d/%m/%Y") : nil %></p>
                </div>

                <label class="mt-3">Justifications</label>
                <div class="border border-secondary mb-4 px-2 pt-2">
                    <%= simple_format @medical_review.qa_comment %>
                </div>
            <% else %>
                <div class="d-flex">
                <b class="w-em-8">Released as</b>
                <p class="mb-0"><%= @medical_review.medical_mle1_decision %></p>
                </div>

                <div class="d-flex">
                    <b class="w-em-8">Approval date</b>
                    <p class="mb-0"><%= @medical_review.medical_mle1_decision_at? ? @medical_review.medical_mle1_decision_at.strftime("%d/%m/%Y") : nil %></p>
                </div>

                <label class="mt-3">Justifications</label>
                <div class="border border-secondary mb-4 px-2 pt-2">
                    <%= simple_format @medical_review.medical_mle1_comment %>
                </div>
            <% end %>
        <% end %>
    <% end %>

    <% to_dos = @medical_review.list_of_tcupi_todos %>

    <% if @medical_review.medical_mle1_decision == "TCUPI" || to_dos.present? %>
        <label>TCUPI To Do List</label>

        <ul>
            <% to_dos.each do |to_do| %>
                <li><%= to_do %></li>
            <% end %>

            <% if to_dos.blank? %>
                <li>None</li>
            <% end %>
        </ul>
    <% end %>
</div>

<% if on_nios? && @medical_review.medical_mle2_decision? %>
    <div class="border border-dark mx-4 mb-4 p-4 rounded bg-light">
        <div class="d-flex">
            <b class="w-em-8">Status</b>
            <p class="mb-0"><%= @medical_review.medical_mle2_decision %></p>
        </div>

        <div class="d-flex">
            <b class="w-em-8">Approval date</b>
            <p class="mb-0"><%= @medical_review.medical_mle2_decision_at? ? @medical_review.medical_mle2_decision_at.strftime("%d/%m/%Y") : nil %></p>
        </div>

        <div class="d-flex">
            <b class="w-em-8">Approval by</b>
            <p class="mb-0"><%= @medical_review.medical_mle2.try(:name) %></p>
        </div>

        <label class="mt-3">Justifications</label>

        <div class="border border-secondary mb-4 px-2 pt-2">
            <%= simple_format @medical_review.medical_mle2_comment %>
        </div>
    </div>
<% elsif on_nios? && @medical_review.qa_decision? %>
    <div class="px-4 pt-4">
        <h3><u>REVIEW QA DECISION</u></h3>
    </div>
    <div class="border border-dark mx-4 mb-4 p-4 rounded bg-light">
        <div class="d-flex">
            <b class="w-em-8">Status</b>
            <p class="mb-0"><%= @medical_review.qa_status %></p>
        </div>
        <div class="d-flex">
            <b class="w-em-8">Released as</b>
            <p class="mb-0"><%= @medical_review.qa_decision %></p>
        </div>
        <div class="d-flex">
            <b class="w-em-8">Released date</b>
            <p class="mb-0"><%= @medical_review.qa_decision_at? ? @medical_review.qa_decision_at.strftime("%d/%m/%Y") : nil %></p>
        </div>

        <div class="d-flex">
            <b class="w-em-8">Released by</b>
            <p class="mb-0"><%= @medical_review.qa_by_id.try(:name) %></p>
        </div>

        <label class="mt-3">Justifications</label>

        <div class="border border-secondary mb-4 px-2 pt-2">
            <%= simple_format @medical_review.qa_comment %>
        </div>
    </div>
<% elsif on_nios? && ["medical_review"].include?(action_name) %>
    <div class="px-4 py-2 boolean-field-parent d-flex flex-wrap justify-content-end align-items-center">
        <label class="flex-grow-1 mb-0">2nd MLE's Review Decision</label>

        <div class="d-flex flex-shrink-0">
            <% value = @medical_review.medical_mle2_decision %>
            <%= form.hidden_field :medical_mle2_decision, value: value, class: "boolean-field" %>
            <%= raw boolean_field_button(active_color: "success", active: value == "APPROVE", readonly: readonly, value: "APPROVE", placeholder: "Approve") %>
            <%= raw boolean_field_button(active_color: "danger", active: value == "REJECT", readonly: readonly, value: "REJECT", placeholder: "Reject") %>
        </div>
    </div>

    <div class="px-4 py-2 comment-parent">
        <label>Review Approval Remarks</label><br>
        <%= form.text_area :medical_mle2_comment, rows: 5, class: "p-2 w-100", readonly: readonly %>
    </div>
<% elsif on_nios? %>
    <div class="px-4 py-2">
        <label class="">Status</label>
        <p class=""><%= @medical_review.displayed_status %></p>
    </div>
<% end %>