<div class="card">
    <div class="card-header"><strong>Transactions #<%= @transaction.code %></strong> - Medical Review</div>
    <%= render "/shared/all_flash" %>

    <div class="border-bottom d-flex flex-wrap">
        <%
            category_parent_tabs = {
                information: "Information",
                medical: "Medical History",
                physical: "Physical Examination",
                system: "System Exam",
                laboratory: "Laboratory",
                xray: "X-ray",
                certification: "Certification"
            }

            category_parent_tabs.merge!(xqcc_pcr: "XQCC") if @pcr_comments.present? || @xray_pending_decisions.present?
            category_parent_tabs.merge!(review_decision: "Medical PR")
        %>

        <% category_parent_tabs.each_with_index do |tab, index| %>
            <div class="category-parent-tab btn btn-<%= index > 0 ? "default" : "primary" %>" data-type="<%= tab[0] %>"><%= tab[1] %></div>
        <% end %>
    </div>

    <div class="border-bottom d-flex flex-wrap">
        <%
            category_tabs = [
                {type: "worker",        parent: "information",      title: "Worker Information"},
                {type: "category_1",    parent: "medical",          title: "Medical History - Category 1"},
                {type: "category_2",    parent: "medical",          title: "Medical History - Category 2"},
                {type: "physical",      parent: "physical",         title: "Physical Examination"},
                {type: "system_1",      parent: "system",           title: "System Exam 1"},
                {type: "system_2",      parent: "system",           title: "System Exam 2"},
                {type: "laboratory",    parent: "laboratory",       title: "Laboratory"},
                {type: "xray",          parent: "xray",             title: "X-ray"},
                {type: "condition",     parent: "certification",    title: "Condition"},
                {type: "certification", parent: "certification",    title: "Certification"},
                {type: "follow_up",     parent: "certification",    title: "Follow Up"},
                {type: "decision",      parent: "review_decision",  title: "Review Decision"}
            ]

            category_tabs += [{type: "unsuitable_reasons",  parent: "certification",    title: "Unsuitable Reasons"}]   if has_permission?("VIEW_UNSUITABLE_REASONS_DATA_TRANSACTIONS")
            category_tabs += [{type: "pcr_comments",        parent: "xqcc_pcr",         title: "PCR Comments"}]         if @pcr_comments.present?
            category_tabs += [{type: "xqcc_p_decision",     parent: "xqcc_pcr",         title: "Pending Decision"}]     if @xray_pending_decisions.present?
        %>

        <% category_tabs.each_with_index do |hash, index| %>
            <div class="category-tab btn btn-<%= "#{index > 0 ? "default" : "primary"}#{" hidden" if index > 0}" %>" data-parent="<%= hash[:parent] %>" data-type="<%= hash[:type] %>"><%= hash[:title] %></div>
        <% end %>
    </div>

    <%= nested_form_for @transaction, url: @mle_2_approval ? mle_review_2_internal_medical_path(@transaction) : mle_review_1_internal_medical_path(@transaction), method: :post, html: {class: "#{params[:action]}_transaction transaction-form disable-enter-keypress"} do |form| %>
        <% doctor_examination = @transaction.medical_examination %>
        <%= render partial: "internal/medical/worker_information", locals: { transaction: @transaction } %>
        <%= render "/shared/transactions_tab_params" %>
        <%= render partial: "external/transactions/doctor_examinations/doctor_exam_category_1", locals: { doctor_examination: doctor_examination, readonly: true } %>
        <%= render partial: "external/transactions/doctor_examinations/doctor_exam_category_2", locals: { doctor_examination: doctor_examination, readonly: true } %>
        <%= render partial: "external/transactions/doctor_examinations/doctor_exam_physical", locals: { doctor_examination: doctor_examination, readonly: true } %>
        <%= render partial: "external/transactions/doctor_examinations/doctor_exam_system_1", locals: { doctor_examination: doctor_examination, readonly: true } %>
        <%= render partial: "external/transactions/doctor_examinations/doctor_exam_system_2", locals: { doctor_examination: doctor_examination, readonly: true } %>

        <div class="category-switchable hidden" data-type="laboratory">
            <%= render partial: "external/transactions/laboratory_examination_form", locals: { laboratory_examination: @transaction.laboratory_examination, readonly: true } %>
        </div>

        <div class="category-switchable hidden" data-type="xray">
            <%= render partial: "external/transactions/xray_examinations/xray_examination_form", locals: { xray_examination: @transaction.xray_examination, readonly: true } %>
        </div>

        <div class="category-switchable hidden" data-type="condition">
            <%= render partial: "external/transactions/doctor_examinations/certification_condition_form", locals: { namespacing: "de_attributes", doctor_examination: doctor_examination, readonly: @readonly } %>
        </div>

        <div class="category-switchable hidden" data-type="certification">
            <%= render partial: "external/transactions/doctor_examinations/certification_certification_form", locals: { namespacing: "de_attributes", doctor_examination: doctor_examination, readonly: true, comment_exception: true } %>
        </div>

        <div class="category-switchable hidden" data-type="follow_up">
            <%= render partial: "external/transactions/doctor_examinations/certification_follow_up_form", locals: { namespacing: "de_attributes", doctor_examination: doctor_examination, readonly: true } %>
        </div>

        <div class="category-switchable hidden" data-type="decision">
            <%= form.fields_for :latest_medical_review do |review_form| %>
                <% if @mle_2_approval %>
                    <%= render partial: "review_decision_approval", locals: {form: review_form, doctor_examination: doctor_examination } %>
                <% else %>
                    <%= render partial: "review_decision", locals: {form: review_form, doctor_examination: doctor_examination } %>
                <% end %>

                <div class="text-right py-2 px-4">
                    <div id="transaction-history-list-btn" class="btn btn-success btn-sm">History</div>

                    <% if false #unless @mle_2_approval - Removed save button. Keep here if need to implement again. %>
                        <%= form.submit "Save", class: "btn btn-primary btn-sm", value: "Save", id: "save-submit" %>
                    <% end %>

                    <%= form.submit "Transmit", class: "btn btn-primary btn-sm", value: "Transmit", id: "save-and-transmit-submit" %>
                </div>
            <% end %>
        </div>

        <% if has_permission?("VIEW_UNSUITABLE_REASONS_DATA_TRANSACTIONS") %>
            <div class="category-switchable hidden" data-type="unsuitable_reasons">
                <%= render partial: "internal/transactions/shared/unsuitable_reasons_tab", locals: { readonly: !has_permission?("EDIT_UNSUITABLE_REASONS_FOR_TRANSACTION") || @mle_2_approval, hide_save_button: true } %>
            </div>
        <% end %>

        <% if @pcr_comments.present? %>
            <div class="category-switchable hidden" data-type="pcr_comments">
                <%= render partial: "internal/transactions/pcr_comments" %>
            </div>
        <% end %>

        <% if @xray_pending_decisions.present? %>
            <div class="category-switchable hidden" data-type="xqcc_p_decision">
                <%= render partial: "internal/transactions/pending_decision" %>
            </div>
        <% end %>

        <div class="card-footer text-right">
            <%= raw show_back_button(internal_transactions_path(review_status: "pending_review")) %>
        </div>
    <% end %>
</div>

<div id="dialog-condition-other-fill" class="hidden" title="Please include certification comment">
    <p>You will need to write a comment because the field <b>Other</b> in <b>Part IV - Certification Condition</b> has been set to <b>YES</b>.</p>
</div>

<div id="dialog-review-decision-fill" class="hidden" title="Review decision needed">
    <p>Please specify your review decision.</p>
</div>

<div id="dialog-justification-fill" class="hidden" title="Justification needed">
    <p>Please include the justification for your review decision.</p>
</div>

<div id="dialog-approval-remark-fill" class="hidden" title="Please include approval remarks">
    <p>Approval remarks is compulsory when submitting your approval.</p>
</div>

<div id="dialog-unsuitable-conditions" class="hidden" title="Please select a condition">
    <p>You will need to select at least one condition if the review decision is <b>Unsuitable</b>.</p>
</div>

<div id="dialog-tcupi-todo-fill" class="hidden" title="Please select a TCUPI to do">
    <p>Please ensure that there is a selected <b>TCUPI To-Do</b> if <b>TCUPI</b> is selected as the review decision.</p>
</div>

<div id="dialog-tcupi-todo-other-fill" class="hidden" title="Please include a reason">
    <p>Please ensure that there is a description for <b>TCUPI To-Do</b> if <b>Others</b> is selected.</p>
</div>

<%= render partial: "/internal/medical/transaction_history_list_modal", locals: { transactions: @transactions_list } %>

<% unless @mle_2_approval %>
    <% content_for :page_end_scripts do %>
        <script>
            initializeToggleableFields('doctor examination');
            loadParentCategoryTabSelection();
            loadCategoryTabSelection();

            $('#save-and-transmit-submit').click(function(e) {
                reviewDecision      = $('#transaction_latest_medical_review_attributes_medical_mle1_decision').val();
                mle1_comment_box    = $('#transaction_latest_medical_review_attributes_medical_mle1_comment');
                has_other_comment   = $('#tcupi_todo_other_bool').val() == 'YES' && $('#tcupi_to_do_other').val().length > 0;

                tcupiToDosIncluded  = $('.tcupi-todos').map(function() {
                    return $(this).val();
                }).get().includes('YES');

                conditionsCheck     = $('.condition-check').map(function() {
                   return $(this).val();
                }).get().includes('true');

                if (!reviewDecision) {
                    openDialogAndPreventSubmit('#dialog-review-decision-fill', e);
                    decisionField = $('#transaction_latest_medical_review_attributes_medical_mle1_decision').closest('.boolean-field-parent');

                    $('#dialog-review-decision-fill').on('dialogclose', function(event, ui) {
                        tab = $('.category-tab[data-type="decision"]');
                        $(`.category-parent-tab[data-type="${tab.attr('data-parent')}"]`).click();
                        tab.click();
                        scrollToElement(decisionField, 500);
                        highlightElement(decisionField, '#facf7f', 'slow');
                        delayedHighlightField(decisionField, '#fff', 'slow', 5000);
                    });
                } else if (reviewDecision === 'UNSUITABLE' && !conditionsCheck) {
                    openDialogAndPreventSubmit('#dialog-unsuitable-conditions', e);

                    $('#dialog-unsuitable-conditions').on('dialogclose', function(event, ui) {
                        tab = $('.category-tab[data-type="condition"]');
                        $(`.category-parent-tab[data-type="${tab.attr('data-parent')}"]`).click();
                        tab.click();
                    });
                } else if (reviewDecision === 'TCUPI' && $('#tcupi_todo_other_bool').val() === 'YES' && $('#tcupi_to_do_other').val().trim().length === 0) {
                    fields = $('#tcupi_to_do_other');
                    openDialogAndPreventSubmit('#dialog-tcupi-todo-other-fill', e);

                    $('#dialog-tcupi-todo-other-fill').on('dialogclose', function(event, ui) {
                        $(`.category-parent-tab[data-type="review_decision"]`).click();
                        scrollToElement($(fields[0]), 500);
                        highlightElement(fields, '#facf7f', 'slow');
                        delayedHighlightField(fields, '#fff', 'slow', 5000);
                    });
                } else if (reviewDecision === 'TCUPI' && (!has_other_comment && !tcupiToDosIncluded)) {
                    fields = $('.tcupi-todo-containers');
                    openDialogAndPreventSubmit('#dialog-tcupi-todo-fill', e);

                    $('#dialog-tcupi-todo-fill').on('dialogclose', function(event, ui) {
                        $(`.category-parent-tab[data-type="review_decision"]`).click();
                        scrollToElement($(fields[0]), 500);
                        highlightElement(fields, '#facf7f', 'slow');
                        delayedHighlightField(fields, '#fff', 'slow', 5000);
                    });
                } else if (!mle1_comment_box.val().trim()) {
                    field = mle1_comment_box.closest('.boolean-field-parent');
                    openDialogAndPreventSubmit('#dialog-justification-fill', e);

                    $('#dialog-justification-fill').on('dialogclose', function(event, ui) {
                        $(`.category-parent-tab[data-type="review_decision"]`).click();
                        scrollToElement(field, 500);
                        highlightElement(field, '#facf7f', 'slow');
                        delayedHighlightField(field, '#fff', 'slow', 5000);
                    });
                }
            });

            $('.tcupi-bool-check').click(function() {
                if ($(this).attr('data-type') === 'TCUPI') {
                    $('#tcupi-checklist-container').show();
                } else {
                    $('#tcupi-checklist-container').hide();
                }
            });

            $('.tcupi-todo-other-btn').click(function() {
                $('#tcupi_todo_other_bool').val($(this).attr('data-type'));
                toggleDisabledAttr($('#tcupi_to_do_other'), $(this).attr('data-type') === 'NO');
            });
        </script>
    <% end %>
<% else %>
    <% content_for :page_end_scripts do %>
        <script>
            initializeToggleableFields('mle 2 approval');
            loadParentCategoryTabSelection();
            loadCategoryTabSelection();

            $('#save-and-transmit-submit').click(function(e) {
                approvalRemark      = $('#transaction_latest_medical_review_attributes_medical_mle2_comment').val().trim();
                reviewDecision      = $('#transaction_latest_medical_review_attributes_medical_mle2_decision').val();

                if (!reviewDecision) {
                    openDialogAndPreventSubmit('#dialog-review-decision-fill', e);
                    decisionField = $('#transaction_latest_medical_review_attributes_medical_mle2_decision').closest('.boolean-field-parent');

                    $('#dialog-review-decision-fill').on('dialogclose', function(event, ui) {
                        tab = $('.category-tab[data-type="decision"]');
                        $(`.category-parent-tab[data-type="${tab.attr('data-parent')}"]`).click();
                        tab.click();
                        scrollToElement(decisionField, 500);
                        highlightElement(decisionField, '#facf7f', 'slow');
                        delayedHighlightField(decisionField, '#fff', 'slow', 5000);
                    });
                } else if (!approvalRemark) {
                    commentField    = $('#transaction_latest_medical_review_attributes_medical_mle2_comment').closest('.comment-parent');
                    category        = commentField.closest('.category-switchable').attr('data-type');
                    openDialogAndPreventSubmit('#dialog-approval-remark-fill', e);

                    $('#dialog-approval-remark-fill').on('dialogclose', function(event, ui) {
                        tab = $(`.category-tab[data-type="${category}"]`);
                        $(`.category-parent-tab[data-type="${tab.attr('data-parent')}"]`).click();
                        tab.click();
                        scrollToElement(commentField, 500);
                        highlightElement(commentField, '#facf7f', 'slow');
                        delayedHighlightField(commentField, '#fff', 'slow', 5000);
                    });
                }
            });
        </script>
    <% end %>
<% end %>

<%= render "/shared/transactions_javascript_trigger" %>