<div class="card">
    <div id="filter-toggle" class="card-header d-flex align-items-center clickable">
        <strong class="mb-0">Filter</strong>
        <span class="flex-grow-1"></span>
        <i class="fas fa-chevron-down"></i>
    </div>

    <%= form_tag internal_pcr_reviews_path, method: 'get', id: "filter-form" do |form| %>
        <%= hidden_field_tag :per, params[:per] || get_per_options.first %>

        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label for="code" class="col-sm-3 col-form-label">Transaction ID</label>

                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="transaction_code" id="transaction_code" value="<%= params[:transaction_code] %>">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label for="code" class="col-sm-3 col-form-label">Worker Code</label>
                        <div class="col-sm-9">
                            <%= text_field_tag :worker_code, params[:worker_code], class: "form-control" %>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label for="code" class="col-sm-3 col-form-label">Review Status</label>
                        <div class="col-sm-9">
                            <select class="col-md-12 form-control select2" name="review_status">
                                <option value="">SELECT OPTION</option>
                                <option value="ALL" <% if params[:review_status] === "ALL" %> selected <% end %> >ALL</option>
                                <option value="PENDING_AUDIT" <% if params[:review_status] === "PENDING_AUDIT" || params[:review_status].nil? %> selected <% end %> >PENDING AUDIT</option>
                                <option value="AUDITED" <% if params[:review_status] === "AUDITED" %> selected <% end %> >AUDITED</option>
                                <option value="AUDITED_NORMAL" <% if params[:review_status] === "AUDITED_NORMAL" %> selected <% end %> >AUDITED - NORMAL</option>
                                <option value="AUDITED_ABNORMAL" <% if params[:review_status] === "AUDITED_ABNORMAL" %> selected <% end %> >AUDITED - ABNORMAL</option>
                                <option value="AUDITED_RETAKE" <% if params[:review_status] === "AUDITED_RETAKE" %> selected <% end %> >AUDITED - RETAKE</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label for="code" class="col-sm-3 col-form-label">Passport Number</label>
                        <div class="col-sm-9">
                            <%= text_field_tag :passport_number, params[:passport_number], class: "form-control" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer text-right">
            <%=raw filter_clear_button internal_pcr_reviews_path %>
            <%=raw filter_button %>
        </div>
    <% end %>
</div>

<% content_for :page_end_scripts do %>
<script>
$('#filter-toggle').click(function() {
    $('#filter-toggle i.fas').toggleClass('fa-chevron-down fa-chevron-left');
    $('#filter-form').slideToggle();
});
</script>
<% end %>