<div class="text-right mb-3">
    <%= link_to "Download PDF", internal_pcr_review_report_path(pcr_review.id, format: "pdf"), class: "btn btn-success font-weight-bold", target: :_blank %>
</div>

<%=render 'internal/xqccs/shared/perform_by_info', {
    name: pcr_review.pcr_user&.name,
    code: pcr_review.pcr_user&.code,
    label: 'PCR'
} %>

<form>
    <!-- pcr quality -->
    <%=render 'internal/pcr_reviews/shared/pcr_checklist_quality_show', { pcr_review: pcr_review } %>

    <!-- pcr reporting -->
    <%=render 'internal/pcr_reviews/shared/pcr_checklist_reporting_show', { pcr_review: pcr_review } %>

    <!-- pcr conclusion -->
    <%=render 'internal/pcr_reviews/shared/pcr_conclusion_show', { pcr_review: pcr_review } %>
</form>