<%= render 'shared/all_validation_flash', { model_obj: @foreign_worker } %>
<%=render "/shared/all_flash" %>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <%= form.label :name, class: 'required' %>
            <div class="form-row">
                <div class="col-md-11">
                    <%= form.text_field :name, class: 'form-control', required: true, placeholder: '', data: { parsley_maxlength: "150", parsley_maxlength_message: "Maximum length of 150 characters", parsley_pattern: "[a-zA-Z0-9@&.'()-_/\s]+", parsley_pattern_message: "Only alphabets, numbers, underscore(_), hypens (-), fullstops (.), alias (@), ampersand (&), apostrophe('), brackets and slashes (/) are allowed" }, readonly: true %>
                    <% if form.object.name_changed? %>
                        <p class="form-control-plaintext approval-previous-value"><%= form.object.name_was %></p>
                    <% end %>
                </div>
                <div class="col-md-1">
                    <button type="button" data-toggle="popover" data-placement="right" data-html="true"
                        data-content='
                                            <%= image_tag("forms/callingvisacompany1.png", :style => "width: 300px;")%>

                                            <h6>Or</h6>

                                            <%= image_tag("forms/workPermitNew.png", :style => "width: 300px;")%>

                                            ' title="" class="btn btn-primary btn-sm"><i
                            class="fa fa-info-circle"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <%= form.label :passport_number, "Passport Number", class: 'required' %>
            <%= form.text_field :passport_number, class: 'form-control', required: true, placeholder: 'A123456', data: { parsley_maxlength: "20", parsley_maxlength_message: "Maximum length of 20 characters", parsley_pattern: "[a-zA-Z0-9\-]+", parsley_pattern_message: "No special characters allowed" }, readonly: true  %>
            <% if form.object.passport_number_changed? %>
                <p class="form-control-plaintext approval-previous-value"><%= form.object.passport_number_was %></p>
            <% end %>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="required">Gender</label>
            <div>
                <div class="form-check form-check-inline mr-5">
                    <%= form.radio_button(:gender, "M", class: "form-check-input", required: true, disabled: true ) %>
                    <label class="form-check-label" for="foreign_worker_gender_m">Male</label>
                </div>
                <div class="form-check form-check-inline mr-5">
                    <%= form.radio_button(:gender, "F", class: "form-check-input", required: true, disabled: true ) %>
                    <label class="form-check-label" for="foreign_worker_gender_f">Female</label>
                </div>
                <% if form.object.gender_changed? %>
                    <p class="form-control-plaintext approval-previous-value"><%= ForeignWorker::GENDERS[form.object.gender_was].capitalize %></p>
                <% end %>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <%= form.label :date_of_birth, "Date of Birth", class: 'required' %>
            <%= form.date_field :date_of_birth, class: 'form-control', required: true, readonly: true %>
            <% if form.object.date_of_birth_changed? %>
                <p class="form-control-plaintext approval-previous-value"><%= form.object.date_of_birth_was.try(:strftime, get_standard_date_format) %></p>
            <% end %>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <%= form.label :country_id, class: 'required' %>
            <%= form.select :country_id, options_from_collection_for_select(Country.where("code != ?", Country::MALAYSIA_CODE).order(:name).all, 'id', 'name', form.object.country_id), {include_blank: form_select_option_text}, required: true, class: 'form-control select2', disabled: true%>
            <% if form.object.country_id_changed? %>
                <p class="form-control-plaintext approval-previous-value"><%= form.object.country_id_was.nil? ? '* EMPTY' : Country.find(form.object.country_id_was).try(:name) %></p>
            <% end %>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <%= form.label :arrival_date, class: '' %>
            <%= form.date_field :arrival_date, class: 'form-control', required: false, readonly: true %>
            <% if form.object.arrival_date_changed? %>
                <p class="form-control-plaintext approval-previous-value"><%= form.object.arrival_date_was.try(:strftime, get_standard_date_format) %></p>
            <% end %>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <%= form.label :job_type_id, "Job Type", class: 'required' %>
            <%= form.select :job_type_id, options_from_collection_for_select(JobType.order(:name).all, 'id', 'name', form.object.job_type_id), {include_blank: form_select_option_text}, required: true, class: 'form-control select2', disabled: true %>
            <% if form.object.job_type_id_changed? %>
                <p class="form-control-plaintext approval-previous-value"><%= form.object.job_type_id_was.nil? ? '* EMPTY' : JobType.find(form.object.job_type_id_was).try(:name) %></p>
            <% end %>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <%= form.label :monitoring, "Under Monitoring", class: 'required' %>
            <%= form.select :monitoring, options_for_select(ForeignWorker::MONITORINGS.invert, form.object.monitoring), {include_blank: form_select_option_text}, required: true, class: 'form-control select2', disabled: true %>
            <% if form.object.monitoring_changed? %>
                <p class="form-control-plaintext approval-previous-value"><%= ForeignWorker::MONITORINGS[form.object.monitoring_was] %></p>
            <% end %>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="required">PATI / Rehiring programme</label>
            <div>
                <div class="form-check form-check-inline mr-5">
                    <%= form.radio_button(:pati, true, class: "form-check-input", required: true, disabled: true) %>
                    <label class="form-check-label" for="foreign_worker_pati_true">Yes</label>
                </div>
                <div class="form-check form-check-inline mr-5">
                    <%= form.radio_button(:pati, false, class: "form-check-input", required: true, disabled: true) %>
                    <label class="form-check-label" for="foreign_worker_pati_false">No</label>
                </div>
                <% if form.object.pati_changed? %>
                    <p class="form-control-plaintext approval-previous-value"><%= form.object.pati_was ? 'Yes' : 'No' %></p>
                <% end %>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <%= form.label :plks_number, "PLKS Number", class: 'required' %>
            <div class="form-row">
                <div class="col-md-11">
                    <%= form.text_field :plks_number, class: 'form-control', required: true, placeholder: "0", maxlength: '3', pattern: '[0-9]*', readonly: true %>
                    <% if form.object.plks_number_changed? %>
                        <p class="form-control-plaintext approval-previous-value"><%= form.object.plks_number_was %></p>
                    <% end %>
                </div>
                <div class="col-md-1">
                    <button type="button" data-toggle="popover" data-placement="left" data-html="true"
                        data-content='<%= image_tag("forms/workPermitNew.png", :style => "width: 300px;")%>'
                        title="" class="btn btn-primary btn-sm"><i class="fa fa-info-circle"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 form-group">
        <label class="required">Block Purchase Medical Form</label>
        <div>
            <div class="form-check form-check-inline mr-5">
                <%= form.radio_button(:is_reg_medical_blocked, true, class: "form-check-input", required: true, disabled: true ) %>
                <label class="form-check-label" for="foreign_worker_is_reg_medical_blocked_true">Yes</label>
            </div>
            <div class="form-check form-check-inline mr-5">
                <%= form.radio_button(:is_reg_medical_blocked, false, class: "form-check-input", required: true, disabled: true ) %>
                <label class="form-check-label" for="foreign_worker_is_reg_medical_blocked_false">No</label>
            </div>
            <% if form.object.is_reg_medical_blocked_changed? %>
                <p class="form-control-plaintext approval-previous-value"><%= form.object.is_reg_medical_blocked_was ? "Yes" : "No" %></p>
            <% end %>
        </div>
    </div>
    <div class="col-md-6 form-group">
        <label class="required mt-2"><%= @foreign_worker.is_reg_medical_blocked ? "Block" : "Unblock" %> Purchase Medical Form Comment</label>
        <%= form.text_area :is_reg_medical_blocked_comment, class: 'form-control', disabled: true %>
        <% if form.object.is_reg_medical_blocked_comment_changed? %>
            <p class="form-control-plaintext approval-previous-value"><%= form.object.is_reg_medical_blocked_comment_was %></p>
        <% end %>
    </div>
</div>

<div class="row">
    <div class="col-md-6 form-group">
        <label class="required">Block SP Result Transmit</label>
        <div>
            <div class="form-check form-check-inline mr-5">
                <%= form.radio_button(:is_sp_transmit_blocked, true, class: "form-check-input", required: true, disabled: true ) %>
                <label class="form-check-label" for="foreign_worker_is_sp_transmit_blocked_true">Yes</label>
            </div>
            <div class="form-check form-check-inline mr-5">
                <%= form.radio_button(:is_sp_transmit_blocked, false, class: "form-check-input", required: true, disabled: true ) %>
                <label class="form-check-label" for="foreign_worker_is_sp_transmit_blocked_false">No</label>
            </div>
            <% if form.object.is_sp_transmit_blocked_changed? %>
                <p class="form-control-plaintext approval-previous-value"><%= form.object.is_sp_transmit_blocked_was ? "Yes" : "No" %></p>
            <% end %>
        </div>
    </div>
    <div class="col-md-6 form-group">
        <label class="required mt-2"><%= @foreign_worker.is_sp_transmit_blocked ? "Block" : "Unblock" %>  SP Result Comment</label>
        <%= form.text_area :is_sp_transmit_blocked_comment, class: 'form-control', disabled: true %>
        <% if form.object.is_sp_transmit_blocked_comment_changed? %>
            <p class="form-control-plaintext approval-previous-value"><%= form.object.is_sp_transmit_blocked_comment_was %></p>
        <% end %>
    </div>
</div>

<div class="row">
    <div class="col-md-6 form-group">
        <label class="required">Block Send to JIM</label>
        <div>
            <div class="form-check form-check-inline mr-5">
                <%= form.radio_button(:is_imm_blocked, true, class: "form-check-input", required: true, disabled: true ) %>
                <label class="form-check-label" for="foreign_worker_is_imm_blocked_true">Yes</label>
            </div>
            <div class="form-check form-check-inline mr-5">
                <%= form.radio_button(:is_imm_blocked, false, class: "form-check-input", required: true, disabled: true ) %>
                <label class="form-check-label" for="foreign_worker_is_imm_blocked_false">No</label>
            </div>
            <% if form.object.is_imm_blocked_changed? %>
                <p class="form-control-plaintext approval-previous-value"><%= form.object.is_imm_blocked_was ? "Yes" : "No" %></p>
            <% end %>
        </div>
    </div>
    <div class="col-md-6 form-group">
        <label class="required mt-2"><%= @foreign_worker.is_imm_blocked ? "Block" : "Unblock" %> Send to JIM Comment</label>
        <%= form.text_area :is_imm_blocked_comment, class: 'form-control', disabled: true %>
        <% if form.object.is_imm_blocked_comment_changed? %>
            <p class="form-control-plaintext approval-previous-value"><%= form.object.is_imm_blocked_comment_was %></p>
        <% end %>
    </div>
</div>

<div class="row">
    <div class="col-md-6 form-group">
        <label class="required">Blocked</label>
        <div>
            <div class="form-check form-check-inline mr-5">
                <%= form.radio_button(:blocked, true, class: "form-check-input", required: true, disabled: true ) %>
                <label class="form-check-label" for="foreign_worker_blocked_true">Yes</label>
            </div>
            <div class="form-check form-check-inline mr-5">
                <%= form.radio_button(:blocked, false, class: "form-check-input", required: true, disabled: true ) %>
                <label class="form-check-label" for="foreign_worker_blocked_false">No</label>
            </div>
            <% if form.object.blocked_changed? %>
                <p class="form-control-plaintext approval-previous-value"><%= form.object.blocked_was ? "Yes" : "No" %></p>
            <% end %>
        </div>
    </div>
</div>

<!-- uploaded documents -->
<div class="row">
    <div class="col">
        <label for="employer_uploads">Uploaded Documents</label>

        <table class="table table-bordered table-striped">
            <tr>
                <th>Category</th>
                <th>Documents</th>
                <th>Date Uploaded</th>
            </tr>

            <% @foreign_worker.uploads.each do |upload| %>
                <tr>
                    <td class="filenames"><%= upload.category %></td>

                    <td class="filenames">
                        <% upload.documents.each do |document| %>
                            <div><%= link_to document.filename, rails_blob_url(document), target: "_blank" %></div>
                        <% end %>
                    </td>
                    <td class="filenames"><%= upload.updated_at.try(:strftime, get_standard_datetime_format) %></td>
                </tr>
            <% end %>

            <% if @foreign_worker.uploads.blank? %>
                <tr><td colspan="3">There are no uploaded documents</td></tr>
            <% end %>
        </table>
    </div>
</div>
<!-- /uploaded documents -->
