<div class="card">
    <div class="card-header"><strong>Foreign Workers</strong> - Deactivate Foreign Worker</div>
        <%= form_for @foreign_worker, {url: deactivate_internal_employer_employer_worker_path(@employer, @foreign_worker), html: {multipart: true, class: "with-parsley"}} do |form| %>
            <!-- card-body -->
            <div class="card-body">

                <div class="card">
                    <div class="card-body">
                        <%= render 'foreign_worker' %>
                    </div>
                </div>

                <%= render 'shared/all_validation_flash', { model_obj: @foreign_worker } %>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <%= form.label :status, "Status", class: 'required' %>
                            <div class="form-check">
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="foreign_worker[status]" id="foreign_worker_status_ACTIVE" value="ACTIVE" <% if @foreign_worker.status == 'ACTIVE' %> checked <% end %> required data-parsley-errors-container="#status_errors">
                                        Active
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="foreign_worker[status]" id="foreign_worker_status_INACTIVE" value="INACTIVE" <% if @foreign_worker.status == 'INACTIVE' %> checked <% end %>>
                                        Inactive
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div id="status_errors"></div>
                    </div>
                </div>

            </div>
            <!-- /card-body -->

            <div class="card-footer text-right">
                <%=raw edit_back_button(internal_employer_employer_worker_path(@employer, @foreign_worker)) %>
                <%=raw edit_submit_button() %>
            </div>
        <% end %>
    </div>
</div>

<% content_for :page_end_scripts do %>
<script>
</script>
<% end %>