<div class="card">
    <div class="card-header"><strong>Foreign Workers</strong> - Monitor Foreign Worker</div>
        <%= form_for @foreign_worker, {url: monitor_internal_employer_employer_worker_path(@employer, @foreign_worker), html: {multipart: true}} do |form| %>
            <!-- card-body -->
            <div class="card-body">

                <div class="card">
                    <div class="card-body">
                        <%= render 'foreign_worker' %>
                    </div>
                </div>

                <%= render 'shared/all_validation_flash', { model_obj: @foreign_worker } %>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <%= label_tag :monitor_reason_id, "Reason for Monitoring", class: "required" %>
                            <select name="monitor_reason_id" id="monitor_reason_id" class="form-control select2" onchange="monitor_reason_changed(this)">
                                <option value=""><%= form_select_option_text %></option>
                                <% MonitorReason.order(:description).each do |monitor_reason| %>
                                    <option value="<%= monitor_reason.id %>" data-code="<%= monitor_reason.code %>"<%= " selected" if @monitor_reason.id == monitor_reason.id %>><%= monitor_reason.description %></option>
                                <% end %>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <%= label_tag :monitor_comment, "Comment", id: "label_monitor_comment", class: "#{' required' if @monitor_reason.code.eql?('9')}" %>
                            <textarea name="monitor_comment" id="monitor_comment" class="form-control"<%= " required" if @monitor_reason.code.eql?('9') %>><%= params[:monitor_comment] %></textarea>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /card-body -->

            <div class="card-footer">

                <div class="text-right">
                    <%=raw edit_back_button(request.env["HTTP_REFERER"] || internal_employer_employer_workers_path) %>
                    <%=raw edit_save_button() %>
                </div>
            
            </div>
        <% end %>
    </div>
</div>

<% content_for :page_end_scripts do %>
<script>
function monitor_reason_changed(sel)
{
    if ($('#monitor_reason_id > option:selected').attr('data-code') == '9') {
        $('#monitor_comment').prop('required', true);
        $('#label_monitor_comment').addClass('required');
    } else {
        $('#monitor_comment').removeAttr('required');
        $('#label_monitor_comment').removeClass('required');
    }
}
</script>
<% end %>