<div class="card">
    <div class="card-header"><strong>Foreign Workers</strong> - Editing Reverted Foreign Worker</div>
    <%= form_for @foreign_worker, {url: reverted_internal_employer_employer_worker_path(@employer, @foreign_worker), html: {multipart: true}} do |form| %>
        <%= render 'form', { form: form } %>

        <div class="card-footer">
        
            <div class="text-right">
                <%=raw edit_back_button(request.env["HTTP_REFERER"] || internal_employer_employer_workers_path) %>
                <%=raw edit_submit_for_approval_button %>
            </div>
        
        </div>
    <% end %>

    <%=render 'search_employer' %>
</div>