<div class="card">
    <div class="card-header">
        <strong>Filter</strong>
    </div>

    <%= form_tag "activities", method: 'get' do |form| %>
        <%= hidden_field_tag :per, params[:per] || get_per_options.first %>
        <div class="card-body">

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label for="code" class="col-sm-3 col-form-label">Category</label>

                        <div class="col-sm-9">

                            <select class="col-md-12 form-control select2" name="category">
                            <option value="">SELECT CATEGORY</option>
                            <option value="xqcc_pool" <% if params[:category] === "xqcc_pool" %> selected <% end %> >XQCC Pool</option>
                            <option value="xqcc_review" <% if params[:category] === "xqcc_review" %> selected <% end %> >XQCC Review</option>
                            <option value="pcr_pool" <% if params[:category] === "pcr_pool" %> selected <% end %> >PCR Pool</option>
                            <option value="pcr_review" <% if params[:category] === "pcr_review" %> selected <% end %> >PCR Review</option>
                            <option value="pending_review" <% if params[:category] === "pending_review" %> selected <% end %> >Pending Review</option>
                            <option value="pending_decision" <% if params[:category] === "pending_decision" %> selected <% end %> >Pending Decision</option>
                            <option value="pending_decision_approval" <% if params[:category] === "pending_decision_approval" %> selected <% end %> >Pending Decision Approval</option>
                            <option value="xqcc_retake" <% if params[:category] === "xqcc_retake" %> selected <% end %> >XQCC Retake</option>
                            <option value="xqcc_retake_approval" <% if params[:category] === "xqcc_retake_approval" %> selected <% end %> >XQCC Retake Approval</option>
                            <option value="pcr_retake" <% if params[:category] === "pcr_retake" %> selected <% end %> >PCR Retake</option>
                            <option value="pcr_retake_approval" <% if params[:category] === "pcr_retake_approval" %> selected <% end %> >PCR Retake Approval</option>
                            </select>

                        </div>
                    </div>
                </div>
<%
=begin %>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label for="code" class="col-sm-3 col-form-label">User</label>

                        <div class="col-sm-9">

                            <select class="col-md-12 form-control select2" name="owner_id">
                            <option value="">SELECT USER</option>
                            <% @users.each do |user| %>
                                <option value="<%= user.id %>" <% if params[:owner_id] === user.id.to_s %> selected <% end %> ><%= user.code %></option>
                            <% end %>
                            </select>

                        </div>
                    </div>
                </div>
<%                
=end
%>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label for="code" class="col-sm-3 col-form-label">Activity Date</label>

                        <div class="col-sm-8">
                            <div class="d-flex align-items-center">
                                <%= text_field_tag "start_date", params["start_date"], class: "form-control datepicker datepicker-range-filter flex-grow-1", placeholder: "Start Date", data: { type: "start", target: 'start_date' }, max: Date.today.strftime("%F") %>
                                <span class="mx-3">to</span>
                                <%= text_field_tag "end_date", params["end_date"], class: "form-control datepicker datepicker-range-filter flex-grow-1", placeholder: "End Date", data: { type: "end", target: 'end_date' }, max: Date.today.strftime("%F") %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-footer">
            <div class="text-right">
                <%=raw filter_clear_button "activities" %>
                <%=raw filter_button %>
            </div>
        </div>
    <% end %>
</div>