<div class="card">
    <div class="card-header">
        <strong>Roles</strong>
    </div>

    <!-- card-body -->
    <div class="card-body">
        <%=render "filter" %>

        <%=render '/shared/all_flash' %>

        <div class="row">
            <div class="col module-actions text-right">
                <% if has_permission?('CREATE_ROLE') %>
                    <%=raw index_table_new_button(new_internal_role_path) %>
                <% end %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="<%= index_table_class %>">
                    <thead>
                    <tr>
                      <th class="module-row-numbers">#</th>
                      <th>Code</th>
                      <th>Name</th>
                      <th>Category</th>
                      <th>Site</th>
                      <th>Password Policy</th>
                      <th>Status</th>
                      <th class="module-row-actions">Action(s)</th>
                    </tr>
                    </thead>

                    <tbody>
                    <% if @roles.blank? %>
                      <tr>
                        <td colspan="7" class="text-danger">No records found.</td>
                      </tr>
                    <% else %>

                      <% @roles.each.with_index((@roles.current_page - 1) * get_per + 1) do |role, index| %>
                        <tr>
                          <td class="module-row-numbers"><%= index %></td>
                          <td><%= role.code %></td>
                          <td><%= role.name %></td>
                          <td><%= role.category %></td>
                          <td><%= role.site %></td>
                          <td><%= role.password_policy.name %></td>
                          <td><%=raw tag_status role.status %></td>
                          <td class="module-row-actions">
                            <%=raw index_table_show_button(internal_role_path(role)) %>
                            <% if has_permission?('EDIT_ROLE') %>
                              <%=raw index_table_edit_button edit_internal_role_path(role) %>
                            <% end %>
                            <% if has_permission?('DELETE_ROLE') %>
                              <%=raw index_table_delete_button(internal_role_path(role)) %>
                            <% end %>
                          </td>
                        </tr>
                      <% end %>

                    <% end %>
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
        <div class="row">
            <%= paginate @roles %>
        </div>
    </div>
    <!-- /card-body -->
</div>