<div class="card">
    <div class="card-header"><strong>Employers</strong> - Employer Registration Detail</div>
    <div class="card-body">
        <%= render '/internal/employers/shared/employer_detail' %>
    </div>
</div>

<div class="card bg-light">
    <div class="card-header"><strong>Employers</strong> - Employer Registration Approval</div>
    <div class="card-body">

        <%= render 'shared/all_validation_flash', { model_obj: @employer } %>
        <%= render "/shared/all_flash" %>

        <%= form_tag registration_approval_internal_employer_path(@employer), method: 'patch', id: 'registrationApprovalForm' do |form| %>
            <div class="form-group">
                Assigned To: <%= "#{ User.find_by(id: @employer&.assigned_to)&.name }" %>
            </div>
            <div class="form-group">
                <label class="required" for="">Decision</label>
                <div class="col-form-label">
                    <div class="form-check form-check-inline mr-5">
                        <input class="form-check-input approval-decision" id="approval_decision_APPROVE" type="radio" value="APPROVE"
                            name="approve_action" required>
                        <label class="form-check-label" for="approval_decision_APPROVE">APPROVE</label>
                    </div>
                    <div class="form-check form-check-inline mr-5">
                        <input class="form-check-input approval-decision" id="approval_decision_REJECT" type="radio" value="REJECT"
                            name="approve_action" required>
                        <label class="form-check-label" for="approval_decision_REJECT">REJECT</label>
                    </div>
                    <div class="form-check form-check-inline mr-5">
                        <input class="form-check-input approval-decision" id="approval_decision_INCOMPLETE" type="radio" value="INCOMPLETE"
                            name="approve_action" required>
                        <label class="form-check-label" for="approval_decision_INCOMPLETE">INCOMPLETE</label>
                    </div>
                </div>
            </div>

            <div class="form-group" id="div_copy_documents" style="display:none">
                <label for="">Copy Documents To Employer</label>
                <div class="input-group">
                    <input style="display: none" name="employer_id" id="employer_id" value="">
                    <div class="form-control" id="employer_display"></div>
                    <span class="input-group-append">
                        <button id="select-employer-button" type="button" class="btn btn-primary" data-toggle="modal" data-target="#search-employer-modal">Select employer</button>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="required" for="">Comment</label>
                <textarea class="form-control" name="registration_comment" id="registration_comment" rows="3" ></textarea>
                <small id="" class="form-text text-muted">Comment is required when you Reject Employer Registration</small>
            </div>

            <% if has_permission?("APPROVAL_EMPLOYER") %>
                <div class="text-right">
                    <%=raw edit_back_button(internal_employers_path) %>
                    <button class="btn btn-sm btn-primary submit-decision" type="submit"><i class="icon-pencil"></i> Submit decision</button>
                </div>
            <% end %>

        <% end %>

    </div>
</div>
<%= render "search_employer" %>

<% content_for :page_end_scripts do %>
<script>

    // when decision changed, we conditionally required comment
    $('input[type=radio][name=approve_action]').change(function() {

        if (this.value === 'REJECT' || this.value === 'INCOMPLETE') {
            $('#registration_comment').prop('required', true);
        }
        else {
            $('#registration_comment').prop('required', false);
        }

        if (this.value === 'REJECT'){
            $('#div_copy_documents').show();
        }
        else{
            $('#div_copy_documents').hide();
            $('#employer_id').val("");
            $('#employer_display').empty();
        }
    });

    // check viewed attached documents
    $('.submit-decision').on('click',function (e){
        e.preventDefault();
        form = $('#registrationApprovalForm')
        submit_btn = $(this)
        submit_btn.prop('disabled', true);

        $.ajax({
            url: `<%= check_internal_documents_path %>`,
            method: 'GET',
            data: {
                type: 'Employer',
                id: `<%= @employer.id %>`
            },
            success: function (response) {
                if (response.has_viewed){
                    validity = form[0].checkValidity();
                    form[0].reportValidity();
                    if(validity){
                        form.submit();
                    }
                }else{
                    alert('Please review all the uploaded document(s) before approval.')
                }
            }
        }).done(function () {
            submit_btn.prop('disabled', false);
        })
    });

</script>
<% end %>