<%= form_for @visit_plan_request, url: create_visit_plan_request_internal_inspectorate_reports_path, html: {class: "with-parsley"}, local: true do |form| %>
    <div class="card">
        <div class="card-header">
            <strong>Inspectorate</strong> - New Visit Plan Request
        </div>
        <div class="card-body">    
                <%= render "/shared/all_flash" %>
                <%= render 'internal/reports/inspectorate/visit_plan_request/form', { form: form } %>
        </div>
        <div class="card-footer">
            <div class="text-right">
                <%=raw edit_back_button(visit_plan_request_internal_inspectorate_reports_path) %>
                <%=raw edit_save_button() %>
            </div>
        </div>
    </div>
<% end %>

<% content_for :page_end_scripts do %>
<script>
</script>
<% end %>
