<div class="text-info1" id="main-div">
                      <div class="statediv" id="main-statediv">
                        <div id="myRadioGroup" class="submap-title">
                          <h1>Malaysia </h1>
                          <div class="box div_Pekan div_statesvg">                         
                            <ul>
                              <li>
                                <div>
                                  <i class="fa fa-angle-right"></i> Total No of states
                                </div>
                                <div> <%= @states_count %></div>
                              </li>
                              <li>
                                <div>
                                  <i class="fa fa-angle-right"></i>Total Number of Doctors
                                </div>
                                <div> <%= @doctor_count %></div>
                              </li>
                              <li>
                                <div>
                                  <i class="fa fa-angle-right"></i>Total Number of X-ray
                                </div>
                                <div> <%= @xray_facility_count %> </div>
                              </li>
                              <li>
                                <div>
                                  <i class="fa fa-angle-right"></i> Total Number of Lab
                                </div>
                                <div> <%= @xray_count%> </div>
                              </li>
                              <li>
                                <div>
                                  <i class="fa fa-angle-right"></i>Total Number of Employer
                                </div>
                                <div><%= @employer_count%></div>
                              </li>
                              <li>
                                <div>
                                  <i class="fa fa-angle-right"></i> Total Number of FW
                                </div>
                                <div> <%= @fw_worker %> </div>
                              </li>
                              <li>
                                <div>
                                  <i class="fa fa-angle-right"></i> Number of Detectable Disease/Condition
                                </div>
                                <div> <%=@dtectcommunicable%></div>
                              </li>
                              <li class="p-0">
                                <div id="accordion1" style="width: 100%!important;float:left">
                                  <div class="card m-0">
                                    <div class="card-header" style="background: #be0022;
                                  color: #fff;">
                                      <a class="card-link" onclick="CommunicableOpenClose()" style="color: #fff; font-weight: 500; cursor:pointer" > <span style="width: 75%;float:left">Communicable Diseases </span><span style="float: right;width:25%"> <%=@dtectcommunicable%></div>
                              </li></span>
                                      </a>
                                    </div>
                                    <div id="collapseOne19" class="collapse" >
                                      <div class="card-body" style="float: left; padding: 0px;">
                                        <div class="box div_Pekan div_statesvg">
                                          <ul>
                                            <li>
                                              <div style="font-weight: 400;">
                                                <i class="fa fa-angle-right"></i>Tuberculosis
                                              </div>
                                              <div> <%=@dtectcommunicabletuber%> </div>
                                            </li>
                                            <li>
                                              <div style="font-weight: 400;">
                                                <i class="fa fa-angle-right"></i> Hepatitis B
                                              </div>
                                              <div> <%=@dtectcommunicablehepa%> </div>
                                            </li>
                                            <li>
                                              <div style="font-weight: 400;">
                                                <i class="fa fa-angle-right"></i> Syphilis
                                              </div>
                                              <div> <%=@dtectcommunicablesyphilis%> </div>
                                            </li>
                                            <li>
                                              <div style="font-weight: 400;">
                                                <i class="fa fa-angle-right"></i> HIV/AIDS
                                              </div>
                                              <div> <%= @dtectcommunicablehiv%> </div>
                                            </li>
                                            <li>
                                              <div style="font-weight: 400;">
                                                <i class="fa fa-angle-right"></i> Malaria
                                              </div>
                                              <div> <%=@dtectcommunicablemalaria%> </div>
                                            </li>
                                            <li>
                                              <div style="font-weight: 400;">
                                                <i class="fa fa-angle-right"></i> Leprosy
                                              </div>
                                              <div> <%=@dtectcommunicableleprosy%> </div>
                                            </li>
                                          </ul>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="card m-0">
                                    <div class="card-header" style="background: #be0022;
                                  color: #fff;">
                                      <a class="collapsed card-link" onclick="NonCommunicableOpenClose()" style="color: #fff; font-weight: 500;"> <span style="width: 75%;float:left"> Non-Communicable Disease</span> <span style="float: right;width:25%"> <%=@dtectnoncommunicable%></span>
                                      </a>
                                    </div>
                                    <div id="collapseTwo19" class="collapse" >
                                      <div class="card-body" style="float: left; padding: 0px;">
                                        <div class="box div_Pekan div_statesvg">
                                          <ul>
                                            <li>
                                              <div>
                                                <i class="fa fa-angle-right"></i>Pregnancy
                                              </div>
                                              <div> <%=@dtectnoncommunicablepreg%> </div>
                                            </li>
                                            <li>
                                              <div>
                                                <i class="fa fa-angle-right"></i> Urine Opiates
                                              </div>
                                              <div> <%=@dtectnoncommunicableurine%></div>
                                            </li>
                                            <li>
                                              <div>
                                                <i class="fa fa-angle-right"></i> Urine Cannabis
                                              </div>
                                              <div> <%=@dtectnoncommunicablecannabis%> </div>
                                            </li>
                                            <li>
                                              <div>
                                                <i class="fa fa-angle-right"></i> Psychiatric Illness
                                              </div>
                                              <div> <%=@dtectnoncommunicableillness%> </div>
                                            </li>
                                            <li>
                                              <div>
                                                <i class="fa fa-angle-right"></i> Epilepsy
                                              </div>
                                              <div> <%=@dtectnoncommunicableepilesy%> </div>
                                            </li>
                                            <li>
                                              <div>
                                                <i class="fa fa-angle-right"></i> Cancer
                                              </div>
                                              <div> <%=@dtectnoncommunicablecancer%> </div>
                                            </li>
                                            <li>
                                              <div>
                                                <i class="fa fa-angle-right"></i> Hypertension
                                              </div>
                                              <div> <%=@dtectnoncommunicablehypertens%></div>
                                            </li>
                                            <li>
                                              <div>
                                                <i class="fa fa-angle-right"></i> Diabetes
                                              </div>
                                              <div> <%=@dtectnoncommunicablediabetes%> </div>
                                            </li>
                                            <li>
                                              <div>
                                                <i class="fa fa-angle-right"></i> Kidney Disease
                                              </div>
                                              <div> <%=@dtectnoncommunicablekidney%></div>
                                            </li>
                                            <li>
                                              <div>
                                                <i class="fa fa-angle-right"></i> Heart Disease
                                              </div>
                                              <div> <%=@dtectnoncommunicableheart%> </div>
                                            </li>
                                            <li>
                                              <div>
                                                <i class="fa fa-angle-right"></i> Peptic Ulcer
                                              </div>
                                              <div> <%=@dtectnoncommunicableulcer%> </div>
                                            </li>
                                            <li>
                                              <div>
                                                <i class="fa fa-angle-right"></i> Bronchial Asthma
                                              </div>
                                              <div> <%=@dtectnoncommunicableasthama%> </div>
                                            </li>
                                            <li>
                                              <div>
                                                <i class="fa fa-angle-right"></i> Others
                                              </div>
                                              <div> <%=@dtectnoncommunicableothers%> </div>
                                            </li>
                                          </ul>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </li>
                            </ul>                         
                          </div>
                        </div>
                      </div>
                    </div>