<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdn2.hubspot.net/hubfs/476360/Chart.js"></script>
  <script src="https://cdn2.hubspot.net/hubfs/476360/utils.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <!-- Google Charts -->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <!-- Date Range Picker -->
  <!-- Make sure to include your custom scripts here if needed -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
  <!--  <link rel="stylesheet" href="/assets/stylenew.css">-->
  <%= stylesheet_link_tag "dashboards/stylenew" %>
  <%= javascript_include_tag 'dashboards/bootstrap' %>
  <%= javascript_include_tag 'dashboards/common' %>
</head>
<body>
<div class="header">

  <div class="card">

    <div class="card-header">

      <strong style="line-height: 40px">Geographical</strong>
      <span class="float-right card-headermenu">
      <ul class="navbar-nav ml-auto">


        <% if has_permission?('DASHBOARD_GEO_REFRESH') %>
          <li class="nav-item dropdown">
            <div class="filter-content mx-0 px-0" href="#" onclick="refreshClick()" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="filter-li">
              <span>
                <b>
                  <i class="fa fa-refresh" aria-hidden="true"></i>
                </b> &nbsp;Refresh </span>
                <div id="refreshopen" class="dropdown-menu dropdown-menu-right shadow animated--grow-in m-0 p-0" aria-labelledby="userDropdown">
                  <ul class="li-profile">
                    <li style="border-bottom: dotted 1px #c2c2c2; font-size: 12px; ">
                      <a class="dropdown-item" id="div5min" onclick="handleRefreshInterval(300000)"> 5 Min </a>
                    </li>
                    <li style="border-bottom: dotted 1px #c2c2c2; font-size: 12px;">
                      <a class="dropdown-item" id="div10min" onclick="handleRefreshInterval(600000)">10 Min</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
        <% end %>

        <li class="nav-item dropdown">
          <div class="filter-content mx-0 px-0">
            <i class="fas fa-expand full-screen fullscreen-icon" onclick="toggleFullScreen()"></i>
            <i class="fas fa-compress full-screen fullscreen-icon" style="display: none;" onclick="exitFullScreen()"></i>
          </div>
        </li>

      </ul>
    </span>
      <!-- Topbar Navbar -->


    </div>
    <div class="card-body p-0" >

      <div class="filter-div">
        <ul class="filter mobile-filter mb-0">
          <li class="mx-0">
            <div class="month-filter">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="fa fa-map-marker"></i>
                  </span>
                  </div>
                  <select id="state-select" class="form-control" aria-label="Filter select" onchange="towns_collect()">
                    <option value="">Select State</option>
                    <option>All</option>
                    <% @states.each do |state| %>
                      <option value="<%= state.second %>"><%= state.second %> </option>
                    <% end %>
                  </select>
                </div>
              </div>
            </div>
          </li>
          <li class="mx-0">
            <div class="month-filter">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="fa fa-map-marker"></i>
                  </span>
                  </div>
                  <div id="towns-list"><%= render 'town_drop_down' %> </div>
                </div>
              </div>
            </div>
          </li>
          <li class="mx-0">
            <div class="month-filter">
              <div class="form-group">
                <div class="input-group input-daterange">
                  <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="fa fa-calendar"></i>
                  </span>
                  </div>
                  <input type="text" class="form-control" name="daterange" value="01/01/2018 - 01/15/2018">
                </div>
              </div>
            </div>
            <script>
                $(function () {
                    $('.datepicker').datepicker({
                        language: "es",
                        autoclose: true,
                        format: "dd/mm/yyyy"
                    });
                });
            </script>
            <script>
            $.noConflict();
            jQuery( document ).ready(function( $ ) {
              $(document).ready(function () {
                  $('input[name="daterange"]').daterangepicker({
                      "startDate": "01/01/2023",
                      "endDate": "31/12/2023",
                      opens: 'center',
                      locale: {
                          format: 'DD/MM/YYYY'
                      }
                  });
              });
          });
                $(document).ready(function () {
                    $(".dropdown-toggle").click(function () {
                        $(".caret").toggleClass('rotate-180');
                    });
                });
            </script>
          </li>
          <li class="mx-0">
            <div class="month-filter ">
              <div class="filter-btn" style="margin-top: 8px;">
                <button onclick="filter_geo()" class="btn-apply"> Apply</button>
                <button class="btn-clear" onclick="clear_filter()">Clear</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="dashboard-body">
        <div class="chard-box">
          <section class="interactive-map">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12">
                  <div class="map" id="divtotal_malaysialist">
                    <div class="map-title"> Malaysia</div>
                    <div class="svg-malasyamap" style="height: 500px">
                      <% if has_permission?('DASHBOARD_GEOGRAPHICAL') %>
                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 849.5 626.5 270" enable-background="new 0 864.5 600.5 270" xml:space="preserve">
                          <a onclick="districtsabah_map('SABAH')">
                            <path id="area-eleven-zoom" fill="#7BEA05" stroke="#000000" stroke-width="0.3636" stroke-miterlimit="10" d="M573.883,981.06
  l-1.424-2.213l1.187-0.106l2.768,0.474l0.275,1.107l-2.253,0.211L573.883,981.06z M566.807,972.523l0.632,0.474l1.462-0.58
  l1.897,0.843l-0.908,0.581l-0.118,1.001l-0.909-0.791l-0.475,0.791l-3.241-1.528l-3.873-1.055l2.964-0.263l1.896-0.685
  L566.807,972.523z M555.544,928.626l-1.147-0.316l1.028-1.001l1.502,0.105l-0.077,0.737L555.544,928.626z M527.284,897.745
  l-2.291-0.158l-1.305-0.58l0.711-1.108l1.896-0.053l1.028-0.527l-0.197-0.947l-1.305-0.054l0.277-1.002l2.134-0.58l1.58,2.372
  l-0.158,1.158L527.284,897.745z M511.554,871.817l-0.474,1.475l-0.711-0.632l-0.752,0.949l0.435,0.685l-3.596,0.896l0.711,0.791
  l-1.067,0.633l-0.949-0.265l1.818-3.32l2.292-0.843l1.542-1.793L511.554,871.817z M520.525,876.244l-4.111,1.107l-2.016,1.106
  l-1.027,1.581l-0.553-3.847l0.277-2.529l3.518-2.687l3.28-0.58l0.909,0.315l0.474,1.476L520.525,876.244z M544.793,991.758
  l-6.364-0.053l-1.265-0.211l-2.252-2.003l0.79-1.37l1.384-0.58l3.121,0.792l1.543,1.792l2.646,0.685L544.793,991.758z
   M451.44,961.14l2.173-2.424l1.978-0.685l0.948-0.896l0.553-3.479l1.265-2.002l-1.659,0.158l-2.688-0.527l-3.32-3.003l-0.436-1.002
  l-1.106,0.316l0.592-2.372l1.107-1.581l1.938-1.213l0.87-1.317l2.647-1.896l1.344-2.898l0.711-0.685l0.554,0.791l-1.305,2.477
  l0.751,1.107l0.554-1.845l2.055,1.475l3.32,0.264l2.057-0.421l1.185-1.002l1.698-3.161l0.988-3.899l0.949-1.055l3.359-1.949
  l0.593-0.633l0.594-3.372l2.291-3.741l0.554-1.635l-0.595-1.107l-0.828,0.316l0.079-1.212l1.777-0.791l1.778-2.688l1.938-1.054
  l1.461,0.527l0.041-1.634l-2.134,0.105l1.778-1.318l1.382-0.265l1.028-2.528l5.849-4.321l0.633-2.847l1.186-0.686l3.478-4.901
  l0.078-2.634l0.792-1.318l0.039-2.107l1.384-1.055l0.475-2.687l2.212-1.948l0.476,0.999l1.541,1.001l0.751,3.162l-1.107-0.474
  l-0.436,1.528l1.581,0.947l0.237,0.791l-0.553,2.477l-1.266,1.793l-1.185,2.95l0.197,1.318l1.503,0.368l5.612-4.742l0.355-1.793
  l2.768-3.478l-1.068-2.424l0.355-1.265l1.107,0.21l0.395-2.054l1.543,0.263l0.909-0.686l1.897,0.791l2.291,1.686l-0.197,2.478
  l-0.83,1.317l0.276,1.423l1.345,1.739l0.315,3.057l1.067,1.738l2.096,0.107l2.886,2.739l1.659-0.369l1.778-2.214l0.158,1.634
  l0.751,1.424l2.174,1.053l0.949-0.315l2.016,2.635h1.185l0.632,2.319l-0.552,1.054l0.395,1.002l-0.594,3.109l-1.816-0.157
  l-1.384,0.685l-1.383,1.634l2.411,4.427l-1.067,1.107l0.118,1.053l1.305,1.318l-2.056,1.95l-4.742,1.633l-0.908,1.002l3.755-1.317
  l5.176-0.317l2.53,0.106l-0.118-1.371l4.228-0.368l2.135-1.95l1.225-1.634l1.621-0.474l2.016,2.739l0.236,2.161l1.818,2.528
  l-1.108,1.528l-1.382,0.581l-4.547-0.211l-1.106,1.159l0.513,0.474l1.146,2.951l0.476,0.316l2.726-1.107l2.568,0.105l1.028,0.843
  l1.265-2.846l-0.237-1.107l3.794-1.318l2.924,1.318l0.948-0.791l1.7,0.686l3.833,2.267l3.043,2.002l-0.593,1.37l-0.711,3.793
  l0.514,0.791l1.068-2.107l0.078-1.423l0.948-0.685l1.582,0.526l2.489,2.847l2.372,0.948l0.751,1.687l0.474-1.055l1.778,1.371
  l1.463,0.58l1.106,2.477l1.068-0.264l-0.199-1.213l1.384-0.315l1.778,0.947l1.146,0.054l2.925-1.475l1.542,0.158l2.607,3.109
  l-0.355,3.373l0.118,2.687l-2.687,2.794l-1.503,0.843l-6.838,2.53l-6.995,2.056l-1.344,0.844l-2.607,0.791l-3.637-1.055l-0.909,0.21
  l-1.938,1.318l-0.83-0.315l-2.213-3.005l-2.648-0.738l-2.489,2.32l-1.462-0.317l-1.305,0.791l-3.042,3.161l-0.04,0.896l1.344,0.843
  l1.818,3.057l2.213,2.32l2.095,1.633l1.461,0.211l0.949,1.318l1.146,0.632l0.632-0.792l1.186,0.527l0.474,1.001l-0.751,1.422
  l1.343,1.318l1.779-1.159l1.779,0.527l-0.198,0.527l1.938,2.319l-0.711,0.948l-1.305-0.369l0.04,1.211l-1.897,1.424h-2.094
  l-3.558,0.474l-1.462-0.526l-0.791,0.843l-3.398,1.001l-3.912,0.527l-4.98,2.582l-4.229-0.947l-2.767-2.056l-0.395-0.896
  l-2.965-0.791l-0.83-0.527l-1.383-2.16l-2.45,1.687l1.067,1.159v1.581l0.673,0.947l-0.436,1.265l-1.542,1.688l1.068,1.158
  l-2.252,0.632l-0.949-0.526l-1.66,0.053l-2.332-0.474l-3.002-2.846l-3.044-1.582l-2.174-1.949l-1.977,0.737l-6.916,0.105
  l-2.134-0.526l-4.467,0.526l-3.518-1.37l-1.185,1.055l-2.412-0.158l-1.462,0.421l-1.62-2.424l-1.778,1.792l0.276,0.895l-1.778,0.316
  l-0.909,0.948l-1.186-0.157l-1.463-2.373l-1.541-0.947l-3.084,1l-3.872-0.843l-0.593,1.266l-3.359,2.792l-1.027-0.685l-0.355-1.213
  l-1.62-0.843l-2.333-0.316l-1.303-1.423l-0.831,1.739l-0.157,2.372l-2.292,2.214l-0.909-0.632l-3.517,3.531l-0.476-1.424
  l0.237-1.845l1.108-1.527l0.513-1.475l-1.503-2.161l-1.461-0.474l-0.593-2.898l-0.751-1.476l-0.04-3.478l1.266-2.108l0.751-3.479
  l0.75-0.737l0.988-2.687l-0.83-4.374l-0.514-0.686l-4.071,0.21L451.44,961.14z"/>
                          </a> <a onclick="districtsarawak_map('SARAWAK')">
                          <path id="area-twelve-zoom" fill="#8CD5F7" stroke="#000000" stroke-width="0.3636" stroke-miterlimit="10" d="M299.986,1058.421
  l-1.621,1.054l-1.027-2.055l-1.304-1.476l0.396-3.161l-0.671-6.376l0.078-1.897l0.555-1.212l1.303,0.475l1.146,2.792v6.693
  l0.317,2.846L299.986,1058.421z M451.44,961.14l3.478,0.369l4.071-0.21l0.514,0.685l0.829,4.375l-0.988,2.687l-0.75,0.737
  l-0.751,3.479l-1.266,2.107l0.041,3.479l0.751,1.475l0.592,2.898l1.463,0.473l1.503,2.16l-0.514,1.476l-1.107,1.527l-0.237,1.846
  l0.475,1.422l-1.107,5.64l-1.108,1.95l-1.579,1v0.791l1.896,1.528v1.318l-1.462,4.374l-0.08,3.9l0.949,2.267l-0.039,1.58
  l1.027,2.424l-0.555,0.895l-1.066-0.315l-1.503,2.582l-1.305,5.691l1.265,1.896l-1.304,1.738l-0.672,3.003l-2.174,0.476
  l-3.638,1.264l-2.567-2.107l-1.7,2.793l-2.173,1.476l-1.502,2.635l-1.227,1.159l1.423,2.529l-1.58,1.475l0.354,1.948l-0.592,2.373
  l0.988,0.579l1.225-0.525l1.738,0.632l1.146,1.527l0.514,1.582l-0.475,0.737l-2.529,0.422l-2.213,2.108l-3.557,2.477l-1.462-0.105
  l-0.712,1.106l0.158,1.317l-1.265,0.846l-2.886,0.368l-1.146,0.633l-1.026,3.583l1.067,4.427l1.938-0.317l0.513,0.791l-0.592,2.477
  l0.079,2.16l-2.607,1.265l-2.016,0.264l-1.423,1.528l0.314,2.214l-0.434,2.635l-1.66,3.637l-2.331,2.372l0.197,2.477l-0.869,1.37
  l-1.7-0.053l-3.833-2.583l-1.621,0.054l-5.69,2.423l-1.659,0.474l-1.107-1.106l-2.924-0.37l-5.454,0.791l-1.543,1.001l-2.291,2.898
  l-5.969,4.057l-2.017-0.316l-1.896-2.266l-1.62-0.527l-2.253,0.844l-1.739-0.053l-2.768-2.214l-1.818-0.632l-4.426-0.79
  l-2.609-1.635l-1.461-0.104l-3.479,0.737l0.119-0.737l2.134-2.215l0.198-1.686l-1.896-1.213l-2.451-0.053l-2.016-0.474l-2.016,1.475
  l-1.225-0.316l-11.265-0.58l-2.728,1.635l-3.913,0.737l-4.346,2.108l-0.791,1.845l0.909,1.159l-1.186,2.372l-1.978,5.797
  l-1.738,0.789h-3.082l-2.373,0.739l-3.319,4.005l-2.254,0.632l-4.07-1.475h-1.227l-3.201,1.265l-1.344,1.475l-0.791-2.055
  l-1.068-0.369l-2.213,0.579l-1.66-0.264l-5.059-2.318l-0.79-0.054l-8.498,2.213l-2.373,0.054l-2.173,0.686l-2.135,1.791
  l-0.474,1.634l-3.042,0.212l-2.135,1.053l-1.304-0.737l-2.252,1.635l-1.818-0.265l-3.162-2.003l-1.58-2.212l-1.108-0.738
  l-3.358-0.264l-0.237-1.738l-3.281-5.165l-2.885-0.686l-1.58-0.894l-0.83-1.477l-2.055-1.317l-0.908-1.211l-0.712-2.268
  l-1.185-0.948h-2.253l-1.581-2.423l-0.949,0.314l-0.355-1.475l-3.358-2.898l-1.344-2.477l0.237-4.796l-0.198-0.738l-2.373-0.264
  l-1.264-1.001l-0.671-2.898l0.355-1.053l1.383-1.159l2.015-3.109l0.711-2.002l0.671,3.794l-0.355,1.738l1.462,2.477l1.462,1.317
  l2.332,1.001l3.557,2.003l1.542,2.635l2.412,0.054l1.857-0.474l4.822,0.105l1.66,0.738l1.62-0.896l1.382,1.213l0.633-1.581
  l-0.199-2.108l1.581-1l0.87,3.108l2.094,0.738l0.829-0.844l2.45-0.844l0.475,0.685l-1.186,2.794l-0.91,1.106l2.095-0.264
  l0.593,1.159l2.488-0.158l4.704,2.108l0.237,1.845l-2.095,1.635l1.779,0.105l1.858-1.739l-0.277-2.002l1.028-0.791l1.739,0.21
  l3.241,1.37l1.619,1.056l2.886,2.897l4.19,2.319l2.964-1.054l4.072,2.372l1.62-0.791l-2.174-0.526l-0.515-1.317l-1.937-0.686
  l-2.371,0.686l-1.543-0.158l-1.818-1.529l-2.332-1.158l-1.543-3.003v-1.476l1.185-3.215l2.174-0.369l1.581,0.212l1.581,2.107
  l1.542-0.948l-1.778-0.316l-0.671-1.37l-0.949-0.21l-1.265-2.794l1.225-0.895l-0.71-0.685l0.474-1.424l2.016-3.794l1.383-4.585
  l2.135,0.211l-0.949-0.79l0.434-1.423l2.807,0.579l1.778-1.634l-0.238-0.579l-1.145,1.475l-2.569-0.896l-3.242,0.316l-0.238-1.265
  l0.831-1.265l1.503-0.158l-2.055-1.476l0.91-5.111l1.422-1.792l2.094,1.37l2.411,2.267l3.123-1.213l1.699,1.055l-2.608-3.109
  l-0.712-2.158l3.123,0.368l1.303-0.632l-2.253-0.686l-1.461-1.212l-0.198-1.528l0.87-3.794l0.672-1.001l2.726-2.055l5.295-3.109
  l7.233-1.37l5.771-0.211l21.224-5.532l5.771-1.214l9.327-2.898l1.265-0.685l2.016-2.159l0.79-1.476l-0.475-0.844l3.677-3.161
  l1.265-2.003l2.925-2.582l1.186-2.848l3.122-3.373l0.909-1.527l0.751-2.478l2.253-1.422l9.168-7.958l7.945-10.328l0.79-1.792
  l-0.276-1.528l0.829-1.264l0.396-3.375l-0.829-3.582l1.107-0.844l2.449,1.159l2.056,0.316l4.742,3.109l0.869,1.634l1.028,4.585
  l-0.514,2.003l2.924,0.42l2.213-0.21l2.174,4.321l3.438,3.11l0.632,1.633l1.543,0.212l1.777-1.055l3.479-3.319l0.79-2.898
  l1.106-1.949l-1.303-0.948l2.054-2.794l0.436-2.528l-1.581-0.316l-0.87-2.477l-0.196-4.427l-1.304-3.741l0.395-0.948l4.741-2.793
  l2.648-0.264l0.396-1.791l2.134-1.896l0.514,3.636l-0.276,3.004l0.475,4.585l1.659,4.427l0.436,3.741l0.79,0.896l2.925,1.001
  l1.146-0.106l3.873,1.687l1.383-0.526l-0.632-1.635l-2.215-2.423l-0.474-1.475l-0.197-3.11l0.237-3.056l-2.451-7.167l-2.251-2.319
  l-0.04-0.844l1.62-0.316l0.355-1.265l0.948-0.264l0.75,0.843l1.859,0.369l0.394,0.737l2.056,0.158L451.44,961.14z"/>
                        </a><a onclick="districtlabuan_map('LABUAN')">
                          <path fill="#FF0066" stroke="#000000" stroke-width="0.3636" stroke-miterlimit="10" d="M445.353,948.651l-0.633,0.686l-1.107-0.476
  l-2.016,1.265l1.146-3.53l1.978-1.634L445.353,948.651z"/>
                        </a><a onclick="districtpinang_map('PULAU PINANG')">
                          <path id="area-thirteen-zoom" fill="#7BEA05" stroke="#000000" stroke-width="0.3636" stroke-miterlimit="10" d="M41.612,937.992
  l1.464,1.539l-0.799,1.539l-0.398,2.545l-1.289,2.842l-4.838-0.71l0.755-1.008l-0.089-4.438l-0.621-1.243l0.577-1.597l1.154,0.769
  l0.754-0.829l1.731-0.178L41.612,937.992z M45.651,952.907l1.243-3.137l-0.532-2.605l0.532-2.426l-1.997-3.374l-0.267-1.657
  l0.311-3.789l-1.332-3.137l6.48,0.414l1.465,0.473l-0.398,3.611l0.709,9.233l0.665,5.207l-1.066,0.831l-1.375-0.296l-1.021-0.118
  L45.651,952.907z"/>
                        </a><a onclick="districtkedah_map('KEDAH')">
                          <path id="area-nine-zoom" fill="#55B6D7" stroke="#000000" stroke-width="0.3636" stroke-miterlimit="10" d="M24.388,895.731
  l-0.577,1.184l0.666,1.48l-2.973,1.361l-0.178-1.125l-1.642,0.356l-1.331,1.539l-2.176,0.947l-0.577-2.249l0.178-1.895l-2.663-0.473
  l-0.577-1.421v-1.835l1.064,0.355l2.309-0.297l0.666,0.475l2.176,0.059l1.287-1.362l1.642-0.532l0.666,1.657L24.388,895.731z
   M21.103,900.764l-0.71,0.889l0.222,2.308l-1.11,1.539l-1.642-2.367l1.464-2.19l1.642-0.946L21.103,900.764z M43.609,932.783
  l-0.399-4.498l0.888,0.295l0.978-0.769l-0.978-0.651l0.533-5.268l-1.109-8.997l-1.509-2.604l-0.799-2.072l-1.553-2.959l-0.533-1.774
  l-2.131-1.836l0.711-1.656l4.928-5.564l1.82-1.421l0.532-3.196l1.42,0.533l2.574,0.118l2.175,1.421l4.217,1.538l1.598,0.06
  l2.841-2.012h0.755l0.533,1.951l1.376,0.118l1.42,1.48l0.089,2.13l0.933,2.25l-0.354,2.545l0.489,1.006l0.977-0.473l2.441,0.592
  l1.998-1.479l0.843-0.118l2.13,1.419l2.619-0.236l0.311,2.545l-1.598,1.42l-0.044,1.007l1.509,1.36l0.31,0.888l-0.31,4.263
  l-0.755,3.137l-2.485,0.946l-2.264,4.735l0.31,0.829l-0.755,0.354l1.288,1.954l-0.666,2.841l-1.687,1.717l0.754,1.539l-0.133,1.54
  l-1.287,2.307l-0.843-0.059l-1.11,1.657l-0.578,4.143l-0.977,1.42l-3.417,0.829l-0.888,1.657l-1.776,1.54l-0.755,1.834l-3.151,2.841
  l-0.444,1.007l-2.176,1.775l-1.731-0.829l-0.621-1.599l1.376,0.297l1.064-0.829l-0.665-5.208l-0.709-9.233l0.399-3.611l-1.465-0.473
  L43.609,932.783z"/>
                        </a><a onclick="districtselangor_map('SELANGOR')">
                          <path id="area-seven-zoom" fill="#ED8080" stroke="#000000" stroke-width="0.3636" stroke-miterlimit="10" d="M83.161,1046.72
  l-0.71,0.178l0.044-1.007l1.198,0.119L83.161,1046.72z M83.872,1049.562l-0.356-0.651l1.731-3.669l1.331-0.061l-0.044,2.486
  L83.872,1049.562z M103.626,1066.251l-2.131-1.42l-2.442-0.473l-3.375-1.066l-1.776-1.242l-3.196-4.617l-1.376-1.243l-3.905-0.651
  l-1.11-0.71l0.799-2.013l-0.932-0.77l2.22-2.724l1.775-1.302l-0.31-3.373l-1.865-2.131l-1.11-6.688l-2.175-2.072l-0.577-1.065
  l-1.688-0.711l-2.53-3.729l-1.376-1.421l-1.509-2.723l-0.754-2.959l-0.755-0.946l-4.971-3.373l-1.82-2.724l-3.285-1.301l0.488-1.896
  l0.755-0.65l4.528-0.71l0.133,1.242l1.376,1.124v1.598l0.932-1.065l1.154-0.177l1.642,0.769l0.133,1.301l1.286-1.065l0.445,1.242
  l-1.021,0.711h1.332l0.755-0.829l1.998,1.597l1.286-0.236l0.799,0.592l1.376-0.119l0.266,1.718l2.663-0.178l1.375-1.183
  l-0.977-2.842l1.066-1.124l1.42,0.177l0.532,0.889l2.086,0.888l1.067,1.6l2.707,1.655l1.731-1.478l1.998-2.547l0.798-0.236
  l1.242,2.013l1.598,1.066l1.82,0.474l1.509,0.888l2.085,3.433l-0.266,1.718l-0.932,0.769l-0.977,2.19l0.888,3.433l-0.888,1.895
  l2.884,3.788l2.397,1.065l1.42,0.237l0.577,0.236l0.755,1.836l-0.133,1.183l0.799,2.368l-0.267,2.013l0.356,2.37l-1.11,1.123
  l-0.354,2.072l-1.376,1.36l-0.533,2.369l-1.244,1.066l-3.418-0.354l-1.066,0.116l0.578,5.563l-1.553,3.196L103.626,1066.251z"/>
                        </a><a onclick="districtpahang_map('PAHANG')">
                          <path id="divtotal_statesbtn" fill="#C7A27B" stroke="#000000" stroke-width="0.3636" stroke-miterlimit="10" d="M210.341,1058.32
  l1.553-1.835l-0.31-2.07l0.755-1.185l0.666,0.237l1.642,4.498l0.089,2.19l-0.622,0.947l-2.353,0.059l-1.199-1.479L210.341,1058.32z
   M180.155,996.055l-2.131,2.368l0.267,2.191l1.642,4.144l-0.178,1.123l-1.021-0.65l-1.199,3.254l-0.267,3.968h-0.754l-1.022,1.951
  l0.267,1.658l2.663,5.444l2.53,2.901l-0.622,1.301l1.509-0.237l-2.175,4.556l-0.222,1.896l0.709,5.505l0.488,1.773l-0.932,10.832
  l0.266,1.773l1.465,3.139l2.042,2.843l5.326,5.266l-1.776,1.896l1.021,1.065l-0.576,1.185l-0.267,2.309l1.331,1.124l-0.044,1.124
  l-1.066,1.184l-6.304-3.79l-0.932-1.064l-3.641-1.599l-2.485,0.356l-6.66,2.484l-7.37-2.9l-1.598-1.36l-6.259-7.637l-4.882-1.952
  l-0.755-2.545l-0.843,0.176l-8.967-6.214l-3.418-3.906l-3.729-0.651l-5.55-1.833l-2.441-1.008l-2.619,0.949l-0.399-1.777
  l-2.087-0.592l-3.374-2.604l-0.752,1.066l-1.42-0.238l-2.397-1.066l-2.886-3.788l0.889-1.894l-0.889-3.434l0.978-2.19l0.932-0.769
  l0.267-1.717l-2.085-3.433l-1.509-0.888l-1.82-0.474l-1.598-1.067l-1.243-2.012l-1.11-0.947v-3.314l-0.932-1.775l-0.221-3.255
  l-0.622-1.125l1.111-3.492l-2.043-2.191l-0.754,0.179l-0.577-1.953l0.133-1.303l-1.953-0.768v-1.776l-0.577-0.946l-0.089-1.834
  l-0.843-1.126l0.445-1.834l-3.418-1.007l-1.065-1.124l1.953-2.842l-0.71-1.538l-0.177-2.014l0.621-1.717l2.309,0.711l1.332,1.124
  l1.2-0.765l2.354-0.237l2.264,1.597l1.199,0.178l1.82-0.532l2.975-2.427l1.909-0.829l0.31-4.261l0.532-1.066l1.288,0.295
  l0.132,1.243l2.93,2.308l0.621,2.308l1.908-2.247l0.889-3.848l1.642-0.118l2.309,1.303l2.795-1.126l0.667,1.835l1.598,1.184
  l1.419,2.19l3.685-0.828l2.663,0.77l1.288-1.776v-0.829l1.375-0.65l2.086,0.295l1.731,1.419l1.199,0.18l1.42-1.362l2.219,0.591
  v-2.13l0.754-1.776l1.997,0.533l1.332,2.309l3.33,1.656l3.462,0.238l1.199,1.242l0.398,1.597l-0.621,1.954l-1.021,0.946l0.31,1.657
  l1.642,1.836l2.708,0.651l0.755-0.948l1.909,1.48l0.71,1.953l-0.621,2.84l-1.155-0.06l-1.11,0.771l-1.198,2.131l-0.755,4.971
  l-0.621,1.066l1.598,1.303l2.397-1.065l3.239,0.888l2.176,1.124l2.708,2.309l1.065-0.178l0.578,1.124l1.021-0.178l1.865,2.959v1.006
  l1.067,1.774l1.553-1.656l0.222-1.302l-0.889-2.485l0.044-1.656l-0.755-0.712l0.044-1.952l0.754-1.835l-0.177-1.952l1.108,0.65
  l3.242,0.118L180.155,996.055z"/>
                        </a><a onclick="districtperils_map('PERILS')">
                          <path id="area-ten-zoom" fill="#FF0066" stroke="#000000" stroke-width="0.3636" stroke-miterlimit="10" d="M36.994,901.65
  l-1.065-1.302l-1.598-4.084l-0.445-2.782l0.755-1.656l0.089-2.664l0.978-1.184l-0.488-2.427l0.532-3.374l0.932-0.592l1.066,0.889
  l1.376-0.473l1.642,0.532l1.598,5.031l1.376,1.598l1.243,0.65l-0.532,3.196l-1.82,1.421l-4.928,5.563L36.994,901.65z"/>
                        </a><a onclick="districtjohor_map('JOHOR')">
                          <path id="area-two-zoom" fill="#FF0066" stroke="#000000" stroke-width="0.3636" stroke-miterlimit="10" d="M188.812,1063.056
  l1.997,0.357l1.776,0.887l1.776-0.295l0.089,1.124l2.042,1.896l1.155,2.545l-0.398,1.894l0.31,0.829l3.284,4.202l1.642,1.363
  l0.311,1.833l1.243,2.013l-0.667,1.835l0.311,0.888l2.086,2.605l1.155,2.779l3.196,5.27l-0.089,2.842l0.71,1.894l1.42,0.059
  l1.243,2.132l0.399,2.07l1.066,1.895l0.044,1.479l1.154,1.775l0.355,2.959l0.932,2.427l0.443,3.138l-0.667,0.945l-0.088,2.604
  h-1.688l-0.889,0.947l-2.884-0.237l-2.132-1.065l-0.267-1.895l-1.598-1.361l-0.222-1.599l2.84-1.479l1.066-1.243h-1.598
  l-2.574,1.775l-1.82-4.083l-2.042-2.309l0.178,1.775l1.687,2.723l-0.222,1.835l0.267,2.604l-1.553,1.302l-2.131-0.531l-3.863-2.015
  l-1.11,0.059l-2.707,1.185l-1.82-0.118l-1.376,0.414l-2.265,2.9l-1.332,1.065l-1.598-0.297l-0.754-1.005l0.178,1.774l-1.553,3.196
  l-2.13-2.189l-0.977-1.718l-1.465-4.913l-0.798-1.716l-1.243-1.42l-1.864-1.185l-5.283-2.013l-7.502-4.734l-1.819-0.89l-2.753-0.592
  l-3.151-3.551l-2.619-1.479l-3.64,0.591l-1.021-0.532l-2.175-3.611l-3.596-2.959l-0.533-1.774l-3.019-2.131l0.754-1.242l1.11-0.118
  l0.222-2.131l-2.13-0.829l-0.267-1.004l0.888-0.948l0.044-1.717l0.844-2.368l-0.089-1.125l1.553-2.13l1.997-1.066l0.933-2.842
  l0.089-3.788l0.888-1.716l-0.355-1.126l2.93-7.813l0.222-1.362l4.882,1.953l6.259,7.636l1.598,1.361l7.37,2.901l6.66-2.486
  l2.485-0.355l3.64,1.598l0.932,1.066l6.304,3.788l1.065-1.183l0.044-1.125l-1.331-1.124l0.267-2.309l0.577-1.184l-1.021-1.066
  L188.812,1063.056z"/>
                        </a><a onclick="districtperak_map('PERAK')">
                          <path id="area-six-zoom" fill="#71C2B2" stroke="#000000" stroke-width="0.3636" stroke-miterlimit="10" d="M64.694,1010.261
  l-0.267-0.533l-2.22,0.65l-2.842-1.301l-0.843-2.191v-2.247l0.799-1.006h3.684l0.71-0.948l2.397-0.296l-0.445-1.006l-2.574,0.946
  l-1.154-0.06l-0.044-2.958l-0.443-0.592l-3.907-2.959l-1.998,0.414l-0.888-2.368l-0.932-4.083l-1.11-0.888l1.021-4.143l0.844-0.652
  l1.155-4.794l-0.09-0.948l-1.464-0.769l-0.267-0.887l0.576-1.718h1.244l1.508-1.774l-2.752,0.177l-0.398-3.433l1.687-0.711
  l-0.888-0.591l0.222-0.946l-1.82-0.296l0.089-2.485l-1.198-1.006l-2.485,0.178l0.888-1.362l-1.419-1.006l-1.244,0.71l-1.198-2.484
  l-1.111-1.244l-1.287-3.137l-0.266-1.361l1.687-1.243l3.419-0.77l1.021,0.118l0.621,1.597l1.731,0.83l2.176-1.775l0.444-1.006
  l3.151-2.842l0.755-1.835l1.776-1.539l0.888-1.657l3.417-0.829l0.977-1.421l0.578-4.143l1.111-1.655l0.843,0.059l1.287-2.309
  l0.133-1.539l-0.754-1.539l1.688-1.717l0.665-2.842l-1.288-1.952l0.755-0.355l0.844,1.657l2.043,0.59l1.82,1.658l1.154,2.249
  l1.998-0.06l2.084-1.241l1.243-1.479l1.067-3.906l3.107-1.006l3.284-1.835l6.303-2.367l1.954-0.06l1.155,1.835l1.288,0.473
  l-0.178,1.243l1.553,2.781h1.376l-0.133,3.196l-1.198,1.125v2.545l0.844,1.953l-0.755,2.248l3.151,0.414l0.489,1.067l-0.267,5.563
  l-3.285,1.184l-2.352-1.125l-1.731,1.42l-1.333,2.368h-0.843l-0.755,2.723l-0.843,1.302l-0.267,2.664l-0.977,2.841l-0.577,3.019
  l-0.976,0.889l0.932,1.54l0.311,1.775l-0.534,1.834l-1.82,1.243l0.311,1.894l-1.375,1.54l-0.09,2.189l-1.331,0.236l-0.533,0.829
  l1.553,3.077l-0.621,1.717l0.178,2.013l0.71,1.54l-1.953,2.841l1.065,1.125l3.418,1.005l-0.443,1.836l0.843,1.124l0.09,1.835
  l0.577,0.946v1.776l1.953,0.768l-0.133,1.303l0.578,1.953l0.754-0.178l2.042,2.19l-1.11,3.492l0.622,1.125l0.221,3.255l0.932,1.775
  v3.314l1.109,0.946l-0.799,0.236l-1.998,2.547l-1.731,1.479l-2.707-1.656l-1.066-1.599l-2.086-0.889l-0.533-0.888l-1.42-0.177
  l-1.065,1.123l0.977,2.842l-1.375,1.184l-2.663,0.178l-0.267-1.718l-1.375,0.119l-0.799-0.592l-1.287,0.236l-1.998-1.597
  l-0.755,0.829H75.31l1.021-0.711l-0.443-1.243l-1.288,1.066l-0.133-1.302l-1.642-0.768l-1.154,0.177l-0.934,1.063v-1.597
  l-1.376-1.124l-0.133-1.243L64.694,1010.261z"/>
                        </a><a onclick="districtkelantan_map('KELANTAN')">
                          <path id="area-seven-zoom_1_" fill="#BCD26D" stroke="#000000" stroke-width="0.3636" stroke-miterlimit="10" d="M88.755,975.872
  l-1.554-3.077l0.532-0.829l1.332-0.236l0.089-2.189L90.53,968l-0.311-1.895l1.82-1.242l0.532-1.835l-0.311-1.774l-0.932-1.54
  l0.977-0.889l0.578-3.019l0.978-2.841l0.266-2.664L94.97,949l0.755-2.723h0.843l1.333-2.368l1.731-1.42l2.353,1.125l3.285-1.184
  l0.266-5.563l-0.488-1.067l-3.153-0.414l0.755-2.249l-0.844-1.952v-2.545l1.198-1.125l0.133-3.196l1.909-0.711l0.977,1.48
  l1.687,0.414l1.11-1.718l1.288-0.829l0.666-1.183l1.954-1.54l0.31-3.61l0.667-1.835l1.11-1.36l3.284-2.546l1.154-1.184l0.533-1.42
  l-0.179-3.491l0.268-2.368l3.994,2.723l1.022-0.295l-0.355-1.303h0.931l5.105,1.953l2.841,2.546l5.238,10.595l1.865,1.953
  l-1.731,2.071l-3.375,3.196l-1.82,2.25l0.843,3.432l-0.044,3.137l-0.534,1.006l0.311,2.604l-0.178,1.599l1.954,2.366l-0.798,2.427
  l-0.355,6.037l1.865,0.71l3.151,2.604l-1.154,1.599l0.533,2.19l-0.621,0.71l0.577,2.841l-0.133,1.183l0.71,0.651l2.131,0.237
  l2.931,2.131l1.065,2.96l-0.267,0.591l-1.997-0.532l-0.754,1.775v2.131l-2.22-0.592l-1.42,1.362l-1.199-0.179l-1.731-1.419
  l-2.086-0.296l-1.375,0.651v0.828l-1.288,1.776l-2.663-0.77l-3.685,0.828l-1.419-2.19l-1.598-1.183l-0.666-1.836l-2.796,1.126
  l-2.309-1.303l-1.642,0.118l-0.889,3.848l-1.908,2.248l-0.622-2.308l-2.93-2.308l-0.132-1.244l-1.288-0.295l-0.532,1.066
  l-0.31,4.262l-1.909,0.829l-2.975,2.427l-1.82,0.533l-1.199-0.179l-2.265-1.598l-2.353,0.233l-1.198,0.769l-1.332-1.125
  L88.755,975.872z"/>
                        </a><a onclick="districtmelaka_map('MELAKA')">
                          <path id="area-five-zoom" fill="#FAE273" stroke="#000000" stroke-width="0.3636" stroke-miterlimit="10" d="M142.6,1074.125
  l-1.997,1.065l-1.553,2.131l0.089,1.125l-0.844,2.367l-0.044,1.718l-0.888,0.946l0.267,1.004l2.131,0.831l-0.222,2.131l-1.11,0.117
  l-0.754,1.243l-13.36-5.505l-2.709-1.896l-3.328-3.728l-1.465-0.414l-1.421-1.185l0.089-0.651l1.42-0.769l1.153-1.303l0.622,0.475
  l0.621-1.422l1.465,0.12l1.865-0.476l1.509-1.122l1.909,0.887l2.175,0.416l3.018-1.067l1.777-0.059l3.24,1.479L142.6,1074.125z"/>
                        </a><a onclick="districtsembilan_map('NEGERI SEMBILAN')">
                          <path id="area-four-zoom" fill="#F4A7DE" stroke="#000000" stroke-width="0.3636" stroke-miterlimit="10" d="M147.306,1055.48
  l-0.222,1.36l-2.93,7.813l0.356,1.125l-0.887,1.717l-0.089,3.788l-0.933,2.843l-6.348-1.54l-3.239-1.479l-1.777,0.059l-3.018,1.067
  l-2.175-0.416l-1.909-0.887l-1.509,1.122l-1.865,0.476l-1.464-0.119l-0.621,1.421l-0.622-0.475l-1.154,1.303l-1.42,0.77
  l-2.752-1.361l-2.176,0.592l-0.577,0.591l-0.622-3.788l-2.087-1.718l-0.887-2.603l-0.977-0.711l-1.776-0.178l0.755-3.196
  l1.553-3.197l-0.577-5.563l1.066-0.118l3.417,0.356l1.244-1.067l0.533-2.368l1.375-1.361l0.355-2.071l1.11-1.124l-0.355-2.369
  l0.267-2.014l-0.799-2.368l0.133-1.183l-0.755-1.835l-0.578-0.237l0.755-1.065l3.374,2.604l2.087,0.592l0.399,1.776l2.619-0.948
  l2.441,1.008l5.55,1.833l3.729,0.65l3.418,3.907l8.967,6.214l0.843-0.177L147.306,1055.48z"/>
                        </a><a onclick="districtterengganu_map('TERENGGANU')">
                          <path id="area-eight-zoom" fill="#55B6D7" stroke="#000000" stroke-width="0.3636" stroke-miterlimit="10" d="M145.575,969.125
  l0.267-0.592l-1.066-2.959l-2.931-2.132l-2.131-0.237l-0.71-0.65l0.133-1.183l-0.577-2.842l0.621-0.71l-0.534-2.19l1.155-1.598
  l-3.152-2.604l-1.865-0.711l0.355-6.036l0.799-2.427l-1.954-2.367l0.178-1.599l-0.311-2.604l0.533-1.006l0.044-3.137l-0.843-3.432
  l1.82-2.249l3.375-3.197l1.731-2.07l2.708,1.717l1.865,1.953l1.021,2.131l1.199,0.591l7.902,6.334l1.909,0.946l1.82,0.354
  l2.974,2.546l4.083,4.677l4.528,7.162l1.509,3.847l4.395,7.398l2.575,4.735l1.464,3.077l-0.311,1.362l0.488,2.9l0.71,6.747
  l-0.799,2.723l0.443,2.664l1.42,4.143l0.133,1.361l-0.71,2.013l-1.288,1.598l0.133,1.895l-0.532,0.592l-1.067-0.354l-3.24-0.118
  l-1.109-0.652l0.178,1.953l-0.754,1.836l-0.044,1.951l0.755,0.712l-0.044,1.656l0.888,2.485l-0.222,1.302l-1.554,1.657l-1.066-1.775
  v-1.006l-1.865-2.959l-1.021,0.178l-0.577-1.124l-1.066,0.178l-2.708-2.308l-2.176-1.125l-3.239-0.889l-2.397,1.066l-1.598-1.303
  l0.62-1.065l0.755-4.972l1.198-2.132l1.11-0.769l1.155,0.06l0.621-2.842l-0.71-1.952l-1.909-1.48l-0.755,0.948l-2.708-0.652
  l-1.642-1.834l-0.31-1.658l1.021-0.946l0.621-1.953l-0.398-1.598l-1.199-1.243l-3.462-0.237l-3.33-1.657L145.575,969.125z"/>
                        </a>
                          <path fill="#F5FC98" stroke="#000000" stroke-width="0.3636" stroke-miterlimit="10" d="M-38.393,712.189"/>
                          <path fill="none" d="M-34.072,722.646"/>
                          <text transform="matrix(1 0 0 1 508.3535 953.1885)" font-family="'Tahoma'" font-size="5.2254">Sabah</text>
                          <text transform="matrix(1 0 0 1 367.3271 1051.5693)" font-family="'Tahoma'" font-size="5.2254">Sarawak</text>
                          <text transform="matrix(1 0 0 1 418.5254 944.9629)" font-family="'Tahoma'" font-size="5.2254">Labuan</text>
                          <text transform="matrix(1 0 0 1 6.8877 952.9082)" font-family="'Tahoma'" font-size="5.2254">Pulau
                            Pinang
                          </text>
                          <text transform="matrix(1 0 0 1 43.0771 914.8594)" font-family="'Tahoma'" font-size="5.2254">Kedah</text>
                          <text transform="matrix(1 0 0 1 49.25 1031.0635)" font-family="'Tahoma'" font-size="5.2254">Selangor</text>
                          <text transform="matrix(1 0 0 1 130.5508 1020.7676)" font-family="'Tahoma'" font-size="5.2254">Pahang</text>
                          <text transform="matrix(1 0 0 1 43.9648 1045.1816)" font-family="'Tahoma'" font-size="5.2254">Kuala
                            Lumpur
                          </text>
                          <text transform="matrix(1 0 0 1 28.3311 878.7295)" font-family="'Tahoma'" font-size="5.2254">Perlis</text>
                          <text transform="matrix(1 0 0 1 164.9761 1098.5547)" font-family="'Tahoma'" font-size="5.2254">Johor</text>
                          <text transform="matrix(1 0 0 1 56.7725 962.6143)" font-family="'Tahoma'" font-size="5.2254">Perak</text>
                          <text transform="matrix(1 0 0 1 99.3208 962.6143)" font-family="'Tahoma'" font-size="5.2254">Kelantan</text>
                          <text transform="matrix(0.6473 -0.7622 0.7622 0.6473 119.8354 1100.6055)" font-family="'Tahoma'" font-size="5.2251">Melaka</text>
                          <text transform="matrix(0.7276 -0.686 0.686 0.7276 83.2578 1104.959)" font-family="'Tahoma'" font-size="5.2253">Negeri
                            Sembilan
                          </text>
                          <text transform="matrix(0.4765 0.8792 -0.8792 0.4765 149.4468 948.1982)" font-family="'Tahoma'" font-size="5.2256">Terengganu</text>
                          <a onclick="districtkl_map('KUALA LUMPUR')">
                            <polygon fill="#FACC4D" stroke="#000000" stroke-width="0.3636" stroke-miterlimit="10" points="98.296,1043.293 100.073,1043.174
  101.005,1043.589 101.938,1042.345 101.539,1038.972 102.428,1037.019 101.362,1035.243 100.031,1035.599 98.123,1034.531
  97.102,1035.183 96.214,1036.723 96.304,1038.439 97.458,1039.623 98.124,1041.221 97.679,1042.345 "/>
                            <polygon fill="#FACC4D" stroke="#000000" stroke-width="0.3636" stroke-miterlimit="10" points="100.295,1052.936 101.45,1052.344
  102.693,1050.571 101.939,1048.202 100.163,1048.912 "/>
                          </a>
                        </svg>


                        <div id="data_box">
                          <%= render 'data_box_d2' %>
                        </div>
                      <% end %>
                    </div>
                    <div class="map-link">
                      <!-- <div id="common-info" class="text-info area-info-active"><h2>Common Info</h2><table><tbody><tr><td>Prison Population</td><td>2,228K</td></tr><tr><td>Death Sentences</td><td>77</td></tr><tr><td>No. of Firearms</td><td>89 avg per 100 people</td></tr><tr><td>Homicide Count</td><td>4.8 per 100K people</td></tr></tbody></table></div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <%= render 'state_pahang' %>
          <%= render 'state_kelantan' %>
          <%= render 'state_kuala_lampur' %>
          <%= render 'state_perak' %>
          <%= render 'state_sabah' %>
          <%= render 'state_johor' %>
          <%= render 'state_perils' %>
          <%= render 'state_selangor' %>
          <%= render 'state_pinang' %>
          <%= render 'state_sembilan' %>


          <%= render 'state_labuan' %>
          <%= render 'state_kedah' %>

          <%= render 'state_melaka' %>
          <%= render 'state_sarawak' %>
          <%= render 'state_terengganu' %>


        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
# <style>
#     .card-body > .div_statesvg > ul > li > div:first-child {
#         width: 82%;
#         float: left;
#         margin-right: 5px;
#     }
# </style>

<script>
    function towns_collect() {

        const stateSelect = $('#state-select');
        const townsList = $('#towns-list');
        const selectedStateId = stateSelect.val();
        id = JSON.stringify({id: selectedStateId})
        $.ajax({
            url: '/dashboards/geographical/towns.js',
            type: "GET",
            data: id
        })
    }

    function filter_geo() {
        const selectedState = $('#state-select').val();

        // Collect data from the date range input
        const dateRange = $('input[name="daterange"]').val();

        // Collect data from the district dropdown
        const selectedDistrict = $('#district-select').val();

        // Create a JSON object
        const formData = {
            state: selectedState,
            dateRange: dateRange,
            district: selectedDistrict
        };

        data = JSON.stringify(formData)

        $.ajax({
            url: '/dashboards/geographical/index.js',
            type: "GET",
            data: data
        })
        clearremainingdistricts();
        fnredirectDistrict($('#state-select').val().toUpperCase())
        if ($('#district-select').val() != null)
            fndistrictvalues($('#state-select').val().toUpperCase(), $('#district-select option:selected').text().toUpperCase())
    }

    function clearremainingdistricts() {
        $("#divtotal_malaysialist").hide();
        $('#div_johor_states').hide()
        $('#div_kedah_states').hide()
        $('#div_pahang_states').hide()
        $('#div_sabah_states').hide()
        $('#div_sarawak_states').hide()
        $('#div_labuan_states').hide()
        $('#div_melaka_states').hide()
        $('#div_selangor_states').hide()
        $('#div_perak_states').hide()
        $('#div_terengganu_states').hide()
        $('#div_kelantan_states').hide()
        $('#div_sembilan_states').hide()
        $('#div_pinang_states').hide()

    }

    function fnredirectDistrict(dist) {

        if (dist == "JOHOR") {
            districtjohor_map(dist);
        } else if (dist == "MELAKA") {
            districtmelaka_map(dist);
        } else if (dist == "NEGERI SEMBILAN") {
            districtsembilan_map(dist);
        } else if (dist == "KEDAH") {
            districtkedah_map(dist);
        } else if (dist == "PERAK") {
            districtperak_map(dist);
        } else if (dist == "PULAU PINANG") {
            districtpinang_map(dist);
        } else if (dist == "KELANTAN") {
            districtkelantan_map(dist);
        } else if (dist == "TERENGGANU") {
            districtterenganu_map(dist);
        } else if (dist == "PAHANG") {
            districtpahang_map(dist);
        } else if (dist == "SELANGOR") {
            districtselangor_map(dist);
        } else if (dist == "SABAH") {
            districtsabah_map(dist);
        } else if (dist == "SARAWAK") {
            districtsarawak_map(dist);
        } else if (dist == "LABUAN") {
            districtlabuan_map(dist);
        }


    }

    function clear_filter() {

        location.reload();
    }

    function five_min_reload() {
        $('#div5min').addClass('dropdown-highlight')
        $('#div10min').removeClass('dropdown-highlight')
        setTimeout(function () {
            location.reload();
        }, 300000);
    }

    function ten_min_reload() {
        $('#div10min').addClass('dropdown-highlight')
        $('#div5min').removeClass('dropdown-highlight')
        setTimeout(function () {
            location.reload();
        }, 600000);
    }

    function fndistrictvalues(state, dist) {
        if (state == "JOHOR") {
            district_johor(dist);
        } else if (state == "MELAKA") {
            district_melaka(dist);
        } else if (state == "NEGERI SEMBILAN") {
            district_sembilan(dist);
        } else if (state == "KEDAH") {
            district_kedah(dist);
        } else if (state == "PERAK") {
            district_perak(dist);
        } else if (state == "PULAU PINANG") {
            district_pinang(dist);
        } else if (state == "KELANTAN") {
            district_kelantan(dist);
        } else if (state == "TERENGGANU") {
            district_terenganu(dist);
        } else if (state == "PAHANG") {
            district_pahang(dist);
        } else if (state == "SELANGOR") {
            district_selangor(dist);
        } else if (state == "SABAH") {
            district_sabah(dist);
        } else if (state == "SARAWAK") {
            district_sarawak(dist);
        } else if (state == "LABUAN") {
            district_labuan(dist);
        }
    }

    function dist_data(stateId, districtId) {

        // Create a JSON object
        const formData = {
            state: stateId,
            district: districtId
        };

        data = JSON.stringify(formData)

        $.ajax({
            url: '/dashboards/geographical/index.js',
            type: "GET",
            data: data
        })
    }

    function clearvalues() {
        $('#state-select').val("")
        $('#district-select').val("")
        $('input[name="daterange"]').daterangepicker({
            "startDate": "01/01/2023",
            "endDate": "31/12/2023",
            opens: 'center',
            locale: {
                format: 'DD/MM/YYYY'
            }
        });

    }

    function saveRefreshInterval(interval) {
        const formData = {
            dashboard_interval: interval,
            dashboard_name: "geographical"
        };

        $.ajax({
            url: '/dashboards/refresh_dashboards',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(formData),
            success: function (data) {
                startAutoRefresh(interval);
            },
            error: function (error) {
                console.error('Error saving refresh interval:', error);

            }
        });
    }

    function getRefreshInterval() {
        $.ajax({
            url: '/dashboards/refresh_dashboards',
            type: 'GET',
            contentType: 'application/json',
            data: {dashboard_name: 'geographical'},
            success: function (data) {
                startAutoRefresh(data.interval);
                setDropdownItemByInterval(data.interval)
            },
            error: function (error) {
                console.error('Error getting refresh interval:', error);
            }
        });
    }

    function startAutoRefresh(interval) {
        clearInterval(window.refreshInterval);

        window.refreshInterval = setInterval(function () {
            location.reload();
        }, interval);
    }

    document.addEventListener('DOMContentLoaded', function () {
        const savedInterval = getRefreshInterval()
        if (savedInterval) {
            handleRefreshInterval(parseInt(savedInterval, 10));
        }
    });

    function handleRefreshInterval(interval) {
        saveRefreshInterval(interval);
        var dropdownItems = document.querySelectorAll('.dropdown-item');
        dropdownItems.forEach(function (item) {
            item.classList.remove('selected');
        });

        event.target.classList.add('selected');
        setDropdownItemByInterval(interval);
    }

    function setDropdownItemByInterval(interval) {
        var dropdownItems = document.querySelectorAll('.dropdown-item');
        dropdownItems.forEach(function (item) {
            item.classList.remove('selected');
        });

        var selectedDropdownItem = document.querySelector(`#div${interval / 60000}min`);
        if (selectedDropdownItem) {
            selectedDropdownItem.classList.add('selected');
        }
    }

    $('path').on("click", function () {
        $('path.selected').attr("class", "");
        $(this).attr("class", "selected");
    });
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

</script>