<!-- new template for index -->

<div class="card">
    <div class="card-header">
        <strong>Visit Plans</strong>
    </div>

    <!-- card-body -->
    <div class="card-body">

        <%= render "/internal/visit_reports/shared/filter", {
            form_action: internal_visit_report_clinics_path,
            filter_type: false,
            filter_status: VisitPlan::STATUSES
        } %>

        <%= render "/shared/all_flash" %>

        <div class="row">
            <div class="col module-actions text-right">
                <% if has_permission?('CREATE_DOCTOR_VISIT_REPORT') %>

                <% end %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="<%= index_table_class %>">

                        <thead>
                            <tr>
                                <th class="module-row-numbers">#</th>
                                <th>Report Id</th>
                                <th>Clinic Name</th>
                                <th>Visit Date</th>
                                <th>Status</th>
                                <th>Comment</th>
                                <th class="module-row-actions">Action(s)</th>
                            </tr>
                        </thead>

                        <tbody>
                            <% if @visit_reports.blank? %>
                                <tr>
                                    <td colspan="10" class="text-danger">No records found.</td>
                                </tr>
                            <% else %>

                            <% @visit_reports.each.with_index((@visit_reports.current_page - 1) * get_per + 1) do
                                |visit_report, index| %>
                                <tr>
                                    <td class="module-row-numbers"><%= index %></td>
                                    <td>
                                        <%= visit_report.id %>
                                    </td>
                                    <td>
                                        <a class="" href="<%= edit_internal_doctor_path(visit_report.visitable_id) %>"><%= visit_report.visit_plan_item.visitable.clinic_name %></a>
                                    </td>
                                    <td>
                                        <%= visit_report.visit_date.nil? ? "N/A" : visit_report.visit_date.strftime("%d/%m/%Y") %>
                                    </td>
                                    <td>
                                        <%= visit_report.status %>
                                    </td>
                                    <td>
                                        <%= visit_report.comment %>
                                    </td>

                                    <td class="module-row-actions">

                                        <a class="btn btn-sm btn-secondary" title="View Visit Plan" data-toggle="tooltip" href="<%= internal_visit_plan_clinic_edit_path(visit_report.visit_plan_id) %>"><i class="fa fa-file"></i></a>

                                        <!-- edit -->
                                        <% if has_permission?('EDIT_DOCTOR_VISIT_REPORT') %>
                                            <%= raw index_table_edit_button internal_visit_report_clinic_edit_path(visit_report) %>
                                        <% end %>

                                        <!-- delete -->
                                        <% if has_permission?('DELETE_DOCTOR_VISIT_REPORT') && visit_report.status === 'DRAFT'  %>
                                            <%= raw index_table_delete_button(internal_visit_report_clinic_delete_path(visit_report)) %>
                                        <% end %>

                                    </td>
                                </tr>

                            <% end %>

                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <%= paginate @visit_reports %>
        </div>

    </div>
    <!-- /card-body -->
</div>

<% content_for :page_end_scripts do %>
<script>


</script>
<% end %>