<div class="card">
    <div class="card-header">
        <strong>Search</strong>
    </div>

    <%= form_tag filter_link, method: 'get' do |form| %>
        <div class="card-body">
            <div class="form-group row">
                <label for="code" class="col-sm-2 col-form-label">Service Provider</label>
                <div class="col-sm-4">
                    <select class="form-control" id="service_provider" name="service_provider">
                        <option value="">Select Option</option>
                        <option value="Doctor" <% if params[:service_provider] == 'Doctor' %>selected="selected"<% end %>>Doctor</option>  
                        <option value="XrayFacility" <% if params[:service_provider] == 'XrayFacility' %>selected="selected"<% end %>>Xray Facility</option> 
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="start_date" class="col-sm-2 col-form-label">Date From</label>
                <div class="col-sm-4">
                    <input type="date" name="start_date" id="filter_start_date" value="<%= params[:start_date] %>" id="start_date" class="form-control">
                </div>
                <label for="end_date" class="col-sm-2 col-form-label">Date To</label>
                <div class="col-sm-4">
                    <input type="date" name="end_date" id="filter_end_date" value="<%= params[:end_date] %>" id="end_date" class="form-control">
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="text-right">
                <%=raw filter_clear_button filter_link %>
                <%= link_to '<i class="fa fa-download" aria-hidden="true"></i> Export To Excel'.html_safe, filter_link, class: "btn btn-sm btn-secondary with-xlsx-format", id: "export_to_excel" %>
                <%=raw filter_button %>
            </div>
        </div>
    <% end %>
</div>

<% content_for :page_end_scripts do %>
    <script>
        $("#export_to_excel").click(function(e) {
            service_provider = $('#service_provider').val()
            date = $('#date').val()
            if(service_provider == '' || date == ''){
                e.preventDefault()
                alert('Please select a service provider and date before exporting the report')
            }else{
                export_url = $('form').attr('action')+".xlsx?"+$('form').serialize() 
                $(this). attr("href", export_url);  
            }
        });
    </script>
<% end %>