<div class="card">
    <div class="card-header">
        <strong>Filter</strong>
    </div>

    <%= form_tag detail_worker_registration_internal_finance_reports_path, method: 'get', id: "detail_worker_registration-filter-form" do |form| %>
        <%#= hidden_field_tag :per, params[:per] || get_per_options.first %>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label for="paid_at" class="col-sm-3 col-form-label">Date</label>
                        <div class="col-sm-9">
                            <%= date_field_tag "paid_at", params["paid_at"], class: "form-control datepicker datepicker-range-filter flex-grow-1", placeholder: "Registration Date", max: Date.today.strftime("%F"), required: true %>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label for="organization_id" class="col-sm-3 col-form-label">Branch</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="organization_id" name="organization_id" required>
                                <option value="">ALL</option>
                                <% @branches.each do |branch| %>
                                    <option value="<%= branch.id %>" <%= 'selected' if params['organization_id'] == branch.id.to_s %>><%= branch.name %></option>
                                <% end %>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label for="gender" class="col-sm-3 col-form-label">Gender</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="gender" name="gender" required>
                                <option value="">ALL</option>
                                <% ForeignWorker::GENDERS.each do |k, v| %>
                                    <option value="<%= k %>" <%= 'selected' if params['gender'] == k %>><%= v %></option>
                                <% end %>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label for="category" class="col-sm-3 col-form-label">Type</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="category" name="category" required>
                                <option value="">ALL</option>
                                <% {
                                    "GENDER_CHANGE" => "GENDER CHANGE",
                                    "TRANSACTION_CANCELLATION" => "TRANSACTION CANCELLATION",
                                    "TRANSACTION_REJECTION" => "TRANSACTION REJECTION",
                                    "TRANSACTION_REGISTRATION" => "TRANSACTION REGISTRATION"
                                }.each do |k, v| %>
                                    <option value="<%= k %>" <%= 'selected' if params['category'] == k %>><%= v %></option>
                                <% end %>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <div class="text-right">
                <%=raw filter_export_excel_button detail_worker_registration_internal_finance_reports_path(format: "xlsx") %>
                <%=raw filter_download_pdf_button detail_worker_registration_internal_finance_reports_path(format: "pdf") %>
                <%=raw filter_back_button summary_worker_registration_internal_finance_reports_path %>
                <%=raw filter_button %>
            </div>
        </div>
    <% end %>
</div>