<div class="row justify-content-center">
    
        <div class="col-md-6">
    
            <div class="card">
                <div class="card-header">
                    Change Password
                </div>
                <div class="card-body">

                    <div class="alert alert-info" role="alert">
                        <p>Password Policy</p>
                        <ul class="">
                            <% @password_requirements.each do |requirement| %>
                                <li><%= requirement %></li>
                            <% end %>
                        </ul>
                    </div>
    
                    <% if flash[:notice] %>
                        <p><%= flash[:notice] %></p>
                    <% end %>
            
                    <% if @user.errors.any? %>
                        <p class="text-danger">error : <%= @user.errors.full_messages.join(', ') %></p>
                    <% end %>
            
                    <%= form_for @user, url: external_password_update_path, method: :PUT do |form| %>
                        <!-- password fields -->
                        <!-- :name, :designation -->
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" name="user[password]" id="user_password" class="form-control">
                        </div>
            
                        <div class="form-group">
                            <label for="password">Password Confirmation</label>
                            <input type="password" name="user[password_confirmation]" id="user_password_confirmation" class="form-control">
                        </div>
            
                        <div class="form-group text-right">
                            <%=raw edit_back_button(internal_root_path) %>
                            <%=raw edit_save_button() %>
                        </div>
                    <% end %>
    
                </div>
            </div>
    
        </div>
    
    </div>