<div class="card-body">

    <%= render 'shared/all_validation_flash', { model_obj: @district_health_office } %>

    <div class="row">     
        <div class="col-md-6">
            <div class="form-group">
                <%= form.label :code , class: 'required' %>
                <%= form.text_field :code, class: 'form-control', required: true %>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <%= form.label :name , class: 'required' %>
                <%= form.text_field :name, class: 'form-control', required: true %>
            </div>
        </div>
    </div>

    <!-- address -->
    <% [:address1, :address2, :address3, :address4].each_with_index do |sym, index| %>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <% if index == 0 %>
                        <%= form.label :address, class: "required" %>
                    <% end %>

                    <%= form.text_field sym, class: "form-control", required: index == 0, data: { parsley_pattern: "[a-zA-Z0-9@.,()-/\s]+", parsley_pattern_message: "Only alphabets, numbers, hypens (-), fullstops (.), comma (,), alias (@) and slashes (/) are allowed" } %>
                </div>
            </div>
        </div>
    <% end %>
    <!-- /address -->

    <%= render 'internal/shared/form_state_postcode_town', {form: form} %>
    
    <div class="row">     
        <div class="col-md-6">
            <div class="form-group">
                <%= form.label :email, class: 'required' %>
                <%= form.email_field :email, class: 'form-control', required: true, data: { parsley_maxlength: "100", parsley_maxlength_message: "Maximum length of 100 characters" } %>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <%= form.label :phone , "Phone Number", class: 'required' %>
                <%= form.text_field :phone, class: 'form-control', required: true, data: { parsley_maxlength: "20", parsley_maxlength_message: "Maximum length of 20 numbers", parsley_pattern: "[0-9]*", parsley_pattern_message: "Only numbers are allowed" } %>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <%= form.label :fax, "Fax Number" %>
                <%= form.text_field :fax, class: 'form-control', data: { parsley_maxlength: "20", parsley_maxlength_message: "Maximum length of 20 numbers", parsley_pattern: "[0-9]*", parsley_pattern_message: "Only numbers are allowed" } %>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <%= form.label :status, class: "required" %>
                <%= form.select :status, options_for_select(DistrictHealthOffice::STATUSES.invert, form.object.status), {include_blank: "Select Option"}, {class: 'form-control', required: true} %>
            </div>
        </div>
    </div>

    <div class="row">     
        <div class="col-md-6">
            <div class="form-group">
                <%= form.label :pic_name, "Person In Charge Name", class: 'required' %>
                <%= form.text_field :pic_name, class: 'form-control', required: true, data: { parsley_maxlength: "150", parsley_maxlength_message: "Maximum length of 150 characters", parsley_pattern: "^[a-zA-Z0-9].*", parsley_pattern_message: "Name must not begin with a special characters" } %>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <%= form.label :pic_phone , "Person In Charge Contact", class: 'required' %>
                <%= form.text_field :pic_phone, class: 'form-control', required: true, data: { parsley_maxlength: "20", parsley_maxlength_message: "Maximum length of 20 numbers", parsley_pattern: "[0-9]*", parsley_pattern_message: "Only numbers are allowed" } %>
            </div>
        </div>
    </div>
</div>

<div class="card-footer">
    <div class="text-right">
        <%=raw edit_back_button(internal_district_health_offices_path) %>
        <%=raw edit_save_button %>
    </div>
</div>