<div class="card">
  <div class="card-header">
    <strong>District Health Offices</strong>
  </div>

  <div class="card-body">

      <%=render "filter" %>

      <%=render '/shared/all_flash' %>

        <div class="row">
            <div class="col module-actions text-right">
              <% if has_permission?('CREATE_DISTRICT_HEALTH_OFFICE') %>
                <%=raw index_table_new_button(new_internal_district_health_office_path) %>
              <% end %>
            </div>
        </div>

        <div class="table-responsive">
            <table class="<%= index_table_class %>">
            <thead>
            <tr>
              <th class="module-row-numbers">#</th>
              <th>Code</th>
              <th>Name</th>
              <th class="module-row-actions">Action(s)</th>
            </tr>
            </thead>

            <tbody>
            <% if @district_health_offices.blank? %>
              <tr>
                <td colspan="4" class="text-danger">No records found.</td>
              </tr>
            <% else %>

              <% @district_health_offices.each.with_index((@district_health_offices.current_page - 1) * get_per + 1) do |district_health_office, index| %>
                <tr>
                  <td class="module-row-numbers"><%= index %></td>
                  <td><%= district_health_office.code %></td>
                  <td><%= district_health_office.name %></td>
                  <td class="module-row-actions">
                    <%=raw index_table_show_button(internal_district_health_office_path(district_health_office)) %>
                    <% if has_permission?('EDIT_DISTRICT_HEALTH_OFFICE') %>
                      <%=raw index_table_edit_button edit_internal_district_health_office_path(district_health_office) %>
                    <% end %>
                    <% if has_permission?('DELETE_DISTRICT_HEALTH_OFFICE') %>
                      <%=raw index_table_delete_button(internal_district_health_office_path(district_health_office)) %>
                    <% end %>
                  </td>
                </tr>
              <% end %>

            <% end %>
            </tbody>
          </table>
        </div>
        <div class="row">
          <%= paginate @district_health_offices %>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>