<tr>
    <td class="table-index"><%= row_no %>.</td>
    <td class="table-items">
        <%= form_shared.label :instrument_maintenance_record_comment, 'Instrument Maintenance Record' %>
        <%= form_shared.text_area :instrument_maintenance_record_comment, class: 'form-control comment-field', placeholder: 'If NO, please specify' %>
    </td>
    <td class="text-right table-acceptable">
        <div class="btn-group btn-group-toggle w-75" data-toggle="buttons" data-group-name="<%= tab_name %>">
            <label class="btn btn-outline-success">
                <%= form_shared.radio_button :instrument_maintenance_record, 'YES', class: "#{tab_name}" %> Yes
            </label>
            <label class="btn btn-outline-danger">
                <%= form_shared.radio_button :instrument_maintenance_record, 'NO', class: "#{tab_name}" %> No
            </label>
        </div>
    </td>
</tr>