<tr>
    <td class="table-items">
        <div class="pl-1">
            <%= form_shared.label :iso_status_comment, 'MS ISO Status' %>
            <%= form_shared.text_area :iso_status_comment, class: 'form-control', placeholder: 'If NO, please specify' %>
        </div>
    </td>
    <td class="text-right table-acceptable">
        <div class="btn-group btn-group-toggle w-75" data-toggle="buttons" data-group-name="<%= tab_name %>">
            <label class="btn btn-outline-success">
                <%= form_shared.radio_button :iso_status, 'YES', class: "#{tab_name} iso-status" %> Yes
            </label>
            <label class="btn btn-outline-danger">
                <%= form_shared.radio_button :iso_status, 'NO', class: "#{tab_name} iso-status" %> No
            </label>
        </div>
    </td>
</tr>