<tr>
    <td class="table-index"><%= row_no %>.</td>
    <td class="table-items">
        <%= form_shared.label :traceability, 'Traceability to referral laboratory' %>
    </td>
    <td class="text-right table-acceptable">
        <div class="btn-group btn-group-toggle w-75" data-toggle="buttons" data-group-name="<%= tab_name %>">
            <label class="btn btn-outline-success">
                <%= form_shared.radio_button :traceability, 'YES', class: "#{tab_name} part-4-btn traceability-btn" %> Yes
            </label>
            <label class="btn btn-outline-danger">
                <%= form_shared.radio_button :traceability, 'NO', class: "#{tab_name} part-4-btn traceability-btn" %> No
            </label>
            <label class="btn btn-outline-secondary">
                <%= form_shared.radio_button :traceability, 'NA', class: "#{tab_name} part-4-btn traceability-btn" %> N/A
            </label>
        </div>
    </td>
</tr>