<div class="card xray_report_form">
<div class="card-header">
    <div class="row">
        <div class="col">
            PART V. FOLLOW UP BY THE DOCTOR
        </div>
    </div>
</div>
    <table class="table table-bordered table-card">
        <thead>
            <tr>
                <th>No</th>
                <th>Report</th>
                <th colspan="2" class="text-center">Status</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <!-- Start of Health Office has been notified -->
            <tr>
                <td width="100">1</td>
                <td>Health Office has been notified</td>
                <td width="50" class="text-center">
                    <label class="form-check-label form-check-inline">
                        <input class="form-check-input" type="radio" value="YES"
                        <% if doctor_examination.notified_health_office %> checked <% else %> disabled <% end %>>
                        YES
                    </label>
                </td>
                <td width="50" class="text-center">
                    <label class="form-check-label form-check-inline">
                        <input class="form-check-input" type="radio" value="NO"
                        <% if !doctor_examination.notified_health_office %> checked <% end %>>
                        NO
                    </label>
                </td>
                <td>
                    <div class="form-control"><%= doctor_examination.notified_health_office_date %></div>
                </td>
            </tr>
            <!--End of Health Office has been notified -->

            <!-- Start of referred to government hospital -->
            <tr>
                <td width="100">2</td>
                <td>Case referred to Government hospital</td>
                <td width="50" class="text-center">
                    <label class="form-check-label form-check-inline">
                        <input class="form-check-input" type="radio" value="YES"
                        <% if doctor_examination.referred_to_government_hospital %> checked <% else %> disabled <% end %>>
                        YES
                    </label>
                </td>
                <td width="50" class="text-center">
                    <label class="form-check-label form-check-inline">
                        <input class="form-check-input" type="radio" value="NO"
                        <% if !doctor_examination.referred_to_government_hospital %> checked <% end %>>
                        NO
                    </label>
                </td>
                <td>
                    <div class="form-control"><%= doctor_examination.referred_to_government_hospital_date %></div>
                </td>
            </tr>
            <!-- End of referred to government hospital -->

            <!-- Start of reffered to private hospital -->
            <tr>
                <td width="100">3</td>
                <td>Case referred to a Private hospital</td>
                <td width="50" class="text-center">
                    <label class="form-check-label form-check-inline">
                        <input class="referred_to_private_hospital_status form-check-input" type="radio" value="YES"
                        <% if doctor_examination.referred_to_private_hospital %> checked <% else %> disabled <% end %>>
                        YES
                    </label>
                </td>
                <td width="50" class="text-center">
                    <label class="form-check-label form-check-inline">
                        <input class="referred_to_private_hospital_status form-check-input" type="radio" value="NO"
                        <% if !doctor_examination.referred_to_private_hospital %> checked <% end %>>
                        NO
                    </label>
                </td>
                <td>
                    <div class="form-control"><%= doctor_examination.referred_to_private_hospital_date %></div>
                </td>
            </tr>
            <!--End of reffered to private hospital -->

            <!-- Start of treating the patient -->
            <tr>
                <td width="100">4</td>
                <td>I am treatimng the patient</td>
                <td width="50" class="text-center">
                    <label class="form-check-label form-check-inline">
                        <input class="treating_patient_status form-check-input" type="radio"
                        name="doctor_examination[treating_patient]" id="doctor_examination_treating_patient_yes" value="YES"
                        <% if doctor_examination.treating_patient %> checked <% else %> disabled <% end %>>
                        YES
                    </label>
                </td>
                <td width="50" class="text-center">
                    <label class="form-check-label form-check-inline">
                        <input class="treating_patient_status form-check-input" type="radio" value="NO"
                        <% if !doctor_examination.treating_patient %> checked <% end %>>
                        NO
                    </label>
                </td>
                <td>
                    <div class="form-control"><%= doctor_examination.treating_patient_date %></div>
                </td>
            </tr>
            <!-- End of treating the patient -->

            <!-- Start of treating the patient -->
            <tr>
                <td width="100">5</td>
                <td>The patient is undergoing treatment in another clinic / hospital</td>
                <td width="50" class="text-center">
                    <label class="form-check-label form-check-inline">
                        <input class="undergoing_treatment_status form-check-input" type="radio" value="YES"
                        <% if doctor_examination.undergoing_treatment %> checked <% else %> disabled <% end %>>
                        YES
                    </label>
                </td>
                <td width="50" class="text-center">
                    <label class="form-check-label form-check-inline">
                        <input class="undergoing_treatment_status form-check-input" type="radio" value="NO"
                        <% if !doctor_examination.undergoing_treatment %> checked <% end %>>
                        NO
                    </label>
                </td>
                <td>
                    <div class="form-control"><%= doctor_examination.undergoing_treatment_date %></div>
                </td>
            </tr>
            <!-- End of treating the patient -->

        </tbody>
    </table>
</div>