<div class="card">
    <div class="card-header">
        <strong>Search</strong>
    </div>

    <%= form_tag filter_link, method: 'get' do |form| %>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    <label for="register_date" class="col-sm-3 col-form-label">Date</label>
                    <div class="col-sm-9">
                        <div class="d-flex align-items-center">
                            <%= text_field_tag "start_date", params["start_date"], class: "form-control datepicker datepicker-range-filter flex-grow-1", placeholder: "Start Date", data: { type: "start", target: 'register_date' }, max: Date.today.strftime("%F") %>
                            <span class="mx-3">to</span>
                            <%= text_field_tag "end_date", params["end_date"], class: "form-control datepicker datepicker-range-filter flex-grow-1", placeholder: "End Date", data: { type: "end", target: 'register_date' }, max: Date.today.strftime("%F") %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="text-right">
            <%=raw filter_clear_button filter_link %>
                <% if has_permission?("MSPD_REPORTS") %>
                    <%= link_to '<i class="fa fa-download" aria-hidden="true"></i> Download'.html_safe, filter_link, class: "btn btn-sm btn-secondary with-pdf-format", :target => "_blank" %>
                <% end %>
            <%=raw filter_button %>
        </div>
    </div>
    <% end %>
</div>

<% content_for :page_end_scripts do %>
<script>
    $('.with-pdf-format').click(function(e) {
        $(this).attr("href", this.href + ".pdf?" + $(this).closest('form').serialize());
    });
</script>
<% end %>