<div class="card">
    <div class="card-header">
        <strong>Search</strong>
    </div>

    <%= form_tag filter_link, method: 'get' do |form| %>
    <div class="card-body">
        <div class="form-group row">
            <label for="start_date" class="col-sm-2 col-form-label">Visit Date From</label>
            <div class="col-sm-4">                
                <%= text_field_tag "start_date", params[:start_date], class: "form-control datepicker custom-date-range-picker flex-grow-1", placeholder: "Start Date", data: { type: "start", target: 'start_date' }, max: Date.today.strftime("%F"), :required => true %>
            </div>
            <label for="end_date" class="col-sm-2 col-form-label">Visit Date To</label>
            <div class="col-sm-4">
                <%= text_field_tag "end_date", params["end_date"], class: "form-control datepicker custom-date-range-picker flex-grow-1", placeholder: "End Date", data: { type: "end", target: 'start_date' }, max: Date.today.strftime("%F"), :required => true %>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="text-right">
            <% if !['master_list'].include?(params[:action]) %>
                <%= link_to '<i class="fa fa-file-excel" aria-hidden="true"></i> Export'.html_safe, filter_link, class: "btn btn-sm btn-warning with-excel-format" %>
            <% end %>
            
            <% if ['master_list','visit_plan_request'].include?(params[:action]) %>
                <%=raw filter_button %>
            <% end %>
        </div>
    </div>
    <% end %>
</div>

<% content_for :page_end_scripts do %>
<script>
    $('.with-excel-format').click(function (e) {
        $(this).attr("href", this.href + ".xlsx?" + $(this).closest('form').serialize());
    });
</script>
<% end %>