<div class="card">
    <div class="card-header">
        <strong>Worker</strong> - Worker Amendment (Reverted)
    </div>
    <%= form_for @foreign_worker, url: revert_external_agency_worker_path(@foreign_worker, employer_id: @employer.id), method: 'patch' do |form| %>
        <div class="card-body">
            <%= render 'shared/all_validation_flash', { model_obj: @foreign_worker} %>
            <%= render "pure_form", { form: form } %>
            <br>
            <div class="card">
                <div class="card-header">Comments</div>
                <div class="card-body">
                    <% @foreign_worker.approval_request.comments.each do |comment| %>
                        <div class="alert alert-secondary">
                            <%= comment.content %>
                            <div class="text-right">
                                By <%= comment.user.name %> on <%= comment.created_at.strftime("%d/%m/%Y %l:%M:%S %p") %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <div class="text-right">
                <a href="<%= external_agency_workers_path employer_id: @employer.id %>" class="btn btn-primary">Back</a>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
        
        <input type="hidden" name="foreign_worker[amendment_reasons][]" value="<%= @foreign_worker.amendment_reasons.try(:first) %>">
        <%= form.hidden_field :gender, class: 'form-control critical-field', id: 'gender' %>
    <% end %>
</div>

<% content_for :page_end_scripts do %>
<script>
    $('#foreign_worker_amendment_reasons').change(function() {
        var hasOther = $('#foreign_worker_amendment_reasons').find('option:selected').map(function() {
            return $(this).text()
        }).get().includes('Other');

        $('#foreign_worker_amendment_reason_comment').prop('disabled', !hasOther);
    });

    var foreignWorkerCode   = '<%= @foreign_worker[:code] %>'.length > 0;
    var employerAmmendedAt  = '<%= @foreign_worker.employer_amended_at %>'.length > 0;

    if (foreignWorkerCode) {
        $('.critical-field').on('change keyup paste', function(){
            // $('.critical-field').not($(this)).prop('disabled',true); 
            if (($(this).prop('name') == '' && $(this).hasClass("critical-field")) || $(this).prop('name') == 'foreign_worker[date_of_birth]') {
                $('.critical-field').not($('.critical-date')).prop('disabled',true);
            } else {
                $('.critical-field').not($(this)).prop('disabled',true); 
            }

            if (employerAmmendedAt) {
                $('#foreign_worker_amendment_reasons').prop('disabled', true);
                $('#foreign_worker_amendment_reason_comment').prop('readonly', true);
            }
        });
    }

    <% if @foreign_worker.changes.except(:employer_amended_at, :amended_at, :amended_by, :amendment_reasons).keys.first %>
        $("#<%=@foreign_worker.changes.except(:employer_amended_at, :amended_at, :amended_by, :amendment_reasons).keys.first%>").trigger('change');
        $("#foreign_worker_<%=@foreign_worker.changes.except(:employer_amended_at, :amended_at, :amended_by, :amendment_reasons).keys.first%>").trigger('change');
    <% end %>
</script>
<% end %>