
            
                <div class="col-md-2">
                    <div class="form-group">
                        <%= form.label :postcode, class: 'col-form-label required' %>
                        <%= text_field :agency, :postcode, { class: 'form-control', required: true, maxlength: 5, data: { parsley_maxlength: "5", parsley_maxlength_message: "Maximum length of 5 characters", parsley_pattern: "[0-9]{5}", parsley_pattern_message: "Only 5 numbers are allowed" } } %>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <%= form.label :town_id, class: 'col-form-label required' %>
                        <%= collection_select(:agency, :town_id, Town.where(state_id: @agency.state_id).order(:name).all, :id, :name, {include_blank: 'Select option'}, class: 'form-control', required: true) %>
                    </div>
                </div>
           
                <div class="col-md-2">
                    <div class="form-group">
                        <%= form.label :state_id, class: 'col-form-label required' %>
                        <%= collection_select(:agency, :state_id, State.all, :id, :name, {include_blank: 'Select option'}, class: 'form-control', required: true) %>
                    </div>
                </div>
      
            

<% content_for :page_end_scripts do %>
<script>

    // when change state, ajax fetch towns

    $('#agency_state_id').change(function () {
        
        // empty town and postcode

        $('#agency_town_id').html('<option value><%= form_select_option_text %></option>');
        $('#agency_postcode').val('');

        if (this.value) {
            
            $.ajax({
                url: '/states/' + this.value + '/towns.json',
                method: "GET",
            }).done(function (data) {
                $.each(data, function (idx, town) {
                    $('#agency_town_id').append('<option value="'+town.id+'" data-postcode_id="'+town.postcode_id+'" data-postcode_code="'+town.postcode_code+'">'+town.name+'</option>');
                });
            });

        }

    });

</script>
<% end %>