.card
  .card-header
    %strong PCR Audit Report #{'(Individual)' if has_permission?('PCR_AUDIT_SUMMARY_REPORT_INDIVIDUAL')}
  .card-body
    = render '/shared/all_flash'
    .row-fluid
      .card
        .card-header
          %strong Search
        = form_with(url: pcr_audit_summary_internal_pcr_reports_path, method: :get, local: true) do |form|
          .card-body
            - unless has_permission?('PCR_AUDIT_SUMMARY_REPORT_INDIVIDUAL')
              .row
                .col-md-6
                  .row.form-group
                    = form.label :pcr_user_code, 'PCR Code', class: 'col-sm-3 col-form-label'
                    .col-sm-9
                      = form.text_field :pcr_user_code, class: 'form-control', value: params[:pcr_user_code]
                .col-md-6
                  .row.form-group
                    = form.label :pcr_user_id, 'PCR Name', class: 'col-sm-3 col-form-label'
                    .col-sm-9
                      = form.select :pcr_user_id, options_from_collection_for_select(@users, :id, :name, params[:pcr_user_id]), { include_blank: true }, { class: 'form-control select2' }
            .row
              .col-md-6
                .row.form-group
                  = form.label :date_from, class: 'col-sm-3 col-form-label'
                  .col-sm-9
                    = form.text_field :date_from, class: 'form-control datepicker datepicker-range-filter', data: { type: "start", target: "date_from"}, max: DateTime.current, required: true, value: params[:date_from]
              .col-md-6
                .row.form-group
                  = form.label :date_to, class: 'col-sm-3 col-form-label'
                  .col-sm-9
                    = form.text_field :date_to, class: 'form-control datepicker datepicker-range-filter', data: { type: "end", target: "date_from"}, max: DateTime.current, required: true, value: params[:date_to]
          .card-footer
            - if has_permission?("PCR_REPORTS")
              .text-right
                = link_to pcr_audit_summary_internal_pcr_reports_path, class: 'btn btn-sm btn-danger mx-1' do
                  %i.icon-trash
                  Clear
                = button_tag type: 'submit', class: 'btn btn-sm btn-secondary', formtarget: '_blank', formaction: pcr_audit_summary_internal_pcr_reports_path(format: :pdf) do
                  %i.fa.fa-download
                  Download
                = form.button :filter, class: 'btn btn-primary btn-sm mx-1' do
                  %i.icon-magnifier
                  View
    = render 'internal/reports/pcr/pcr_audit_summary/pdf_template' if @data
