<div class="card">
    <div class="card-header">
        <strong>Laboratory Types</strong>
    </div>

    <!-- card-body -->
    <div class="card-body">
        <%=render "filter" %>

        <%=render '/shared/all_flash' %>

        <div class="row">
            <div class="col module-actions text-right">
                <% if has_permission?('CREATE_LABORATORY_TYPE') %>
                    <%=raw index_table_new_button(new_internal_laboratory_type_path) %>
                <% end %>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="<%= index_table_class %>">
                    <thead>
                    <tr>
                      <th class="module-row-numbers">#</th>
                      <th>Name</th>
                      <th class="module-row-actions">Action(s)</th>
                    </tr>
                    </thead>

                    <tbody>
                    <% if @laboratory_types.blank? %>
                      <tr>
                        <td colspan="3" class="text-danger">No records found.</td>
                      </tr>
                    <% else %>

                      <% @laboratory_types.each.with_index((@laboratory_types.current_page - 1) * get_per + 1) do |laboratory_type, index| %>
                        <tr>
                          <td class="module-row-numbers"><%= index %></td>
                          <td><%= laboratory_type.name %></td>
                          <td class="module-row-actions">
                            <%=raw index_table_show_button(internal_laboratory_type_path(laboratory_type)) %>
                            <% if has_permission?('EDIT_LABORATORY_TYPE') %>
                              <%=raw index_table_edit_button edit_internal_laboratory_type_path(laboratory_type) %>
                            <% end %>
                            <% if has_permission?('DELETE_LABORATORY_TYPE') %>
                              <%=raw index_table_delete_button(internal_laboratory_type_path(laboratory_type)) %>
                            <% end %>
                          </td>
                        </tr>
                      <% end %>

                    <% end %>
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
        <div class="row">
            <%= paginate @laboratory_types %>
        </div>
    </div>
    <!-- /card-body -->
</div>