<%= render '/shared/all_flash' %>

<% has_plks_optional = false %>

<div class="card">
    <!-- card-header -->
    <div class="card-header">
        Payment - <%= @order.code %>
    </div>
    <!-- /card-header -->

    <%= form_for @order, url: external_order_path(@order) do |form| %>
        <!-- card-body -->
        <div class="card-body">

            <!-- card for order detail -->
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <label class="col-md-3 col-form-label">Order Code</label>
                        <div class="col-md-9">
                            <div class="form-control-plaintext"><%= @order.code %></div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-3 col-form-label">Order Date</label>
                        <div class="col-md-9">
                            <div class="form-control-plaintext"><%= @order.date&.strftime("%d/%m/%Y") %></div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-3 col-form-label">Amount</label>
                        <div class="col-md-9">
                            <div class="form-control-plaintext"><%= number_to_currency(@order.amount, unit: "") %></div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-3 col-form-label">Category</label>
                        <div class="col-md-9">
                            <div class="form-control-plaintext"><%= Order::CATEGORIES[@order.category] %></div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-3 col-form-label">Status</label>
                        <div class="col-md-9">
                            <div class="form-control-plaintext"><%= @order.status %></div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-3 col-form-label required">Payment Method</label>
                        <div class="col-md-9">
                            <%= form.select :payment_method_id, options_from_collection_for_select(PaymentMethod.available_for_external_payment.order(:name), :id, :name, form.object.payment_method_id), {include_blank: form_select_option_text}, required: true, class: "form-control",onchange: "external_change_fee(this)" %>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /card for order detail -->

            <p class="plks-optional-message">
                Please review your worker list before submission. Workers highlighted in blue indicates that medical examination is optional for upcoming period. Your may choose to go ahead and register these workers for a medical or remove the workers.
            </p>

            <table class="table" id="etr-table">
                <thead>
                    <tr>
                        <th>Foreign Worker</th>
                        <th>Gender</th>
                        <th>PLKS</th>
                        <th class="currency">Amount</th>
                        <th class="text-right"><button type="button" class="btn btn-sm btn-secondary etr-add">+</button></th>
                    </tr>
                </thead>
                <tbody>
                    <% @order.order_items.sort_convenient_fee_as_last.each do |order_item| %>

                        <% if ['ForeignWorker'].include? order_item.order_itemable_type %>
                            <% has_plks_optional = true if order_item.order_itemable.plks_optional? %>
                            <tr class="<%= "plks-optional" if order_item.order_itemable.plks_optional? %>">
                                <td><%= order_item.order_itemable.name %></td>
                                <td><%= ForeignWorker::GENDERS[order_item&.gender] %></td>
                                <td><%= order_item.order_itemable.plks_number.to_i %></td>
                                <td class="currency item-amount" data-amount="<%= order_item.amount %>"><%= number_to_currency(order_item.amount, unit: "") %></td>
                                <td class="text-right">
                                    <input type="hidden" name="foreign_worker_ids[]" value="<%= order_item.order_itemable.id %>" class="etr-foreign_workers" data-amount="<%= order_item.amount %>">
                                    <button type="button" class="btn btn-sm btn-secondary" onclick="etr_remove(this)">X</button>
                                </td>
                            </tr>
                        <% else %>
                            <tr>
                                <td colspan="3"><%= order_item.fee.name %></td>
                                <td class="currency item-amount" data-amount="<%= order_item.amount %>"><%= number_to_currency(order_item.amount, unit: "") %></td>
                                <td></td>
                            </tr>
                        <% end %>
                    <% end %>
                </tbody>
                <tfoot>
                    <tr>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th class="currency">
                            <div class="etr-amount-total">0.00</div>
                        </th>
                        <th>&nbsp;</th>
                    </tr>
                </tfoot>
            </table>
            <div class="text-right">
                <a class="btn btn-primary" href="<%= external_orders_path %>">Back</a>
                <button class="btn btn-primary" type="submit" name="submit" value="cancel" id="btn-cancel" formnovalidate>Cancel order</button>
                <button class="btn btn-primary" type="submit" name="submit" value="save" id="btn-save">Save</button>
                <button class="btn btn-primary" type="submit" name="submit" value="save_and_proceed_to_payment" id="btn-save_and_proceed_to_payment">Save and proceed to payment</button>
            </div>
        </div>
        <!-- /card-body -->
    <% end %>
</div>

<style>
.plks-optional-message {
    display: <%= has_plks_optional ? "block" : "none" %>;
}
</style>

<%=render 'etr_search_worker' %>

<% content_for :page_end_scripts do %>
<script>
$('.etr-add').click(function () {
    $('#search-worker-modal').modal();
});

function etr_remove(btn)
{
    $(btn).closest('tr').remove();
    $('#btn-save').trigger('click');
    $('.btn').prop('disabled',true)
}
</script>
<% end %>