<form action="<%= @swipe_request.payment_url %>" method="post" id="swipe_request_form">
    <input type="hidden" name="MerchantCode" id="MerchantCode" value="<%= @swipe_request.merchant_code %>">
    <input type="hidden" name="PaymentId" id="PaymentId" value="<%= @swipe_request.payment_id %>">
    <input type="hidden" name="RefNo" id="RefNo" value="<%= @swipe_request.reference_number %>">
    <input type="hidden" name="Amount" id="Amount" value="<%= number_to_currency(@swipe_request.amount, unit: "") %>">
    <input type="hidden" name="Currency" id="Currency" value="<%= @swipe_request.currency %>">
    <input type="hidden" name="ProdDesc" id="ProdDesc" value="<%= @swipe_request.product_description %>">
    <input type="hidden" name="UserName" id="UserName" value="<%= @swipe_request.user_name %>">
    <input type="hidden" name="UserEmail" id="UserEmail" value="<%= @swipe_request.user_email %>">
    <input type="hidden" name="UserContact" id="UserContact" value="<%= @swipe_request.user_contact %>">
    <input type="hidden" name="Remark" id="Remark" value="<%= @swipe_request.remark %>">
    <input type="hidden" name="Lang" id="Lang" value="<%= @swipe_request.lang %>">
    <input type="hidden" name="SignatureType" id="SignatureType" value="<%= @swipe_request.signature_type %>">
    <input type="hidden" name="Signature" id="Signature" value="<%= @swipe_request.signature %>">
    <input type="hidden" name="ResponseURL" id="ResponseURL" value="<%= @swipe_request.response_url %>">
    <input type="hidden" name="BackendURL" id="BackendURL" value="<%= @swipe_request.backend_url %>">
</form>

<% content_for :page_end_scripts do %>
<script>
    document.getElementById('swipe_request_form').submit();
</script>
<% end %>