<div class="my-4">
    <table class="table-borders w-100 text-center">
        <thead class="text-center">
            <tr>
                <th>SP CODE</th>
                <th>BYPASS DATE</th>
                <% @reasons.each do |reason| %>
                    <th><%= reason.description.upcase %></th>
                <% end %>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tbody>

            <% @data.each do |row| %>
                <tr>
                    <td><%= row.code %></td>
                    <td><%= row.bypass_date.try(:strftime, '%d/%m/%Y') %></td>
                    <td><%= row.other_count %></td>
                    <td><%= row.bt_count %></td>
                    <td><%= row.mnf_count %></td>
                    <td><%= row.cc_count %></td>
                    <td><%= row.ec_count %></td>
                    <td><%= row.phtpa_count %></td>
                    <td><%= row.pfiota_count %></td>
                    <td><%= row.total %></td>
                </tr>
            <% end %>

            <tr class="font-weight-bold">
                <td>Total</td>
                <td>-</td>
                <td><%= @data.sum(&:other_count) || 0 %></td>
                <td><%= @data.sum(&:bt_count) || 0 %></td>
                <td><%= @data.sum(&:mnf_count) || 0 %></td>
                <td><%= @data.sum(&:cc_count) || 0 %></td>
                <td><%= @data.sum(&:ec_count) || 0 %></td>
                <td><%= @data.sum(&:phtpa_count) || 0 %></td>
                <td><%= @data.sum(&:pfiota_count) || 0 %></td>
                <td><%= @data.sum(&:total) || 0 %></td>
            </tr>

        </tbody>
    </table>
</div>

<style>
    #preview-csv-table th,
    #preview-csv-table td {
        padding: 0.5em;
    }

    #preview-csv-table th {
        background-color: #f3f3f3 !important;
    }
</style>