<!DOCTYPE html>
<html>
<head></head>
<body>
<div class="card-filter" id="checkbox_side_bar">
  <div  class="dropdown dropleft m-0 p-0">
    <i onclick="pending_view()" class="fa fa-refresh" data-toggle="dropdown"></i>
    <div id="pendingopen" class="dropdown-menu sidefilter">
      <ul>
        <li>
          <a class="dropdown-item" style="font-size: 14px; padding: 4px 6px; background-color: #d9d8d8;">
            <input type="checkbox" class="mx-1" id="select-all" onclick="radiographerClick('selectAll')"> Select All
          </a>
        </li>
        <li>
          <div class="card-lifilter">
            <span>XQCC Pool</span>
            <ul>
              <li >
                <a class="dropdown-item"  onclick="radiographerClick('Radiographer')">
                  <input type="checkbox" data-target="XQCC-Pool-Received"> Received
                </a>
              </li>
              <li>
                <a onclick="radiographerClick('Radiographer1')" class="dropdown-item">
                  <input type="checkbox" data-target="XQCC-Pool-Reviewed"> Reviewed
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div class="card-lifilter">
            <span>PCR Pool</span>
            <ul>
              <li>
                <a onclick="radiographerClick('PCR')" class="dropdown-item">
                  <input type="checkbox" data-target="PCR-Pool-Received"> Received
                </a>
              </li>
              <li>
                <a  onclick="radiographerClick('PCR1')" class="dropdown-item">
                  <input type="checkbox" data-target="PCR-Pool-Reviewed"> Reviewed
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div class="card-lifilter">
            <span>X-ray Pending Review</span>
            <ul>
              <li>
                <a onclick="radiographerClick('XQCC')" class="dropdown-item">
                  <input type="checkbox" data-target="X-ray-Pending-Received"> Received
                </a>
              </li>
              <li>
                <a onclick="radiographerClick('XQCC1')" class="dropdown-item">
                  <input type="checkbox" data-target="X-ray-Pending-Reviewed"> Reviewed
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div class="card-lifilter">
            <span>X-ray Pending Decision</span>
            <ul>
              <li>
                <a onclick="radiographerClick('X-raypending')"  class="dropdown-item">
                  <input type="checkbox" data-target="X-ray-Pending-Decision-Received"> Received
                </a>
              </li>
              <li>
                <a onclick="radiographerClick('X-raypending1')" class="dropdown-item">
                  <input type="checkbox" data-target="X-ray-Pending-Decision-Reviewed"> Reviewed
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div class="card-lifilter">
            <span>Medical Review</span>
            <ul>
              <li>
                <a onclick="radiographerClick('Medicalr')" class="dropdown-item">
                  <input type="checkbox" data-target="Medical-Review-Received"> Received
                </a>
              </li>
              <li>
                <a onclick="radiographerClick('Medicalr1')" class="dropdown-item">
                  <input type="checkbox" data-target="Medical-Review-Reviewed"> Reviewed
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="list-group-icon circle4"></div>
<div class="list-body" id="pending-view">
  <h6>FOMEMA Pending to View</h6>
</div>
<div class="list-visit"><%= @fw_pendingview %></div>
<div class="Received listcard-box">
  <ul class="sub-ulcard">
    <li>
      <div class="collapse" id="Radiographer">
        <div class="sub-licard-header" id="XQCC-Pool-Received">XQCC Pool Received
          <span><%= @xqcc_poolreceive %></span>
        </div>
      </div>
      <div class="collapse" id="Radiographer1">
        <div class="sub-licard-body" id="XQCC-Pool-Reviewed">XQCC Pool Reviewed
          <span><%= @xqcc_poolreview %></span>
        </div>
      </div>
    </li>
    <li>
      <div class="collapse" id="PCR">
        <div class="sub-licard-header" id="PCR-Pool-Received">PCR Pool Received
          <span><%= @pcr_poolreceived %></span>
        </div>
      </div>
      <div class="collapse" id="PCR1">
        <div class="sub-licard-body" id="PCR-Pool-Reviewed">PCR Pool Reviewed
          <span><%= @pcr_poolreviewed %></span>
        </div>
      </div>
    </li>
    <li>
      <div class="collapse" id="XQCC">
        <div class="sub-licard-header" id="X-ray-Pending-Received">X-Ray Pending Received
          <span><%= @x_ray_pending_review %></span>
        </div>
      </div>
      <div class="collapse" id="XQCC1">
        <div class="sub-licard-body" id="X-ray-Pending-Reviewed">X-Ray Pending Reviewed
          <span><%= @x_ray_pending_review %></span>
        </div>
      </div>
    </li>
    <li>
      <div class="collapse" id="X-raypending">
        <div class="sub-licard-header" id="X-ray-Pending-Decision-Received">X-Ray Pending Decision Received
          <span><%= @x_ray_pending_decision %></span>
        </div>
      </div>
      <div class="collapse" id="X-raypending1">
        <div class="sub-licard-body" id="X-ray-Pending-Decision-Reviewed">X-Ray Pending Decision Reviewed
          <span><%= @x_ray_pending_decision %></span>
        </div>
      </div>
    </li>
    <li>
      <div class="collapse" id="Medicalr">
        <div class="sub-licard-header" id="Medical-Review-Received">Medical Review Received
          <span><%= @medical_review %></span>
        </div>
      </div>
      <div class="collapse" id="Medicalr1">
        <div class="sub-licard-body" id="Medical-Review-Reviewed">Medical Review Reviewed
          <span><%= @medical_review %></span>
        </div>
      </div>
    </li>
  </ul>
</div>
<script>
    function pending_view() {
        if ($('#pendingopen').hasClass("show")) {
            $('#pendingopen').removeClass("show")
        } else {
            $("#pendingopen").addClass("show");
        }
    }
    function onSelectAllClick(event) {
        const checkboxes = document.querySelectorAll('input[type="checkbox"]');
        const sections = document.querySelectorAll('.collapse');
        // Check or uncheck all checkboxes
        checkboxes.forEach(function (checkbox) {
            checkbox.checked = selectAllCheckbox.checked;
        });

        // Expand or collapse all sections based on the "Select All" checkbox's state
        sections.forEach(function (section) {
            if (selectAllCheckbox.checked) {
                section.classList.add('show'); // Add 'show' class to expand sections
            } else {
                section.classList.remove('show'); // Remove 'show' class to collapse sections
            }
        });
    }

</script>
</body>
</html>