<p>
    Dear Dr. <%= @doctor_name %> <b>of</b> <%= @clinic_name %>
</p>

<p>
    <b>FINAL STATUS OF FOREIGN WORKER AFTER MEDICAL REVIEW BY FOMEMA</b><br>
    <%= @transaction.fw_name %> / <%= @transaction.fw_code %> / <%= @transaction.fw_passport_number%>
</p>

<p>
Please be informed that the above foreign worker certification has been amended to UNSUITABLE for employment in Malaysia
after further review by FOMEMA. Kindly refer to the “Notifiable Cases” tab in MERTS for further details.<br>
</p>

<p>
As the reason of unsuitability is due to the presence of infectious diseases (Hepatitis B/ HIV/ Syphilis/tuberculosis/ Malaria/ Leprosy),
you are required to notify the case via <b>MOH e-notification system </b>(preferably) or by using <b>'Borang Notifikasi Penyakit Berjangkit Revision 2010'</b>
which can be downloaded from MOH website soonest possible. You are also advised to refer the case to the nearest District Health Office
or Klinik Kesihatan for further management.<br>
</p>

<p>
Failure on the part of the examining doctor to notify on the above infectious diseases to the nearestDistrict Health Office
will result in action being taken against them by the Health Officers under Section 10 (2) of the Prevention and Control
of Infectious Diseases Act 1988.<br>
</p>

<p>
Thank you for your kind attention and cooperation.<br>
</p>

<p>
    ***This is an auto generated email. Please do not reply to this email.*** <br>
    <i>***Email dibuat secara auto. Tidak perlu untuk membalas e-mel.***</i>
</p>