<!-- new template for index -->

<div class="card">
    <div class="card-header">
        <strong>Master List</strong>
    </div>

    <!-- card-body -->
    <div class="card-body">
        <%= render "/shared/all_flash" %>
        
        <%=render 'internal/reports/inspectorate/shared/filter', { filter_link: master_list_internal_inspectorate_reports_path} %>

        <div class="row">
            <div class="col module-actions text-right">
                <%=raw index_table_new_button(new_master_list_internal_inspectorate_reports_path) %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="<%= index_table_class %>">
                        <thead>
                            <tr>
                                <th class="module-row-numbers">#</th>
                                <th>Visit Start Date</th>
                                <th>Visit End Date</th>
                                <th class="module-row-actions">Action(s)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if @batches.blank? %>
                                <tr>
                                    <td colspan="10" class="text-danger">No records found.</td>
                                </tr>
                            <% else %>
                                <% @batches.each.with_index((@batches.current_page - 1) * get_per + 1) do |batch, index| %>
                                    <tr>
                                        <td><%= index %></td>
                                        <td><%= batch.start_date.strftime('%d/%m/%Y') %></td>
                                        <td><%= batch.end_date.strftime('%d/%m/%Y') %></td>
                                        <td>
                                            <%= raw index_table_show_button(view_master_list_internal_inspectorate_reports_path(batch)) %>
                                        </td>
                                    </tr>
                                <% end %>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <%= paginate @batches %>
        </div>
    </div>
    <!-- /card-body -->
</div>