<div class="card-body">

    <%= render 'shared/all_validation_flash', { model_obj: @service_provider_group } %>

    <% if has_permission? "EDIT_NON_FINANCE_INFO_SERVICE_PROVIDER_GROUP" %>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <% field_id = generate_field_id(form, :category) %>
                    <%= form.label :category, class: 'required' %>
                    <%= form.select :category, options_for_select(ServiceProviderGroup::CATEGORIES.invert, form.object.category), {include_blank: form_select_option_text}, required: true, class: 'form-control select2', data: { parsley_errors_container: "#select2_parsley_error__#{ field_id }", parsley_class_handler: ".select2-selection--single[aria-labelledby=\"select2-#{ field_id }-container\"]", parsley_group: field_id } %>
                    <div id="select2_parsley_error__<%= field_id %>"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <%= form.label :name, class: 'required' %>
                    <%= form.text_field :name, class: 'form-control', required: true, data: { parsley_maxlength: "150", parsley_maxlength_message: "Maximum length of 150 characters", parsley_pattern: "^[a-zA-Z0-9].*", parsley_pattern_message: "Name must not begin with a special characters" } %>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <%= form.label :business_registration_number, "Business Registration Number", class: 'required' %>
                    <%= form.text_field :business_registration_number, class: 'form-control', required: true, data: { parsley_maxlength: "30", parsley_maxlength_message: "Maximum length of 30 characters", parsley_pattern: "[a-zA-Z0-9]+", parsley_pattern_message: "No special characters allowed" }  %>
                </div>
            </div>
        </div>

        <%= render 'internal/shared/address', {form: form} %>

        <%= render 'internal/shared/form_state_postcode_town', {form: form} %>

        <%= render 'internal/shared/phone_fax', {form: form} %>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <%= form.label :email, class: 'required' %>
                    <%= form.email_field :email, class: 'form-control', required: true, data: { parsley_maxlength: "100", parsley_maxlength_message: "Maximum length of 100 characters" } %>
                </div>
            </div>
        </div>
    <% end %>

    <% if has_permission? "EDIT_FINANCE_INFO_SERVICE_PROVIDER_GROUP" %>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <%= form.label :male_rate, "Male Worker Rate (RM)", class: 'required' %>
                    <%= form.text_field :male_rate, class: 'form-control', required: true %>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <%= form.label :female_rate, "Female Worker Rate (RM)", class: 'required' %>
                    <%= form.text_field :female_rate, class: 'form-control', required: true %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <% field_id = generate_field_id(form, :payment_method_id) %>
                    <%= form.label :payment_method_id, "Payment Method", class: 'required' %>
                    <%= form.select :payment_method_id, PaymentMethod.where("category = 'OUT'").order(:name).all.map{ |c| [c.name, c.id, { 'data-code' => c.code} ] }, {include_blank: form_select_option_text}, {class: "form-control select2",required: true, data: { parsley_errors_container: "#select2_parsley_error__#{ field_id }", parsley_class_handler: ".select2-selection--single[aria-labelledby=\"select2-#{ field_id }-container\"]", parsley_group: field_id} } %>
                    <div id="select2_parsley_error__<%= field_id %>"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <% field_id = generate_field_id(form, :bank_id) %>
                    <%= form.label :bank_id, class: 'bank-id' %>
                    <%= form.select :bank_id, options_from_collection_for_select(Bank.where(status: 'ACTIVE').where.not(routing: [nil, '']).order(:name).all, 'id', 'name', form.object.bank_id), {include_blank: form_select_option_text}, class: 'form-control select2', data: { parsley_errors_container: "#select2_parsley_error__#{ field_id }", parsley_class_handler: ".select2-selection--single[aria-labelledby=\"select2-#{ field_id }-container\"]", parsley_group: field_id } %>
                    <div id="select2_parsley_error__<%= field_id %>"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <%= form.label :bank_account_holder_name, "Bank Account Holder Name", class: 'bank-account-holder-name' %>
                    <%= form.text_field :bank_account_holder_name, class: 'form-control' %>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <%= form.label :bank_account_number, "Bank Account Number", class: 'bank-account-number' %>
                    <%= form.text_field :bank_account_number, class: 'form-control' %>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <%= form.label :bank_payment_id, "Bank Payment ID", class: 'bank_payment_id' %>
                    <%= form.text_field :bank_payment_id, class: 'form-control' %>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <%= form.label :email_payment, "Email (Payment)", class: 'email_payment' %>
                    <%= form.email_field :email_payment, class: 'form-control', data: { parsley_maxlength: "100", parsley_maxlength_message: "Maximum length of 100 characters" } %>
                </div>
            </div>
        </div>
    <% end %>
    
</div>

<div class="card-footer">

    <div class="text-right">
        <%=raw edit_back_button(internal_service_provider_groups_path) %>
        <%=raw edit_save_button() %>
    </div>

</div>

<% content_for :page_end_scripts do %>
<script>
check_payment_method($('#service_provider_group_payment_method_id').find(":selected").data("code"))

$('#service_provider_group_payment_method_id').change(function(){
    code = $('#service_provider_group_payment_method_id').find(":selected").data("code")
    check_payment_method(code)
});

function check_payment_method(code){
    if(code == 'OUT_CASHORDER' || code == 'OUT_CHEQUE'){
        $('#service_provider_group_bank_id').attr('data-parsley-required',false);
        $('.bank-id').removeClass("required");
        $('#service_provider_group_bank_account_number').attr('data-parsley-required',false);
        $('.bank-account-number').removeClass("required");
        $('#service_provider_group_bank_account_holder_name').attr('data-parsley-required',false);
        $('.bank-account-holder-name').removeClass("required");
        $('#service_provider_group_email_payment').attr('data-parsley-required',false);
        $('.email_payment').removeClass("required");
        $('#service_provider_group_bank_payment_id').attr('data-parsley-required',false);
        $('.bank_payment_id').removeClass("required");
    }else{
        $('#service_provider_group_bank_id').attr('data-parsley-required',true);
        $('.bank-id').addClass("required");
        $('#service_provider_group_bank_account_number').attr('data-parsley-required',true);
        $('.bank-account-number').addClass("required");
        $('#service_provider_group_bank_account_holder_name').attr('data-parsley-required',true);
        $('.bank-account-holder-name').addClass("required");
        $('#service_provider_group_email_payment').attr('data-parsley-required',true);
        $('.email_payment').addClass("required");
        $('#service_provider_group_bank_payment_id').attr('data-parsley-required',true);
        $('.bank_payment_id').addClass("required");
    }
}

var service_provider_group_id = '<%= @service_provider_group.id %>';
var default_rates = '<%= @default_rates.to_json %>';
default_rates = JSON.parse(default_rates.replace(/&quot;/g,'"'));
if(service_provider_group_id.length == 0){
    $( "#service_provider_group_category" ).change(function() {
        console.log('testing')
        category = $( "#service_provider_group_category option:selected" ).val();
        if(category == 'Doctor'){
            male_rate = default_rates.find(function(item, i){
                if (item.code == 'DOCTOR_SERVICE_PROVIDER_GROUP_DEFAULT_MALE_RATE') 
                    return item
            })

            female_rate = default_rates.find(function(item, i){
                if (item.code == 'DOCTOR_SERVICE_PROVIDER_GROUP_DEFAULT_FEMALE_RATE') 
                    return item
            })
        }else if (category == 'Laboratory'){
            male_rate = default_rates.find(function(item, i){
                if (item.code == 'LABORATORY_SERVICE_PROVIDER_GROUP_DEFAULT_MALE_RATE') 
                    return item
            })

            female_rate = default_rates.find(function(item, i){
                if (item.code == 'LABORATORY_SERVICE_PROVIDER_GROUP_DEFAULT_FEMALE_RATE') 
                    return item
            })
        }else if (category == 'XrayFacility'){
            male_rate = default_rates.find(function(item, i){
                if (item.code == 'XRAY_FACILITY_SERVICE_PROVIDER_GROUP_DEFAULT_MALE_RATE') 
                    return item
            })

            female_rate = default_rates.find(function(item, i){
                if (item.code == 'XRAY_FACILITY_SERVICE_PROVIDER_GROUP_DEFAULT_FEMALE_RATE') 
                    return item
            })
        }
        $('#service_provider_group_male_rate').val(male_rate.value)
        $('#service_provider_group_female_rate').val(female_rate.value)
    });
}
</script>
<% end %>