.w-100{:style => "margin-top: 2rem;"}
  %h1= branch
  %table.table.w-100.text-center.mb-0
    %thead
      %tr
        - @headers.each.with_index do |header, index|
          %th{width: index == 1 ? '40%' : '20%'}= header
    %tbody
      - if registrations.present?
        - registrations.sort_by { |registration| [registration[0].to_date, registration[1], registration[2]] }.each do |data_row|
          %tr
            - data_row.delete_at(1)
            %td= data_row[0]
            %td= data_row[1]
            %td= data_row[2]
            %td= link_to data_row[3], detail_worker_registration_internal_finance_reports_path(organization_id: Organization.find_by(name: branch), gender: data_row[2], paid_at: data_row[0].to_date.strftime('%Y-%m-%d'), category: data_row[1])
.w-100
  %table.table.w-100.text-center.mb-0
    %thead
      %tr
        %th Branch Summary
        %th Male
        %th Female
        %th Total
    %tbody
      - if stats.present?
        - stats.each do |row_data|
          %tr
            - _, title, male_count, female_count, total_count = row_data
            - grand_total_calculation(grand_total, row_data)
            %td.text-left= title
            %td{width: '20%'}= male_count
            %td{width: '20%'}= female_count
            %td{width: '20%'}= total_count
