<pdfbody>
    <body class="header-body">
        <div class="header">
            <div class="title">
                <span class="float-left">MyIMMS Error Alert</span>
            </div>
            <div class="email-from"><%= @company_name.to_s.upcase %> <%= "<#{@email_from}>" %>
            </div>
            <div class="cron-datetime"><%= @current_datetime %></div>
            <div class="email-to">To: <%= @email_to_name %> <%= "<#{@email_to}>" %>
            </div>
            <div class="table-title">
                Transaction(s) with MyIMMS Error
            </div>
        </div>
    </body>

    <table class="errors-table w-100" style="margin-top: 2rem;">
        <thead>
            <tr>
                <% @headers.each do |header| %>
                <th><%= header %></th>
                <% end %>
            </tr>
        </thead>
        <tbody>
            <% @myimms_errors.each do |myimms_error| %>
                <tr>
                    <td><%= myimms_error.txn_id %></td>
                    <td><%= myimms_error.doc_no %></td>
                    <td><%= myimms_error.nat %></td>
                    <td><%= myimms_error.med_sts %></td>
                    <td><%= myimms_error.created_at.strftime("%d-%m-%Y %l:%M:%S") %></td>
                    <td><%= myimms_error.sts_ind %></td>
                    <td><%= myimms_error.res_status %></td>
                    <td>Error: <%= myimms_error.response %></td>
                </tr>
            <% end %>
        </tbody>
    </table>

    <div class="footer">
        <div>Thanks.</div>
        <div class="auto-msg">***This is an auto generated email. Do not reply to this email.***</div>
        <div class="ref">[Ref:ijm/myimms_error]</div>
    </div>
</pdfbody>

<style>
    pdfbody {
        font-size: 14px;
    }

    .w-100 {
        width: 100%;
    }

    table,
    th,
    td {
        border-collapse: collapse;
        border: 1px solid #aaa;
        padding: 3px 2px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .errors-table {
        color: #808080;
    }

    .footer {
        color: #808080;
        margin-top: 1rem;
    }

    .footer div {
        padding: 0.5rem 0px;
    }

    .header-body {
        font-family: Arial, Helvetica, sans-serif;
    }

    .header {
        font-weight: bold;
    }

    .title {
        font-size: 16px;
        color: #808080;
        padding-bottom: 1rem;
    }

    .float-right {
        float: right;
    }

    .email-from {
        font-size: 14px;
        padding-bottom: 5px;
    }

    .cron-datetime {
        font-size: 12px;
        color: #808080;
        padding-bottom: 5px;
    }

    .email-to {
        font-size: 12px;
        padding-bottom: 1rem;
    }

    .header-banner {
        border: 2px solid black;
        padding: 5px;
        margin-bottom: 1.5rem;
    }

    .table-title {
        font-size: 18px;
        color: #808080;
        padding-bottom: 1rem;
    }
</style>