<p>
    <b>Dear <%= @employer.name %></b>, <br>
    <b><i>Tuan/ Puan <%= @employer.name %></i></b>,
</p>

<p>
    Thank you for registering with FOMEMA. We are currently processing your application. An email notification will be sent to you within <b><%= @employer_register_approval_reply_days %></b> working days.<br>
    <i>Terima kasih kerana mendaftar dengan FOMEMA. Kami sedang memproses permohonan anda. Emel pemberitahuan akan dihantar dalam tempoh <b><%= @employer_register_approval_reply_days %></b> hari waktu bekerja.</i>
</p>

<p>
    For further enquiries, please use your registration ID which is <b><%= @employer.id %></b><br>
    <i>Untuk pertanyaaan lanjut, sila gunakan ID pendaftaran ini <b><%= @employer.id %></b></i>
</p>

<p>
    Thank you.<br>
    <i>Terima kasih</i>
</p>

<p>
    ***This is an auto generated email. Please do not reply to this email.*** <br>
    <i>***Email dibuat secara auto. Tidak perlu untuk membalas e-mel.***</i>
</p>