<% @xray_reviews.each do |xray_review| %>

<tr class="filter-table-search-results" data-type="xray_review" data-id="<%= xray_review.id %>">
    <td>
        <input type="checkbox" class="transaction_ids" name="xray_review_ids[]" value="<%= xray_review.id %>" />
    </td>
    <td>
        <a target="_blank" href="<%= xqcc_review_internal_transaction_path(xray_review.transactionz, xray_review.id) %>"><%= xray_review.transactionz&.code %></a>
    </td>
    <td><%= xray_review.transactionz&.xray_facility.code %></td>
    <td><%= xray_review.transactionz&.foreign_worker_id.blank? ? raw('<i>N/A</i>') : "#{xray_review.transactionz&.foreign_worker&.code}"  %></td>
    <td><%= xray_review.transactionz&.foreign_worker_id.blank? ? raw('<i>N/A</i>') : "#{xray_review.transactionz&.foreign_worker&.name}"  %></td>
    <td><%= xray_review.created_at.strftime("%d/%m/%Y") %></td>
    <td><%= xray_review.transactionz&.xray_examination&.xray_taken_date.nil? ? "N/A" : xray_review.transactionz&.xray_examination.xray_taken_date.strftime("%d/%m/%Y") %></td>
    <td><%= xray_review.result %></td>
    <td>
        <%= xray_review.batch_id %>
    </td>
</tr>

<% end %>

<% if @xray_reviews.blank? %>
<tr>
    <td colspan="9">No XQCC Review found with these search options</td>
</tr>
<% end %>