<div class="w-100 py-3" style="overflow-x: auto;">
    <table class="table-borders w-100 text-center">
        <thead class="text-center">
            <tr>
                <th rowspan="2">STATE</th>
                <th colspan="2">MALE</th>
                <th colspan="2">FEMALE</th>
                <th colspan="2">TOTAL</th>
            </tr>
            <tr>
                <th>REGISTRATION</th>
                <th>AMOUNT</th>
                <th>REGISTRATION</th>
                <th>AMOUNT</th>
                <th>REGISTRATION</th>
                <th>AMOUNT</th>
            </tr>
        </thead>
        <tbody>
            <% if @order_items.present? %>
                <% @order_items.each do |order_item| %>
                    <%
                        total_count = order_item.male_count+order_item.female_count
                        total_amount = order_item.male_amount+order_item.female_amount
                    %>
                    <tr>
                        <td><%= order_item.branch_name %></td>
                        <td><%= order_item.male_count %></td>
                        <td><%= order_item.male_amount %></td>
                        <td><%= order_item.female_count %></td>
                        <td><%= order_item.female_amount %></td>
                        <td><%= total_count %></td>
                        <td><%= total_amount %></td>
                    </tr>
                <% end %>
                <tr class="font-weight-bold">
                    <td>TOTAL</td>
                    <td><%= @grand_male_count %></td>
                    <td><%= @grand_male_amount %></td>
                    <td><%= @grand_female_count %></td>
                    <td><%= @grand_female_amount %></td>
                    <td><%= @grand_total_count %></td>
                    <td><%= @grand_total_amount %></td>

                </tr>
            <% end %>
        </tbody>
    </table>
</div>

<style>
    #preview-csv-table th,
    #preview-csv-table td {
        padding: 0.5em;
    }

    #preview-csv-table th {
        background-color: #f3f3f3 !important;
    }
</style>