<div class="card">
    <div class="card-header">
        <strong>Search</strong>
    </div>

    <%= form_tag filter_link, method: 'get', :id => report_id do |form| %>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label for="purchase_date" class="col-sm-3 col-form-label">Purchase Date</label>
                        <div class="col-sm-9">
                            <div class="d-flex align-items-center">
                                <%= text_field_tag "purchase_date_start", params["purchase_date_start"], class: "form-control datepicker datepicker-range-filter flex-grow-1", placeholder: "Start Date", data: { type: "start", target: 'purchase_date' }, max: Date.today.strftime("%F") %>
                                <span class="mx-3">to</span>
                                <%= text_field_tag "purchase_date_end", params["purchase_date_end"], class: "form-control datepicker datepicker-range-filter flex-grow-1", placeholder: "End Date", data: { type: "end", target: 'purchase_date' }, max: Date.today.strftime("%F") %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% if report_id == 'insurance_purchased' %>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="name" class="col-sm-3 col-form-label">Insurance Provider</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="insurance_provider" name="insurance_provider">
                                    <option value="">ALL</option>
                                    <% ForeignWorker::INSURANCE.each do |obj| %>
                                    <option value="<%= obj['ins_id'] %>" data-insurance="<%= JSON(obj) %>" <%= 'selected' if params['insurance_provider'] == obj['ins_id'] %>><%= obj['name'] %></option>
                                    <% end %>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
        <input type="hidden" name="report_id" value="<%= report_id %>">
        <div class="card-footer">
            <div class="text-right">
                <%=raw filter_clear_button filter_link %>
                <%= link_to '<i class="fa fa-download" aria-hidden="true"></i> Export'.html_safe, filter_link, class: "btn btn-sm btn-secondary with-csv-format" %>
                <%=raw filter_button %>
            </div>
        </div>
    <% end %>
</div>

<% content_for :page_end_scripts do %>
    <script>
        $('.with-csv-format').click(function(e) {
            $(this).attr("href", this.href + ".csv?"+$(this).closest('form').serialize());
        });
    </script>
<% end %>