<div class="card">
    <div class="card-header">
        <%= @agency.code %>
    </div>
    <div class="card-body">

        <div class="row">
            <label class="col-md-2 col-form-label">Code</label>
            <div class="col-md-4">
                <div class="form-control-plaintext"><%= @agency.code %></div>
            </div>
            <label class="col-md-2 col-form-label">Agency Name</label>
            <div class="col-md-4">
                <div class="form-control-plaintext"><%= @agency.name %></div>
            </div>
        </div>

        <div class="row">
            <label class="col-md-2 col-form-label">Business Registration Number</label>
            <div class="col-md-10">
                <div class="form-control-plaintext"><%= @agency.business_registration_number %></div>
            </div>
        </div>

        <div class="row">
            <label class="col-md-2 col-form-label">License Number</label>
            <div class="col-md-4">
                <div class="form-control-plaintext"><%= @agency.license_number %></div>
            </div>
            <label class="col-md-2 col-form-label">Agency Category</label>
            <div class="col-md-4">
                <div class="form-control-plaintext"><%= @agency.agency_license_category&.name || raw("<i>N/A</i>") %></div>
            </div>
        </div>

        <div class="row">
            <label class="col-md-2 col-form-label">License Expired Date</label>
            <div class="col-md-4">
                <div class="form-control-plaintext"><%= @agency.license_expired_at&.strftime(get_standard_date_format) %></div>
            </div>
            <label class="col-md-2 col-form-label">Account Valid Till Date</label>
            <div class="col-md-4">
                <div class="form-control-plaintext"><%= @agency.expired_at&.strftime(get_standard_date_format) %></div>
            </div>
        </div>

        <div class="row">
            <label class="col-md-2 col-form-label">Director Name</label>
            <div class="col-md-4">
                <div class="form-control-plaintext"><%= @agency.director_name %></div>
            </div>
            <label class="col-md-2 col-form-label">Director ICNO</label>
            <div class="col-md-4">
                <div class="form-control-plaintext"><%= @agency.director_ic_number %></div>
            </div>
        </div>

        <div class="row">
            <label class="col-md-2 col-form-label">Name (Person In Charge)</label>
            <div class="col-md-4">
                <div class="form-control-plaintext"><%= @agency.pic_name %></div>
            </div>
            <label class="col-md-2 col-form-label">ICNO (Person In Charge)</label>
            <div class="col-md-4">
                <div class="form-control-plaintext"><%= @agency.pic_ic_number %></div>
            </div>
        </div>
        <div class="row">
            <label class="col-md-2 col-form-label">Contact Details (Person In Charge)</label>
            <div class="col-md-10">
                <div class="form-control-plaintext"><%= @agency.pic_phone %></div>
            </div>
        </div>

        <!-- address -->
        <div class="row">
            <label class="col-md-2 col-form-label">Address</label>
            <div class="col-md-10">
                <div class="form-control-plaintext">
                    <%= @agency.address1 %>
                    <%=raw "<br>#{@agency.address2}" if @agency.address2 %>
                    <%=raw "<br>#{@agency.address3}" if @agency.address3 %>
                    <%=raw "<br>#{@agency.address4}" if @agency.address4 %>
                </div>
            </div>
        </div>

        <div class="row">
            <label class="col-md-2 col-form-label">State</label>
            <div class="col-md-4">
                <div class="form-control-plaintext"><%= @agency&.state&.name %></div>
            </div>
            <label class="col-md-2 col-form-label">Town</label>
            <div class="col-md-4">
                <div class="form-control-plaintext"><%= @agency&.town&.name %></div>
            </div>
        </div>

        <div class="row">
            <label class="col-md-2 col-form-label">Postcode</label>
            <div class="col-md-4">
                <div class="form-control-plaintext"><%= @agency&.postcode %></div>
            </div>
            <label class="col-md-2 col-form-label">Email Address</label>
            <div class="col-md-4">
                <div class="form-control-plaintext"><%= @agency&.email %></div>
            </div>
        </div>

        <div class="row">
            <label class="col-md-2 col-form-label">Telephone Number</label>
            <div class="col-md-4">
                <div class="form-control-plaintext"><%= @agency&.phone %></div>
            </div>
        </div>

        <div class="row">
            <label class="col-md-2 col-form-label">Status</label>
            <div class="col-md-4">
                <div class="form-control-plaintext"><%= Agency::STATUSES[@agency.status] %></div>
            </div>
            <label class="col-md-2 col-form-label">Remarks</label>
            <div class="col-md-4">
                <div class="form-control-plaintext"><pre><%= @agency&.registration_comment %></pre></div>
            </div>
        </div>
        <!-- /address -->

        <div class="row">
            <label class="col-md-2 col-form-label">Problematic</label>
            <div class="col-md-4">
                <div class="form-control-plaintext"><%= @agency&.problematic ? 'Yes' : 'No' %></div>
            </div>
            <label class="col-md-2 col-form-label">Document Verified</label>
            <div class="col-md-4">
                <div class="form-control-plaintext"><%= @agency&.document_verified ? 'Yes' : 'No' %></div>
            </div>
            <label class="col-md-2 col-form-label">Sop Acknowledge</label>
            <div class="col-md-4">
                <div class="form-control-plaintext"><%= @agency&.sop_acknowledge ? 'Yes' : 'No' %></div>
            </div>
        </div>

        <% if has_permission?("VIEW_FINANCE_INFO_AGENCY") %>
            <div class="row">
                <label class="col-md-2 col-form-label">Bank Payment ID</label>
                <div class="col-md-4">
                    <div class="form-control-plaintext"><%= @agency.bank_payment_id || raw("<i>N/A</i>") %></div>
                </div>
            </div>
            <div class="row">
                <label class="col-md-2 col-form-label">Bank</label>
                <div class="col-md-4">
                    <div class="form-control-plaintext"><%= @agency.bank&.name || raw("<i>N/A</i>") %></div>
                </div>
                <label class="col-md-2 col-form-label">Bank Account Number</label>
                <div class="col-md-4">
                    <div class="form-control-plaintext"><%= @agency.bank_account_number || raw("<i>N/A</i>") %></div>
                </div>
            </div>
        <% end %>

        <% if has_permission?("VIEW_NON_FINANCE_INFO_AGENCY") %>
            <div class="row">
                <div class="col-md-12">
                    <label for="agency_uploads">Uploaded Documents</label>
                    <%= hidden_field_tag :remove_uploaded_file, "" %>

                    <table class="table">
                        <tr>
                            <th>Category</th>
                            <th>Documents</th>
                            <th>Date Uploaded</th>
                            <th></th>
                        </tr>

                        <% @agency.uploads.each do |upload| %>
                            <tr>
                                <td class="filenames"><%= upload.category %></td>

                                <td class="filenames">
                                    <% upload.documents.each do |document| %>
                                        <div><%= link_to document.filename, rails_blob_url(document), target: "_blank" %></div>
                                    <% end %>
                                </td>

                                <td>
                                    <%= upload.created_at&.strftime(get_standard_date_format) %>
                                </td>

                                <td style="width: 150px;">
                                </td>
                            </tr>
                        <% end %>

                        <% if @agency.uploads.blank? %>
                            <tr><td colspan="4">There are no uploaded documents</td></tr>
                        <% end %>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <label for="agency_comment_logs">Comment Logs</label>

                    <table class="table">
                        <tr>
                            <th>Date</th>
                            <th>Created By</th>
                            <th>Comment</th>
                        </tr>

                        <% @agency.comment_logs.each do |log| %>
                            <tr>
                                <td><%= log.created_at&.strftime(get_standard_date_format) %></td>

                                <td><%= log.creator.name %></td>

                                <td><%= log.comment %></td>
                            </tr>
                        <% end %>

                        <% if @agency.comment_logs.blank? %>
                            <tr><td colspan="3">There are no comment log.</td></tr>
                        <% end %>
                    </table>
                </div>
            </div>
        <% end %>

    </div>
    <!-- /.card-body -->

    <div class="card-footer">

        <div class="text-right">
            <%=raw show_back_button(internal_agencies_path) %>
            <% if has_any_permission?('EDIT_NON_FINANCE_INFO_AGENCY', 'EDIT_FINANCE_INFO_AGENCY') and (['INACTIVE', 'ACTIVE'].include?(@agency.status)) %>
                <%=raw show_edit_button(edit_internal_agency_path(@agency)) %>
            <% end %>
        </div>

    </div>
    <!-- /.card-footer -->
</div>

<% if has_permission?("VIEW_NON_FINANCE_INFO_AGENCY") %>
    <div class="card">
        <div class="card-body">
            <ul class="list-group">
                <% if has_permission?("VIEW_AUDIT_AGENCY") %>
                    <li class="list-group-item">
                        <%= link_to "Audits", internal_agency_audits_path(@agency) %>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
<% end %>