<%=render '/shared/all_flash' %>

<div class="card">
    <div class="card-header">
        System Configurations XQCC
        <div class="card-header-actions">
        </div>
        <!-- /.card-header-actions -->
    </div>
    <!-- /.card-header -->

    <%= form_tag xqcc_approval_internal_system_configurations_path, method: :patch, class: "form-horizontal" do %>
        <div class="card-body">
            <% @pending_approvals.each do |sc| %>
                <div class="form-group row">
                    <%= render "internal/system_configurations/approval/#{sc.code}" %>
                </div>
            <% end %>
        </div>
        <!-- /.card-body -->

        <div class="card-body">
            <div class="form-group row">
                <label class="col-md-4 col-form-label">
                    Decision
                </label>
                <div class="col-md-8">
                    <div class="form-check form-check-inline mr-5">
                        <input class="form-check-input" id="decision_APPROVE" type="radio" value="APPROVE" name="decision" required>
                        <label class="form-check-label ml-1" for="decision_APPROVE">APPROVE</label>
                    </div>
                    <div class="form-check form-check-inline mr-5">
                        <input class="form-check-input" id="decision_REJECT" type="radio" value="REJECT" name="decision" required>
                        <label class="form-check-label ml-1" for="decision_REJECT">REJECT</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer text-right">
            <%=raw edit_back_button(xqcc_internal_system_configurations_path) %>
            <%=raw edit_submit_button %>
        </div>
    <% end %>

</div>