<div class="card">
    <div class="card-header">
        <strong>Refunds</strong> - Edit Refund
    </div>
    <%= form_for @refund, url: internal_refund_path(@refund), html: {multipart: true} do |form| %>
        <div class="card-body">
            <%= render 'form', { form: form } %>

            <% if @refund.status.eql?("REJECTED") %>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card mt-3">
                            <div class="card-body">
                                <%= form.label "Approval Comment" %>
                                <pre><%= @refund.approval_comment %></pre>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
        <div class="card-footer">
        
            <div class="text-right">
                <%=raw edit_back_button(internal_refunds_path) %>
                <%=raw edit_save_draft_button() %>
                <%=raw edit_submit_for_approval_button() %>
            </div>
        
        </div>
    <% end %>
</div>

<%= render "search_customer" %>