<div class="card">
    <div class="card-header">
        Daily Balance Quota GP (Up to <%= @current.strftime(get_standard_date_format) %>)
    </div>

    <div class="card-body">
        <%=render '/shared/all_flash' %>
        <%=render 'internal/reports/mspd/daily_balance_quota/filter' %>

        <div class="table-responsive">
<table class="<%= index_table_class %>">
    <thead>
        <tr>
            <th class="module-row-numbers">#</th>
            <th>State</th>
            <th>District</th>
            <th>#OF CLINIC (ACTIVE) </th>
            <th>BALANCE QUOTA (ACTIVE) </th>
            <th>#OF CLINIC (INACTIVE) </th>
            <th>BALANCE QUOTA (INACTIVE) </th>
            <th>TOTAL WORKER ALLOCATED</th>
            <th>BALANCE QUOTA </th>
        </tr>
    </thead>

    <tbody>
        <% if @doctors.blank? %>
            <tr>
                <td colspan="10" class="text-danger">No records found.</td>
            </tr>
        <% else %>

           <% @doctors.each.with_index do |row,index| %>
                <tr>
                    <td class="module-row-numbers"><%= index + 1 %></td>
                        <% row.values.each.with_index do |value, index| %>
                            <td><%= index == 0 ? value : value %></td>
                        <% end %>
                </tr>
            <% end %>

        <% end %>
    </tbody>
</table>
        </div>
        <!-- /.table-responsive -->
        <div class="row">
        </div>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->
