<div class="card xray_report_form">
<div class="card-header">
    <div class="row">
        <div class="col">
            PART IV. CERTIFICATION BY DOCTOR (cont'd)
        </div>
    </div>
</div>
    <table class="table table-bordered table-card">
        <thead>
            <tr>
                <th>No</th>
                <th>Report</th>
                <th colspan="2" class="text-center">Status</th>
            </tr>
        </thead>
        <tbody>
            <!-- Start of Comments -->
            <tr>
                <td>19</td>
                <td>Comments (for any abnormalities detected in PART IV)</td>
                <td colspan="3">
                    <textarea disabled class="form-control" name="<%= input_key %>[doctor_examination][certification_comment]"
                        id="<%= input_key %>_doctor_examination_certification_comment" rows="2"><%= doctor_examination_model.certification_comment %></textarea>
                </td>
            </tr>
            <!--End of Comments -->

            <!-- Start of Suitability -->
            <tr>
                <td width="100">20</td>
                <td>I therefore ceritfy that this foreign worker is found to be suitable / unsuitable medically for employment in Malaysia</td>
                <td width="50" class="text-center">
                    <div class="form-check form-check-inline">
                        <input disabled class="suitability_status form-check-input" type="radio"
                            name="<%= input_key %>[doctor_examination][suitability]" id="<%= input_key %>_suitability_suitable" value="SUITABLE"
                            <% if doctor_examination_model.suitability === 'SUITABLE' %> checked <% end %> required>
                        <label class="form-check-label" for="<%= input_key %>_suitability_suitable">
                            SUITABLE
                        </label>
                    </div>
                </td>
                <td width="50" class="text-center">
                    <div class="form-check form-check-inline">
                        <input disabled class="suitability_status form-check-input" type="radio"
                            name="<%= input_key %>[doctor_examination][suitability]" id="<%= input_key %>_suitability_unsuitable" value="UNSUITABLE"
                            <% if doctor_examination_model.suitability === 'UNSUITABLE' %> checked <% end %>>
                        <label class="form-check-label" for="<%= input_key %>_suitability_unsuitable">
                            UNSUITABLE
                        </label>
                    </div>
                </td>
            </tr>
    
    
            <!-- End of Suitability -->

            <!-- Start of unsuitable comment -->
            <tr>
                <td>21</td>
                <td>If considered not suitable for employment, please state the reason</td>
                <td colspan="3">
                    <textarea disabled class="form-control" name="<%= input_key %>[doctor_examination][unsuitable_comment]"
                        id="<%= input_key %>_doctor_examination_unsuitable_comment" rows="2"><%= doctor_examination_model.unsuitable_comment %></textarea>
                </td>
            </tr>
            <!--End of unsuitable comment -->

    
        </tbody>
</table>
</div>