<div class="card">
    <div class="card-header">
        <strong>Change Doctor Reasons</strong>
    </div>

    <!-- card-body -->
    <div class="card-body">
        <%=render "filter" %>

        <%=render "/shared/all_flash" %>

        <div class="row">
            <div class="col module-actions text-right">
                <% if has_permission?('CREATE_CHANGE_SP_REASON') %>
                    <%=raw index_table_new_button(new_internal_change_sp_reason_path) %>
                <% end %>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="<%= index_table_class %>">
                        <thead>
                            <tr>
                                <th class="module-row-numbers">#</th>
                                <th>Code</th>
                                <th>Description</th>
                                <th class="module-row-actions">Action(s)</th>
                            </tr>
                        </thead>

                        <tbody>
                            <% if @change_sp_reasons.blank? %>
                                <tr>
                                    <td colspan="4" class="text-danger">No records found.</td>
                                </tr>
                            <% else %>

                                <% @change_sp_reasons.each.with_index((@change_sp_reasons.current_page - 1) * get_per + 1) do |change_sp_reason, index| %>
                                    <tr>
                                        <td class="module-row-numbers"><%= index %></td>
                                        <td><%= change_sp_reason.code %></td>
                                        <td><%= change_sp_reason.description %></td>
                                        <td class="module-row-actions">
                                            <%=raw index_table_show_button(internal_change_sp_reason_path(change_sp_reason)) %>
                                            <% if has_permission?('EDIT_CHANGE_SP_REASON') %>
                                                <%=raw index_table_edit_button edit_internal_change_sp_reason_path(change_sp_reason) %>
                                            <% end %>
                                            <% if has_permission?('DELETE_CHANGE_SP_REASON') %>
                                                <%=raw index_table_delete_button(internal_change_sp_reason_path(change_sp_reason)) %>
                                            <% end %>
                                        </td>
                                    </tr>
                                <% end %>

                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <%= paginate @change_sp_reasons %>
        </div>
    </div>
    <!-- /card-body -->
</div>