<div class="card">

    <div class="card-header">
        <strong>Change Doctor Reasons</strong> - Change Doctor Reason Detail
    </div>

    <div class="card-body">

        <%=render "/shared/all_flash" %>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="change_sp_reason_code">Code</label>
                    <p class="form-control-plaintext">
                        <%= @change_sp_reason.code %>
                    </p>
                </div>
            </div>
        </div>

    </div>

    <div class="card-footer">

        <div class="text-right">
            <%=raw show_back_button(internal_change_sp_reasons_path) %>
            <% if has_permission?('EDIT_CHANGE_SP_REASON') %>
                <%=raw show_edit_button(edit_internal_change_sp_reason_path(@change_sp_reason)) %>
            <% end %>
        </div>

    </div>

</div>
<!-- /.card -->

<div class="card">
    <div class="card-body">
        <ul class="list-group">
            <% if has_permission?("VIEW_AUDIT_CHANGE_SP_REASON") %>
                <li class="list-group-item">
                    <%= link_to "Audits", internal_change_sp_reason_audits_path(@change_sp_reason) %>
                </li>
            <% end %>
        </ul>
    </div>
</div>