<table class="workers-table w-100" style="margin-top: 2rem;">
    <thead>
        <tr>
            <% @headers.each do |header| %>
                <th><%= header %></th>
            <% end %>
        </tr>
    </thead>
    <tbody>
        <% @transactions.each.with_index(1) do |transaction, index| %>
        <tr>
            <td><%= index %>.</td>
            <td><%= transaction.fw_name || '-' %></td>
            <td><%= transaction.fw_code || '-' %></td>
            <td><%= transaction.fw_passport_number || '-' %></td>
            <td><%= transaction.fw_country_name || '-' %></td>
            <td><%= transaction.code || '-' %></td>
            <td><%= transaction.transaction_date.try(:strftime, get_standard_date_format) || '-' %></td>
            <td><%= transaction.final_result || '-'  %></td>
            <td><%= transaction.certification_date.try(:strftime, get_standard_date_format) || '-' %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<style>
    .w-100 {
        width: 100%;
    }

    table {
        border-collapse: collapse;
    }

    table,
    th,
    td {
        border: 1px solid black;
    }

    .workers-table {
        padding: 1rem 0px;
    }

    thead {
        background-color: #c8ced3;
    }

    thead th {
        padding: 3px;
    }

    tbody td {
        padding: 1px 2px;
        vertical-align: center;
        height: 18px;
    }
</style>