<label class="col-md-4 col-form-label"><%= @system_configurations["BLOCK_EMAIL_WITH_PLUS_SIGN"].name %></label>
<div class="col-md-8">
    <div class="form-check form-check-inline">
        <input class="form-check-input" id="BLOCK_EMAIL_WITH_PLUS_SIGN_1" type="radio" value="1" name="EMPLOYER_APPROVAL" required<%= " checked" if @system_configurations["BLOCK_EMAIL_WITH_PLUS_SIGN"].new_value == '1' %><%= " disabled" if @system_configurations["BLOCK_EMAIL_WITH_PLUS_SIGN"].new_value != '1' %>>
        <label class="form-check-label" for="BLOCK_EMAIL_WITH_PLUS_SIGN_1">Yes</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" id="BLOCK_EMAIL_WITH_PLUS_SIGN_0" type="radio" value="0" name="EMPLOYER_APPROVAL" required<%= " checked" if @system_configurations["BLOCK_EMAIL_WITH_PLUS_SIGN"].new_value == '0' %><%= " disabled" if @system_configurations["BLOCK_EMAIL_WITH_PLUS_SIGN"].new_value != '0' %>>
        <label class="form-check-label" for="BLOCK_EMAIL_WITH_PLUS_SIGN_0">No</label>
    </div>
    <p class="form-control-plaintext approval-previous-value"><%= @system_configurations["BLOCK_EMAIL_WITH_PLUS_SIGN"].value == '1' ? 'Yes' : 'No' %></p>
</div>