<div class="card">

    <div class="card-header">
        <strong>Orders</strong> - Order Detail
    </div>

    <div class="card-body">

        <!-- card for order detail -->
        <div class="card">
            <div class="card-body">
                <%= render "order_info" %>
            </div>
        </div>
        <!-- /card for order detail -->

        <table class="table" id="etr-table">
            <thead>
                <tr>
                    <th>Foreign Worker</th>
                    <th>Passport Number</th>
                    <th>Gender</th>
                    <th>Amount</th>
                </tr>
            </thead>
             <tbody>
                <% @order.order_items.exclude_insurance_fee.sort_convenient_fee_as_last.each do |order_item| %>
                    <% if order_item.fee.is_convenient_fee? %>
                        <tr>
                            <td colspan="3"><%= order_item.fee.name %></td>
                            <td><%= number_to_currency(order_item.amount, unit: "") %></td>
                        </tr>
                    <% else %>
                        <tr>
                            <td>
                                <a href="<%= internal_employer_employer_worker_path(order_item.order_itemable.employer, order_item.order_itemable) %>" target="_blank"><%= order_item.order_itemable.name %></a>
                            </td>
                            <td><%= order_item&.transactionz&.fw_passport_number %></td>
                            <td><%= ForeignWorker::GENDERS[order_item&.gender] %></td>
                            <td><%= number_to_currency(order_item.amount, unit: "") %></td>
                        </tr>
                    <% end %>
                <% end %>
                <% insurance_items = @order.order_items.get_insurance_fee %>
                <% if !insurance_items.blank? %>
                    <% @order.order_items.get_insurance_gross_premium.each do |order_item| %>
                        <tr>
                            <td>INSURANCE/TAKAFUL (<%= order_item&.insurance_purchase&.fw_name %>)</td>
                            <td><%= order_item&.insurance_purchase&.fw_passport_number %></td>
                            <td><%= ForeignWorker::GENDERS[order_item&.insurance_purchase&.fw_gender] %></td>
                            <td><%= number_to_currency(order_item&.insurance_purchase&.total_premium, unit: "") %></td>
                        </tr>
                    <% end %>
                <% end %>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="3">&nbsp;</th>
                    <th>
                        <div class="etr-amount-total"><%= number_to_currency(@order.order_items.sum(:amount), unit: "") %></div>
                    </th>
                </tr>
            </tfoot>
        </table>

    </div>

    <div class="card-footer">

        <div class="text-right">
            <%=raw show_back_button(internal_orders_path) %>

            <% if (["NEW"].include?(@order.status) && has_permission?('EDIT_ORDER') && !['PT'].include?(@order&.organization&.code)) %>
                <%=raw show_edit_button(edit_internal_order_path(@order)) %>
            <% end %>

            <% if (["PENDING_PAYMENT"].include?(@order.status) && @order.amount > 0 && !['PT'].include?(@order&.organization&.code)) %>
                <%=raw index_table_primary_button payment_internal_order_path(@order), label: '<i class="fa fa-credit-card"></i>', title: 'Payment' %>
            <% end %>
        </div>

    </div>

</div>