<div class="card">
    <div class="card-header">
        <strong>Towns</strong>
    </div>

    <!-- card-body -->
    <div class="card-body">
        <%=render "filter" %>

        <%=render '/shared/all_flash' %>

        <div class="row">
            <div class="col module-actions text-right">
                <% if has_permission?('CREATE_TOWN') %>
                    <%=raw index_table_new_button(new_internal_town_path) %>
                <% end %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <table class="<%= index_table_class %>">
                  <thead>
                  <tr>
                    <th class="module-row-numbers">#</th>
                    <th>ID</th>
                    <th>Code</th>
                    <th>Name</th>
                    <th>State</th>
                    <th class="module-row-actions">Action(s)</th>
                  </tr>
                  </thead>

                  <tbody>
                  <% if @towns.blank? %>
                    <tr>
                      <td colspan="7" class="text-danger">No records found.</td>
                    </tr>
                  <% else %>

                    <% @towns.each.with_index((@towns.current_page - 1) * get_per + 1) do |town, index| %>
                      <tr>
                        <td class="module-row-numbers"><%= index %></td>
                        <td><%= town.id %></td>
                        <td><%= town.code %></td>
                        <td><%= town.name %></td>
                        <td><%= town.state.name %></td>
                        <td class="module-row-actions">
                          <%=raw index_table_show_button(internal_town_path(town)) %>
                          <% if has_permission?('EDIT_TOWN') %>
                            <%=raw index_table_edit_button edit_internal_town_path(town) %>
                          <% end %>
                          <% if has_permission?('DELETE_TOWN') %>
                            <%=raw index_table_delete_button(internal_town_path(town)) %>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>

                  <% end %>
                  </tbody>
                </table>
              </div>

            </div>
        </div>
        <div class="row">
            <%= paginate @towns %>
        </div>
    </div>
    <!-- /card-body -->
</div>