<%= stylesheet_link_tag "inspectorate/lqcc" %>

<%= render "/shared/all_flash" %>

<%
    referred_tabs = {
        malaria_screening: 'malaria_bfmp',
        hbsag_screening: 'hbsag_verification',
        hiv_screening: 'hiv_verification',
        vdrl_rpr: 'tpha_tppa',
        urine_drugs_screening: 'urine_drugs_verification',
        upt: 'serum_assay'
    }
    mirror_tabs = {
        hbsag_screening: 'hbsag_verification',
        hiv_screening: 'hiv_verification',
        urine_drugs_screening: 'urine_drugs_verification'
    }
    shared_path = 'internal/visit_reports/laboratories/full_partial/shared' 
%>

<%=render 'internal/visit_reports/laboratories/main_fields', { form: form } %>

<hr>

<!-- operating hours -->
<%=render 'internal/visit_reports/laboratories/operating_hour', { form: form } %>

<div class="card">
    <div class="card-header">
        <strong>Checklist</strong>
    </div>
    <div class="card-body p-0">
        <ul class="nav nav-pills" id="checlistTab" role="tablist">
            <% @tabs.each_with_index do |(key, value), index| %>
                <li class="nav-item">
                    <a class="nav-link <%= 'active show' if index == 0 %>" id="<%= key %>-tab" href="#<%= key %>" role="tab" data-toggle="tab" aria-selected="true" aria-controls="<%= key %>" data-tab-name="<%= key %>">
                        <span class="dot"></span> <%= value %>
                    </a>
                </li>
            <% end %>
        </ul>

        <%= form.fields_for :visit_report_laboratory do |visit_report_laboratory| %>
            <div class="tab-content" id="checklistTabContent">
                <% @tabs.each_with_index do |(key, value), index| %>
                    <div class="tab-pane fade <%= 'active show' if index == 0 %>" id="<%= key %>" role="tabpanel" aria-labelledby="<%= key %>-tab" data-mirror-tab="<%= mirror_tabs.as_json[key.to_s] %>" data-tab-name="<%= key %>">
                        <%=render "internal/visit_reports/laboratories/full_partial/#{key}", { visit_report_laboratory: visit_report_laboratory, report_category: key, shared_path: shared_path, referred_tabs: referred_tabs, mirror_tabs: mirror_tabs} %>
                    </div>
                <% end %>
            </div>
        <% end %>
    </div>
</div>

<% content_for :page_end_scripts do %>
    <%= render "internal/visit_reports/laboratories/form_script", { referred_tabs: referred_tabs } %>
<% end %>