<pdfbody>
    <div style="height: 0.8cm;">
        &nbsp;
    </div><br>

    <table class="w-100">
        <tr style="font-weight: bold;">
            <td style="width: 3.5em;">Ref No</td>
            <td>: <%= @data[:ref_number] %></td>
        </tr>

        <tr style="font-weight: bold;">
            <td style="width: 3.5em;">Date</td>
            <td>: <%= raw @data[:letter_date] %></td>
        </tr>

        <tr>
            <td colspan="2"><%= simple_format @letter.employer_address %></td>
        </tr>
    </table>

    <p>Dear Sir/Madam,</p>

    <p class="letter-header-underline"><b><%= @data[:letter_title] %></b></p>

    <p class="text-justify">
        This is with reference to the below foreign worker who has been certified as for employment in Malaysia based on the NORMAL chest X-ray findings transmitted by the X-ray facility.<br><br>
        Foreign worker's particulars are as follows:<br>
    </p>

    <table class="w-100" style="font-weight: bold; padding: 1em 0;">
        <tr>
            <td valign="top" style="width: 8em;">WORKER NAME</td>
            <td valign="top" style="width: 0.8em;">:</td>
            <td><%= @letter.worker_name %></td>
        </tr>

        <tr>
            <td valign="top" style="width: 8em;">WORKER CODE</td>
            <td valign="top" style="width: 0.8em;">:</td>
            <td><%= @letter.worker_code %></td>
        </tr>

        <tr>
            <td valign="top" style="width: 8em;">PASSPORT NO.</td>
            <td valign="top" style="width: 0.8em;">:</td>
            <td><%= @letter.worker_passport %></td>
        </tr>
    </table>

    <p class="text-justify">
        However, the subsequent auditing of the worker's chest X-ray by our consultant radiologist has confirmed to have  findings. For your information, the auditing of the chest X-ray is a part of our quality control measures for the chest X-ray examination.<br><br>
        Based on the chest X-ray report, the medical status of the named foreign worker has now been amended to  for employment in Malaysia. The foreign worker should be repatriated to his/her country of origin.<br><br>
        Thank you.<br><br><br>
        Yours sincerely,<br><br>
        FOMEMA Management<br><br>
    </p>
</pdfbody>

<style>
    pdfbody {
        font-size: 18px; /* Was originally 16px */
    }

    .w-100 {
        width: 100%;
    }

    .letter-header-underline {
        display: inline;
        border-bottom: 2px solid black;
    }

    .text-justify {
        text-align: justify;
    }
</style>