<div class="card">
    <div class="card-header">
        <strong>XQCC Non-Compliance Letter</strong>
    </div>

    <%= form_for @letter, url: xqcc_non_compliance_letter_save_internal_xqcc_letters_path, method: :post, html: { class: "with-parsley" } do |f| %>
        <%= f.hidden_field :id %>
        <%= f.hidden_field :xray_name %>

        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <%= label_tag :xray_code, "Xray Code" %>

                        <div class="d-flex align-items-center">
                            <%= f.text_field :xray_code, class: "form-control search-field", required: true, data: { parsley_errors_container: "#t_code_parsley_error" } %>
                            <div class="btn btn-primary ml-2" id="search-button">Search</div>
                        </div>

                        <div id="t_code_parsley_error"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <%= label_tag :issuer_name, "Approver Name" %>
                        <%= f.text_field :issuer_name, class: "form-control no-uppercase", required: true %>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <%= label_tag :issuer_title, "Designation" %>
                        <%= f.text_field :issuer_title, class: "form-control no-uppercase", required: true %>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <%= label_tag :custom_ref_tag, "Reference Tag (L00XX/2020-11/XQCC/NC/TAGHERE)" %>
                        <%= text_field_tag :custom_ref_tag, @letter.ref_tag || "EXAMPLE", class: "form-control", required: true %>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <%= label_tag :issuer_title, "Follow-up With" %>
                        <%= f.text_field :follow_up_with, class: "form-control no-uppercase", required: true %>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <%= label_tag :issuer_title, "Follow-up Date" %>
                        <%= f.date_field :follow_up_date,  placeholder: "dd/mm/yyyy", class: "form-control no-uppercase datepicker-custom-enable", required: true %>
                    </div>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <%= label_tag :total_images, "Table 1 Items" %>
                    </div>
                </div>
            </div>

            <div class="row">
                <% ["Month", "Total Images", "Compliant Images", "Non-Compliant Images"].each.with_index do |label, index| %>
                    <div class="col-md-<%= index == 0 ? 2 : 3 %>">
                        <div class="form-group">
                            <b><%= label %></b>
                        </div>
                    </div>
                <% end %>
            </div>

            <div id="tables-1-placeholder">
                <%
                    image_rows = @letter.total_image_rows
                    image_rows = [NonComplianceTotalImage.new] if image_rows.blank?
                %>

                <% image_rows.each.with_index(1) do |image_row, index| %>
                    <div class="row total-images-row" id="total-images-table-fields">
                        <div class="col-md-2">
                            <div class="form-group">
                                <%= hidden_field_tag "total_images[#{ index }][id]", image_row.id %>
                                <%= select_tag "total_images[#{ index }][month]", options_for_select(Date::MONTHNAMES.compact, image_row.month), include_blank: "Select Month", class: "form-control", required: true %>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <%= text_field_tag "total_images[#{ index }][total_images]", image_row.total_images, placeholder: "Total Images", class: "form-control no-uppercase", required: true %>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <%= text_field_tag "total_images[#{ index }][sop_compliant]", image_row.sop_compliant, placeholder: "Compliant Images", class: "form-control no-uppercase", required: true %>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <%= text_field_tag "total_images[#{ index }][non_sop_compliant]", image_row.non_sop_compliant, placeholder: "Non-Compliant Images", class: "form-control no-uppercase", required: true %>
                            </div>
                        </div>

                        <div class="col-md-1">
                            <div class="form-group">
                                <span class="remove-btn font-weight-bold text-right clickable" style="width: 2em; font-size: 1.5em; display: <%= "none" if index == 1 %>;"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="text-primary clickable" id="add-more-table-1-items">+ Add more items</div>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <%= label_tag :total_items, "Table 2 Items" %>
                    </div>
                </div>
            </div>

            <div class="row">
                <% ["Name", "Total"].each do |label| %>
                    <div class="col-md-3">
                        <div class="form-group">
                            <b><%= label %></b>
                        </div>
                    </div>
                <% end %>
            </div>

            <div id="tables-2-placeholder">
                <%
                    image_items = @letter.total_item_rows
                    image_items = [NonComplianceItem.new] if image_items.blank?
                %>

                <% image_items.each.with_index(1) do |item_row, index| %>
                    <div class="row total-items-row" id="total-items-table-fields">
                        <div class="col-md-2">
                            <div class="form-group">
                                <%= hidden_field_tag "total_items[#{ index }][id]", item_row.id %>
                                <%= select_tag "total_items[#{ index }][name]", options_for_select(XqccLetterNonCompliances::NON_COMPLIANCE_ISSUE.invert, item_row.name), include_blank: "Select Non-Compliance", class: "form-control", required: true %>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <%= number_field_tag "total_items[#{ index }][total]", item_row.total, placeholder: "Total", class: "form-control no-uppercase", required: true %>
                            </div>
                        </div>

                        <div class="col-md-1">
                            <div class="form-group">
                                <span class="remove-btn font-weight-bold text-right clickable" style="width: 2em; font-size: 1.5em; display: <%= "none" if index == 1 %>;"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="text-primary clickable" id="add-more-table-2-items">+ Add more items</div>
                </div>
            </div>

            <hr>

            <div class="row">
                <% [:xray_ref_no, :xray_address].each do |label| %>
                    <div class="col-md-6 mb-2">
                        <div class="form-group">
                            <%= label_tag label, label.to_s.titleize %>

                            <% if label.to_s.include?("address") %>
                                <%= f.text_area label, class: "form-control", readonly: true, rows: 8, required: true %>
                            <% else %>
                                <%= f.text_field label, class: "form-control", readonly: true, required: true %>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>

        <div id="letter-placeholder"></div>

        <div class="card-footer text-right submit-buttons">
            <!-- Please note, the names of the Preview Xray Letter & Preview Employer Letter is important. It is being used in the controller -->
            <%= f.submit "Preview Letter", class: "btn btn-sm btn-primary remove-disabled-states", formtarget: :_blank %>
            <%= f.submit "Save", class: "btn btn-sm btn-success", data: { confirm: "You are about to save, please confirm." } %>
        </div>
    <% end %>
</div>

<% content_for :page_end_scripts do %>
    <script>
        generateRefNumbers();
        $('#custom_ref_tag').change(generateRefNumbers);

        function generateRefNumbers() {
            var refTag      = $('#custom_ref_tag').val().toUpperCase();
            var today       = new Date();
            var month       = String(today.getMonth() + 1).padStart(2, '0');
            var year        = today.getFullYear();
            $('#xqcc_letter_non_compliance_xray_ref_no').val(`L00XX/${ year }-${ month }/XQCC/NC/${ refTag }`);
        }

        $('.search-field:first').on('keypress',function(e) {
            if (e.which == 13) {
                e.preventDefault();
                searchTransaction();
            }
        });

        $('#search-button').click(function(e) {
            searchTransaction();
        });

        function searchTransaction() {
            var btn = $('#search-button');
            var btnState = btn.hasClass('btn-primary');

            if (btnState) {
                btn.removeClass('btn-primary').addClass('btn-secondary');
                $('<i class="spinner-load-icon fas fa-spinner fa-spin text-primary font-size-11 ml-2"></i>').insertAfter(btn);

                var xrayCode = btn.closest('.form-group').find('.search-field').val();

                $.ajax({
                    url: 'xqcc_non_compliance_letter_search',
                    type: 'POST',
                    data: { xray_code: xrayCode },
                }).done(function(response) {
                    $(Object.keys(response)).each(function() {
                        $(`#${ this }`).val(response[this]);
                    });

                    btn.addClass('btn-primary').removeClass('btn-secondary');
                    $('i.spinner-load-icon').remove();
                });
            }
        };

        $('.remove-disabled-states').click(function(){
            setTimeout(function() {
                $('.submit-buttons input').removeAttr('disabled');
            }, 3000);
        });

        var tableOneCount = $('.total-images-row').length + 1;
        var tableTwoCount = $('.total-items-row').length + 1;
        bindRemoveButton($('.remove-btn'));

        function bindRemoveButton(btn) {
            btn.click(function() {
                confirmation = confirm('Remove this row?');
                if (confirmation) $(this).closest('.row').remove();
            });
        }

        $('#add-more-table-1-items').click(function() {
            var fields = $('#total-images-table-fields').clone();
            fields.find('input').val('');

            fields.find('input, select').each(function() {
                var name        = $(this).attr('name');
                var id          = $(this).attr('id');
                var replaced    = name.replace('images[1]', `images[${ tableOneCount }]`);
                var replacedId  = id.replace('images_1', `images_${ tableOneCount }`);
                $(this).attr('name', replaced);
                $(this).attr('id', replacedId);
            });

            fields.find('select').val(null);
            fields.find('.remove-btn').show();
            fields.appendTo($('#tables-1-placeholder'));
            bindRemoveButton(fields.find('.remove-btn'));
            tableOneCount++;
        });

        $('#add-more-table-2-items').click(function() {
            var fields = $('#total-items-table-fields').clone();
            fields.find('input').val('');

            fields.find('input, select').each(function() {
                var name        = $(this).attr('name');
                var id          = $(this).attr('id');
                var replaced    = name.replace('items[1]', `items[${ tableOneCount }]`);
                var replacedId  = id.replace('items_1', `items_${ tableOneCount }`);
                $(this).attr('name', replaced);
                $(this).attr('id', replacedId);
            });

            fields.find('.remove-btn').show();
            fields.appendTo($('#tables-2-placeholder'));
            bindRemoveButton(fields.find('.remove-btn'));
            tableOneCount++;
        });
    </script>
<% end %>