<div class="card">
    <div class="card-header">
        <strong>XQCC Monthly Non Compliance Report</strong>
    </div>

    <div class="card-body">
        <%= render "/shared/all_flash" %>

        <% if @csv.present? %>
            <%= link_to "Download CSV", "#{ request.path }.csv#{ request.url.split(request.path)[1] }", class: "btn btn-success font-weight-bold float-right ml-2" %>
        <% end %>
        
        <%= form_tag request.path, method: :get, class: "disable-enter-keypress" do %>
            <%= submit_tag "Filter", class: "btn btn-primary font-weight-bold float-right" %>
            
            <div class="d-flex align-items-center mb-2">
                <label class="mb-0 mr-3 w-em-10">X-ray Code</label>
                <%= text_field_tag "text_field", params[:text_field], class: "w-em-34 form-control", placeholder: "Type here" %>
            </div>

            <div class="d-flex align-items-center mb-2">
                <label class="mb-0 mr-3 w-em-10">Date</label>
                <%= text_field_tag "query_month", params[:query_month], placeholder: "Select Month", class: "w-em-34 form-control datepicker-month" %>
            </div>
        <% end %>
    </div>

    <%= render '/internal/reports/xqcc/xqcc_monthly_non_compliance_report/monthly_non_compliance_table.html' %>

</div>