<div class="card docotrcard">
  <div class="card-header"> Doctor</div>
  <div class="card-body p-0">
    <% if has_permission?('DASHBOARD_SP_DOCTOR') %>
      <ul class="card-ul">
        <li class="card-li dropdown-toggle" type="button" id="activeListItem" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span> Active</span> <span style="font-weight: bold;">
          <div id='doctorsactive'>
               <%= @doctorsactive %>
          </div>
        </span>
          <div class="listcard-ul dropdown-menu custom-dropdown w-100 " aria-labelledby="div_doctor">
            <div style="background: #0032AB; color: #DDE7FF;width: 100%; float: left;">
              <span style="width: 50%;float: left;padding: 0px 7px;">State  </span>
              <span style="width: 50%;float: left;text-align: center;padding: 0px 10px 0px 37px;">Doctor</span>
            </div>
            <ul id="doctorStatesList">
              <% @doctorstates.each do |key, value| %>
                <li><span><%= key %> </span> <span id="<%= key %>Count"><%= value %></span></li>
              <% end %>
            </ul>
          </div>
        </li>
        <li><span> New</span> <span id="newCount" ><%= @doctornew %></span></li>
        <li><span> Withdrawal</span > <span id="withdrawalCount" ><%= @doctorwithdrawl %></span></li>
        <li><span> Demised</span> <span id="demisedCount" ><%= @doctordemised %></span></li>
        <li><span> Non-compliance</span> <span id="noncompCount"><%= @doctornoncomp %></span></li>
      </ul>
    <% end %>
  </div>
</div>

<script>
    $(document).ready(function() {
        $('#activeListItem').click(function() {
            $('.custom-dropdown-radio').slideUp('fast');
            $('.custom-dropdown-xray').slideUp('fast');
            $('.custom-dropdown-lab').slideUp('fast');
            $('.custom-dropdown').slideToggle('fast');
        });
    });
</script>


