<div class="card">
    <div class="card-header">
        <strong>Countries</strong>
    </div>

    <!-- card-body -->
    <div class="card-body">
        <%=render "filter" %>

        <%=render '/shared/all_flash' %>

        <div class="row">
            <div class="col module-actions text-right">
                <% if has_permission?('create_country') %>
                    <%=raw index_table_new_button(new_internal_country_path) %>
                <% end %>
            </div>
        </div>
        <div class="table-responsive">
<table class="<%= index_table_class %>">
    <thead>
        <tr>
            <th class="module-row-numbers">#</th>
            <th>ID</th>
            <th>Code</th>
            <th>Name</th>
            <th class="module-row-actions">Action(s)</th>
        </tr>
    </thead>

    <tbody>
        <% if @countries.blank? %>
            <tr>
                <td colspan="5" class="text-danger">No records found.</td>
            </tr>
        <% else %>

            <% @countries.each.with_index((@countries.current_page - 1) * get_per + 1) do |country, index| %>
            <tr>
                <td class="module-row-numbers"><%= index %></td>
                <td><%= country.id %></td>
                <td><%= country.code %></td>
                <td><%= country.name %></td>
                <td class="module-row-actions">
                <%=raw index_table_show_button(internal_country_path(country)) %>
                <% if has_permission?('edit_country') %>
                    <%=raw index_table_edit_button edit_internal_country_path(country) %>
                <% end %>
                <% if has_permission?('delete_country') %>
                    <%=raw index_table_delete_button(internal_country_path(country)) %>
                <% end %>
                </td>
            </tr>
            <% end %>

        <% end %>
    </tbody>
</table>
        </div>

        <div class="row">
            <%= paginate @countries %>
        </div>
    </div>
    <!-- /card-body -->
</div>