<div class="card">
    <div class="card-header">
        <strong>Associations</strong>
    </div>

    <!-- card-body -->
    <div class="card-body">
        <%=render "filter" %>

        <%=render "/shared/all_flash" %>

        <div class="row">
            <div class="col module-actions text-right">
                <% if has_permission?('CREATE_ASSOCIATION') %>
                    <%=raw index_table_new_button(new_internal_association_path) %>
                <% end %>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="<%= index_table_class %>">
                    <thead>
                    <tr>
                      <th class="module-row-numbers">#</th>
                      <th>Code</th>
                      <th>Name</th>
                      <th class="module-row-actions">Action(s)</th>
                    </tr>
                    </thead>

                    <tbody>
                    <% if @associations.blank? %>
                      <tr>
                        <td colspan="5" class="text-danger">No records found.</td>
                      </tr>
                    <% else %>

                      <% @associations.each.with_index((@associations.current_page - 1) * get_per + 1) do |association, index| %>
                        <tr>
                          <td class="module-row-numbers"><%= index %></td>
                          <td><%= association.code %></td>
                          <td><%= association.name %></td>
                          <td class="module-row-actions">
                            <%=raw index_table_show_button(internal_association_path(association)) %>
                            <% if has_permission?('EDIT_ASSOCIATION') %>
                              <%=raw index_table_edit_button edit_internal_association_path(association) %>
                            <% end %>
                            <% if has_permission?('DELETE_ASSOCIATION') %>
                              <%=raw index_table_delete_button(internal_association_path(association)) %>
                            <% end %>
                          </td>
                        </tr>
                      <% end %>

                    <% end %>
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
        <div class="row">
            <%= paginate @associations %>
        </div>
    </div>
    <!-- /card-body -->
</div>