<div class="card">

    <div class="card-header">
        <strong>Associations</strong> - Association Detail
    </div>

    <div class="card-body">

        <%=render '/shared/all_flash' %>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="fee_code">Code</label>
                    <p class="form-control-plaintext">
                        <%= @association.code %>
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="fee_name">Name</label>
                    <p class="form-control-plaintext">
                        <%= @association.name %>
                    </p>
                </div>
            </div>
        </div>

    </div>

    <div class="card-footer">

        <div class="text-right">
            <%=raw show_back_button(internal_associations_path) %>
            <% if has_permission?('EDIT_ASSOCIATION') %>
                <%=raw show_edit_button(edit_internal_association_path(@association)) %>
            <% end %>
        </div>

    </div>

</div>
<!-- /.card -->

<div class="card">
    <div class="card-body">
        <ul class="list-group">
            <% if has_permission?("VIEW_AUDIT_ASSOCIATION") %>
                <li class="list-group-item">
                    <%= link_to "Audits", internal_association_audits_path(@association) %>
                </li>
            <% end %>
        </ul>
    </div>
</div>