<div class="card">

    <div class="card-header">
        <strong>Block Reasons</strong> - Block Reason Detail
    </div>

    <div class="card-body">

        <%=render "/shared/all_flash" %>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="block_reason_category">Category</label>
                    <p class="form-control-plaintext">
                        <%= @block_reason.category %>
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="block_reason_code">Code</label>
                    <p class="form-control-plaintext">
                        <%= @block_reason.code %>
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="block_reason_description">Description</label>
                    <p class="form-control-plaintext">
                        <%= @block_reason.description %>
                    </p>
                </div>
            </div>
        </div>

    </div>

    <div class="card-footer">

        <div class="text-right">
            <%=raw show_back_button(internal_block_reasons_path) %>
            <% if has_permission?('EDIT_BLOCK_REASON') %>
                <%=raw show_edit_button(edit_internal_block_reason_path(@block_reason)) %>
            <% end %>
        </div>

    </div>

</div>
<!-- /.card -->

<div class="card">
    <div class="card-body">
        <ul class="list-group">
            <% if has_permission?("VIEW_AUDIT_BLOCK_REASON") %>
                <li class="list-group-item">
                    <%= link_to "Audits", internal_block_reason_audits_path(@block_reason) %>
                </li>
            <% end %>
        </ul>
    </div>
</div>