<p>
	<b>Dear <%= @name %> <%= "(#{@code})" %></b>, <br>
	<b><i>Tuan/ Puan <%= @name %> <%= "(#{@code})" %></i></b>,
</p>

<p>
	We have received a request to reset the password for your account. To reset your password, click on the link below. <br>
	<i>Kami telah menerima permohonan untuk tetapkan semula kata laluan akaun anda. Untuk menetapkan kata laluan, klik pautan dibawah:</i>
</p>

<p>
	<%= link_to nil, edit_password_url(@resource, reset_password_token: @token, subdomain: @site) %>
</p>

<p>
	For security reasons, the link will be invalid after 72 hours. <br>
	<i>Untuk  keselamatan, pautan ini akan terbatal selepas 72 jam.</i>
</p>

<p>
	If you did not make this request, you can ignore this message and your password will remain the same. <br>
	<i>Jika anda tidak membuat permohonan ini, sila abaikan mesej ini dan kata laluan ada tetap sama.</i>
</p>

<p>
	Thank you. <br>
	<i>Terima kasih</i>
</p>

<p>
	***This is an auto generated email. Please do not reply to this email. *** <br>
	<i>***E-mel dibuat secara auto. Tidak perlu untuk membalas e-mel.***</i>
</p>