<!-- new template for index -->

<div class="card">
    <div class="card-header">
        <strong>Status Schedules</strong>
    </div>

    <!-- card-body -->
    <div class="card-body">
        <%= render "filter" %>

        <%= render "/shared/all_flash" %>

        <div class="row">
            <div class="col module-actions text-right">
                <% if has_permission?('CREATE_STATUS_SCHEDULE') %>
                    <%= raw index_table_new_button(new_internal_status_schedule_path(
                        {}.merge(
                            params.key?("status_scheduleable_code") ? {status_scheduleable_code: params[:status_scheduleable_code]} : {}
                        ).merge(
                            params.key?("status_scheduleable_type") ? {status_scheduleable_type: params[:status_scheduleable_type]} : {}
                        )
                    )) %>
                <% end %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
<table class="<%= index_table_class %>">

    <thead>
        <tr>
            <th class="module-row-numbers">#</th>
            <th>Type</th>
            <th>Service Provider</th>
            <th>From</th>
            <th>To</th>
            <th>Status</th>
            <th>Comment</th>
            <th>Created By</th>
            <th>Created At</th>
            <th class="module-row-actions">Action(s)</th>
        </tr>
    </thead>

    <tbody>
        <% if @status_schedules.blank? %>
            <tr>
                <td colspan="10" class="text-danger">No records found.</td>
            </tr>
        <% else %>

        <% @status_schedules.each.with_index((@status_schedules.current_page - 1) * get_per + 1) do
            |status_schedule, index| %>
            <tr>
                <td class="module-row-numbers"><%= index %></td>
                <td><%= status_schedule.status_scheduleable_type %></td>
                <td><%= "#{status_schedule.status_scheduleable&.name} (#{status_schedule.status_scheduleable&.code})" %></td>
                <td><%= status_schedule.from.strftime(get_standard_date_format) %></td>
                <td><%= status_schedule.to&.strftime(get_standard_date_format) || raw('<i>N/A</i>') %></td>
                <td><%= status_schedule.status_scheduleable.class.name.constantize::STATUSES[status_schedule.status] %></td>
                <td><%= status_schedule.comment %></td>
                <td><%= status_schedule.creator.try(:username) %></td>
                <td><%= status_schedule.created_at.strftime(get_standard_date_format) %></td>
                <td class="module-row-actions">

                    <!-- show -->
                    <%= raw index_table_show_button(internal_status_schedule_path(status_schedule)) %>

                    <!-- edit -->
                    <% if (has_permission?('EDIT_STATUS_SCHEDULE') and !status_schedule.to.blank? and status_schedule.to > Date.today) %>
                        <%= raw index_table_edit_button edit_internal_status_schedule_path(status_schedule) %>
                    <% end %>

                    <!-- delete -->
                    <% if has_permission?('DELETE_STATUS_SCHEDULE') %>
                        <%= raw index_table_delete_button(internal_status_schedule_path(status_schedule)) %>
                    <% end %>

                </td>
            </tr>

        <% end %>

        <% end %>
    </tbody>

</table>
                </div>
            </div>
        </div>
        <div class="row">
            <%= paginate @status_schedules %>
        </div>
    </div>
    <!-- /card-body -->
</div>

<% content_for :page_end_scripts do %>
<script>


</script>
<% end %>