<div class="card-body">

    <%= render 'shared/all_validation_flash', { model_obj: @bypass_fingerprint_reason } %>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <%= form.label :code, class: 'required' %>
                <%= form.text_field :code, class: 'form-control', required: true, disabled: (params[:action].eql?('edit') and form.object.code.eql?("OTHER")) %>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <%= form.label :description, class: 'required' %>
                <%= form.text_field :description, class: 'form-control no-uppercase', required: true %>
            </div>
        </div>
    </div>

</div>

<div class="card-footer">

    <div class="text-right">
        <%=raw edit_back_button(internal_bypass_fingerprint_reasons_path) %>
        <%=raw edit_save_button() %>
    </div>

</div>