<%= render 'shared/all_validation_flash', { model_obj: @laboratory} %>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <%= form.label :name, "Laboratory Name", class: 'required' %>
            <%= form.text_field :name, class: 'form-control', readonly: true %>
            <% if form.object.name_changed? %>
                <p class="form-control-plaintext approval-previous-value"><%= form.object.name_was %></p>
            <% end %>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <%= form.label :business_registration_number, "Business Registration Number", class: 'required' %>
            <%= form.text_field :business_registration_number, class: 'form-control', readonly: true %>
            <% if form.object.business_registration_number_changed? %>
                <p class="form-control-plaintext approval-previous-value"><%= form.object.business_registration_number_was %></p>
            <% end %>
        </div>
    </div>
</div>

<!-- address -->
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <%= form.label :address, class: 'required' %>
            <%= form.text_field :address1, class: 'form-control', readonly: true %>
            <% if form.object.address1_changed? %>
                <p class="form-control-plaintext approval-previous-value"><%= form.object.address1_was %></p>
            <% end %>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <%= form.text_field :address2, class: 'form-control', readonly: true %>
            <% if form.object.address2_changed? %>
                <p class="form-control-plaintext approval-previous-value"><%= form.object.address2_was %></p>
            <% end %>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <%= form.text_field :address3, class: 'form-control', readonly: true %>
            <% if form.object.address3_changed? %>
                <p class="form-control-plaintext approval-previous-value"><%= form.object.address3_was %></p>
            <% end %>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <%= form.text_field :address4, class: 'form-control', readonly: true %>
            <% if form.object.address4_changed? %>
                <p class="form-control-plaintext approval-previous-value"><%= form.object.address4_was %></p>
            <% end %>
        </div>
    </div>
</div>
<!-- /address -->

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <%= form.label :state, class: 'required' %>
            <%= form.select :state_id, options_from_collection_for_select(State.order(:name).all, 'id', 'name', form.object.state_id), {include_blank: form_select_option_text}, disabled: true, class: 'form-control select2' %>
            <% if form.object.state_id_changed? %>
                <p class="form-control-plaintext approval-previous-value"><%= form.object.state_id_was.nil? ? '* EMPTY' : State::find(form.object.state_id_was).try(:name) %></p>
            <% end %>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="form-group">
            <%= form.label :town, class: 'required' %>
            <%= form.select :town_id, options_from_collection_for_select(Town.where(state_id: form.object.state_id).order(:name).all, 'id', 'name', form.object.town_id), {include_blank: form_select_option_text}, disabled: true, class: 'form-control select2' %>
            <% if form.object.town_id_changed? %>
                <p class="form-control-plaintext approval-previous-value"><%= form.object.town_id_was.nil? ? '* EMPTY' : Town::find(form.object.town_id_was).try(:code) %></p>
            <% end %>
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            <%= form.label :postcode, class: 'required' %>
            <%= form.text_field :postcode, class: 'form-control', readonly: true %>
            <% if form.object.postcode_changed? %>
                <p class="form-control-plaintext approval-previous-value"><%= form.object.postcode_was %></p>
            <% end %>
        </div>
    </div>
    
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <%= form.label :telephone_number, "Telephone Number", class: 'required' %>
            <%= form.text_field :phone, class: 'form-control', readonly: true %>
            <% if form.object.phone_changed? %>
                <p class="form-control-plaintext approval-previous-value"><%= form.object.phone_was %></p>
            <% end %>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <%= form.label :fax_number, "Fax Number" %>
            <%= form.text_field :fax, class: 'form-control', readonly: true %>
            <% if form.object.fax_changed? %>
                <p class="form-control-plaintext approval-previous-value"><%= form.object.fax_was %></p>
            <% end %>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <%= form.label :email, class: 'required' %>
            <%= form.email_field :email, class: 'form-control', readonly: true %>
            <% if form.object.email_changed? %>
                <p class="form-control-plaintext approval-previous-value"><%= form.object.email_was %></p>
            <% end %>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <%= form.label :email, "Email (Payment)" %>
            <%= form.email_field :email_payment, class: 'form-control', readonly: true %>
            <% if form.object.email_payment_changed? %>
                <p class="form-control-plaintext approval-previous-value"><%= form.object.email_payment_was %></p>
            <% end %>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <%= form.label :pic_name, class: 'required' do %>
            Person In Charge Name
            <% end %>
            <%= form.text_field :pic_name, class: 'form-control', readonly: true %>
            <% if form.object.pic_name_changed? %>
                <p class="form-control-plaintext approval-previous-value"><%= form.object.pic_name_was %></p>
            <% end %>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <%= form.label :pic_phone, "PIC Phone", class: 'required' do %>
            Person In Charge Contact
            <% end %>
            <%= form.text_field :pic_phone, class: 'form-control', readonly: true %>
            <% if form.object.pic_phone_changed? %>
                <p class="form-control-plaintext approval-previous-value"><%= form.object.pic_phone_was %></p>
            <% end %>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <%= form.label :qualification, class: 'required' %>
            <%= form.text_field :qualification, class: 'form-control', readonly: true %>
            <% if form.object.qualification_changed? %>
                <p class="form-control-plaintext approval-previous-value"><%= form.object.qualification_was %></p>
            <% end %>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <%= form.label :pathologist_name, "Pathlogist Name" %>
            <%= form.text_field :pathologist_name, class: 'form-control', readonly: true %>
            <% if form.object.pathologist_name_changed? %>
                <p class="form-control-plaintext approval-previous-value"><%= form.object.pathologist_name_was %></p>
            <% end %>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <%= form.label :nsr_number, "NSR Number" %>
            <%= form.text_field :nsr_number, class: 'form-control', readonly: true %>
            <% if form.object.nsr_number_changed? %>
                <p class="form-control-plaintext approval-previous-value"><%= form.object.nsr_number_was %></p>
            <% end %>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <%= form.label :renewal_agreement_date, "Renewal Agreement Date" %>
            <%= form.date_field :renewal_agreement_date, class: 'form-control', readonly: true %>
            <% if form.object.renewal_agreement_date_changed? %>
                <p class="form-control-plaintext approval-previous-value"><%= form.object.renewal_agreement_date_was %></p>
            <% end %>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <%= form.label :laboratory_type_id, "Laboratory Type", class: 'required' %>
            <%= form.select :laboratory_type_id, options_from_collection_for_select(LaboratoryType.order(:name).all, 'id', 'name', form.object.laboratory_type_id), {include_blank: form_select_option_text}, class: 'form-control', disabled: true %>
            <% if form.object.laboratory_type_id_changed? %>
                <p class="form-control-plaintext approval-previous-value"><%= form.object.laboratory_type_id_was.nil? ? '* EMPTY' : LaboratoryType.find(form.object.laboratory_type_id_was).try(:name) %></p>
            <% end %>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <%= form.label :status, class: 'required' %>
            <%= form.select :status, options_for_select(['ACTIVE', 'INACTIVE'], form.object.status), {include_blank: form_select_option_text}, class: 'form-control', disabled: true %>
            <% if form.object.status_changed? %>
                <p class="form-control-plaintext approval-previous-value"><%= form.object.status_was %></p>
            <% end %>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <%= form.label :district_health_office_id, "Nearest District Health Office" %>
            <%= form.select :district_health_office_id, options_from_collection_for_select(DistrictHealthOffice.order(:name).all, 'id', 'name', form.object.district_health_office_id), {include_blank: form_select_option_text}, class: 'form-control select2', disabled: true %>
            <% if form.object.district_health_office_id_changed? %>
                <p class="form-control-plaintext approval-previous-value"><%= form.object.district_health_office_id_was.nil? ? '* EMPTY' : DistrictHealthOffice.find(form.object.district_health_office_id_was).try(:name) %></p>
            <% end %>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <%= form.label :samm_number, "SAMM Number" %>
            <%= form.text_field :samm_number, class: 'form-control', readonly: true %>
            <% if form.object.samm_number_changed? %>
                <p class="form-control-plaintext approval-previous-value"><%= form.object.samm_number_was %></p>
            <% end %>
        </div>
    </div>
    <div class="col-md-6">
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <%= form.label :samm_accredited_since, "SAMM Accredited Since", class: 'required'  %>
            <%= form.date_field :samm_accredited_since, class: 'form-control', readonly: true %>
            <% if form.object.samm_accredited_since_changed? %>
                <p class="form-control-plaintext approval-previous-value"><%= form.object.samm_accredited_since_was&.strftime("%d/%m/%Y") %></p>
            <% end %>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <%= form.label :samm_expiry_date, "SAMM Expiry Date", class: 'required' %>
            <%= form.date_field :samm_expiry_date, class: 'form-control', readonly: true %>
            <% if form.object.samm_expiry_date_changed? %>
                <p class="form-control-plaintext approval-previous-value"><%= form.object.samm_expiry_date_was&.strftime("%d/%m/%Y") %></p>
            <% end %>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <%= form.label :web_service, "Web Service", class: 'required' %>
            <div class="col-form-label">
                <div class="form-check form-check-inline mr-3">
                    <%= form.radio_button :web_service, true, class: "form-check-input",  disabled: form.object.web_service ? false : true %>
                    <label class="form-check-label" for="lab_web_service_true">Yes</label>
                </div>
                <div class="form-check form-check-inline mr-3">
                <%= form.radio_button :web_service, false, class: "form-check-input",  disabled: form.object.web_service ? true : false  %>
                    <label class="form-check-label" for="lab_has_web_service_no">No</label>
                </div>
                <% if form.object.web_service_changed? %>
                    <p class="form-control-plaintext approval-previous-value"><%= form.object.web_service_was ? 'Yes' : 'No' %></p>
                <% end %>   
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <%= form.label :web_service_passphrase, "Web Service Passphrase", class: form.object.web_service ? "required" : ""%>
            <%= form.text_field :web_service_passphrase, class: 'form-control', readonly: true %>
            <% if form.object.web_service_passphrase_changed? %>
                <p class="form-control-plaintext approval-previous-value"><%= form.object.web_service_passphrase_was %></p>
            <% end %>
        </div>
    </div>
</div> 

<% if has_permission? "VIEW_FINANCE_INFO_LABORATORY" %>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <%= form.label :male_rate, "Male Worker Rate (RM)", class: 'required' %>
                <%= form.text_field :male_rate, class: 'form-control', readonly: true %>
                <% if form.object.male_rate_changed? %>
                    <p class="form-control-plaintext approval-previous-value"><%= form.object.male_rate_was %></p>
                <% end %>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <%= form.label :female_rate, "Female Worker Rate (RM)", class: 'required' %>
                <%= form.text_field :female_rate, class: 'form-control', readonly: true %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <%= form.label :bank_id, class: 'required' %>
                <%= form.select :bank_id, options_from_collection_for_select(Bank.where(status: 'ACTIVE').where.not(routing: [nil, '']).order(:name).all, 'id', 'name', form.object.bank_id), {include_blank: form_select_option_text}, class: 'form-control select2', disabled: true %>
                <% if form.object.bank_id_changed? %>
                    <p class="form-control-plaintext approval-previous-value"><%= Bank.find(form.object.bank_id_was)&.name if !form.object.bank_id_was.blank? %></p>
                <% end %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <%= form.label :bank_payment_id, "Bank Payment ID", class: 'required' %>
                <%= form.text_field :bank_payment_id, class: 'form-control', readonly: true %>
                <% if form.object.bank_payment_id_changed? %>
                    <p class="form-control-plaintext approval-previous-value"><%= form.object.bank_payment_id_was %></p>
                <% end %>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <%= form.label :bank_account_number, "Bank Account Number", class: 'required' %>
                <%= form.text_field :bank_account_number, class: 'form-control', readonly: true %>
                <% if form.object.bank_account_number_changed? %>
                    <p class="form-control-plaintext approval-previous-value"><%= form.object.bank_account_number_was %></p>
                <% end %>
            </div>
        </div>
    </div>
<% end %>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <%= form.label :comment %>
            <%= form.text_field :comment, class: 'form-control', disabled: true %>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <%= label_tag :fee_id, "Fee" %>
            <%= select_tag :fee_id, options_from_collection_for_select(Fee.where(code: ["LABORATORY_CHANGE_ADDRESS", "FOC"]), 'id', 'name', @laboratory.approval_request.try(:additional_information) && @laboratory.approval_request.try(:additional_information).key?("fee_id") ? @laboratory.approval_request.try(:additional_information)["fee_id"].to_i : false), include_blank: form_select_option_text, class: "form-control", disabled: true %>
        </div>
    </div>
</div>