<div class="card">

    <div class="card-header">
        <strong>Laboratories</strong> - Laboratory Detail
    </div>

    <div class="card-body">

        <%=render "/shared/all_flash" %>
        <%=render 'shared/all_validation_flash', { model_obj: @laboratory } %>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <%= label_tag :code %>
                    <p class="form-control-plaintext">
                        <%= @laboratory.code %>
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <%= label_tag :company_name, "Company Name" %>
                    <p class="form-control-plaintext">
                        <%= @laboratory.company_name %>
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <%= label_tag :name, "Facility Name" %>
                    <p class="form-control-plaintext">
                        <%= @laboratory.name %>
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <%= label_tag :business_registration_number, "Business Registration Number" %>
                    <p class="form-control-plaintext">
                        <%= @laboratory.business_registration_number %>
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <%= label_tag :created_at, "Registration Date" %>
                    <p class="form-control-plaintext">
                        <%= @laboratory.created_at.try(:strftime,get_standard_date_format) || raw('<i>N/A</i>') %>
                    </p>
                </div>
            </div>
        </div>

        <!-- address -->
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <%= label_tag :address %>
                    <p class="form-control-plaintext">
                        <%= @laboratory.address1 %>
                        <%=raw "<br>#{@laboratory.address2}" if !@laboratory.address2.blank? %>
                        <%=raw "<br>#{@laboratory.address3}" if !@laboratory.address3.blank? %>
                        <%=raw "<br>#{@laboratory.address4}" if !@laboratory.address4.blank? %>
                    </p>
                </div>
            </div>
        </div>
        <!-- /address -->

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <%= label_tag :state %>
                    <p class="form-control-plaintext">
                        <%= @laboratory.state.try(:name) %>
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <%= label_tag :town %>
                    <p class="form-control-plaintext">
                        <%= @laboratory.town.try(:name) %>
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <%= label_tag :postcode %>
                    <p class="form-control-plaintext">
                        <%= @laboratory.postcode %>
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <%= label_tag :telephone_number, "Telephone Number" %>
                    <p class="form-control-plaintext">
                        <%= @laboratory.phone %>
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <%= label_tag :fax_number, "Fax Number" %>
                    <p class="form-control-plaintext">
                        <%= @laboratory.fax %>
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <%= label_tag :email %>
                    <p class="form-control-plaintext">
                        <%= @laboratory.email %>
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <%= label_tag :pic_name, "Person In Charge Name" %>
                    <p class="form-control-plaintext">
                        <%= @laboratory.pic_name %>
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <%= label_tag :pic_phone, "Person In Charge Contact" %>
                    <p class="form-control-plaintext">
                        <%= @laboratory.pic_phone %>
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <%= label_tag :qualification %>
                    <p class="form-control-plaintext">
                        <%= @laboratory.qualification %>
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <%= label_tag :pathologist_name, "Pathologist Name" %>
                    <p class="form-control-plaintext">
                        <%= @laboratory.pathologist_name %>
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <%= label_tag :nsr_number, "NSR Number" %>
                    <p class="form-control-plaintext">
                        <%= @laboratory.nsr_number %>
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <%= label_tag :renewal_agreement_date, "Renewal Agreement Date" %>
                    <p class="form-control-plaintext">
                        <%= @laboratory.renewal_agreement_date.try(:strftime,'%d/%m/%Y') %>
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <%= label_tag :laboratory_type_id, "Laboratory Type" %>
                    <p class="form-control-plaintext">
                        <%= @laboratory.laboratory_type.try(:name) %>
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <%= label_tag :district_health_office_id, "Nearest District Health Office" %>
                    <p class="form-control-plaintext">
                        <%= @laboratory.district_health_office.try(:name) %>
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <%= label_tag :samm_number, "SAMM Number" %>
                    <p class="form-control-plaintext">
                        <%= @laboratory.samm_number %>
                    </p>
                </div>
            </div>
            <div class="col-md-6">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <%= label_tag :samm_accredited_since, "SAMM Accredited Since"  %>
                    <p class="form-control-plaintext">
                        <%= @laboratory.samm_accredited_since&.strftime("%d/%m/%Y") %>
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <%= label_tag :samm_expiry_date, "SAMM Expiry Date" %>
                    <p class="form-control-plaintext">
                        <%= @laboratory.samm_expiry_date&.strftime("%d/%m/%Y") %>
                    </p>
                </div>
            </div>
        </div> 

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <%= label_tag :web_service, "Web Service" %>
                    <p class="form-control-plaintext">
                        <%= @laboratory.web_service ? 'Yes' : 'No' %>
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <%= label_tag :web_service_passphrase, "Web Service Passphrase" %>
                    <p class="form-control-plaintext">
                        <%= @laboratory.web_service_passphrase %>
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <%= label_tag :status %>
                    <p class="form-control-plaintext">
                        <%= Laboratory::STATUSES[@laboratory.status] %>
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <%= label_tag :activated_at, "Activated At" %>
                    <p class="form-control-plaintext">
                        <%= @laboratory.activated_at.nil? ? (raw '<i>N/A</i>') : @laboratory.activated_at.strftime('%d/%m/%Y') %>
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <%= label_tag :total_worker_allocated, "Total Worker Allocated" %>
                    <p class="form-control-plaintext">
                        <%= @laboratory.total_worker_allocated %>
                    </p>
                </div>
            </div>
        </div>

        <% if @laboratory.status != 'ACTIVE' %>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <%= label_tag :status_reason, "Status (Reason)" %>
                    <p class="form-control-plaintext">
                        <%= Laboratory::ALL_STATUS_REASONS[@laboratory.status_reason] || raw('<i>N/A</i>') %>
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <%= label_tag :status_comment, "Status (Comment)" %>
                    <p class="form-control-plaintext">
                        <%= @laboratory.status_comment || raw('<i>N/A</i>') %>
                    </p>
                </div>
            </div>
        </div>
        <% end %>

        <div class="row">
            <div class="col-md-6">
                <%= label_tag :service_provider_group_id, "Service Provider Group" %>
                <p class="form-control-plaintext">
                    <%= @laboratory.service_provider_group&.name || raw('<i>N/A</i>') %>
                </p>
            </div>
        </div>

        <% if has_permission? "VIEW_FINANCE_INFO_LABORATORY" %>
        <div class="row">
            <div class="col-md-6">
                <%= label_tag :male_rate, "Male Worker Rate (RM)" %>
                <p class="form-control-plaintext">
                    <%= @laboratory.male_rate %>
                </p>
            </div>
            <div class="col-md-6">
                <%= label_tag :female_rate, "Female Worker Rate (RM)" %>
                <p class="form-control-plaintext">
                    <%= @laboratory.female_rate %>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <%= label_tag :bank_id, "Bank" %>
                <p class="form-control-plaintext">
                    <%= @laboratory.bank&.name %>
                </p>
            </div>
            <div class="col-md-6">
                <%= label_tag :bank_account_number, "Bank Account Number" %>
                <p class="form-control-plaintext">
                    <%= @laboratory.bank_account_number %>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <%= label_tag :bank_payment_id, "Bank Payment ID" %>
                <p class="form-control-plaintext">
                    <%= @laboratory.bank_payment_id %>
                </p>
            </div>
            <div class="col-md-6">
                <%= label_tag :payment_method_id, "Payment Method" %>
                <p class="form-control-plaintext">
                    <%= @laboratory.payment_method&.name %>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <%= label_tag :email_payment, "Email (Payment)" %>
                <p class="form-control-plaintext">
                    <%= @laboratory.email_payment %>
                </p>
            </div>
        </div>
        <% end %>

    </div>
    <!-- /card-body -->

    <div class="card-footer">
        <style>
            form.button_to {
                display: inline;
            }
        </style>

        <div class="text-right">
            <%=raw show_back_button(internal_laboratories_path) %>

            <% if !@laboratory.registration_approved_at.nil? and @laboratory.activated_at.nil? %>
                <% if @laboratory.registration_paid? %>
                    <%= button_to "Activate", {action: 'activate', id: @laboratory.id}, {method: :patch, class: 'btn btn-sm btn-primary', data: {confirm: 'Confirm activate?'}} if has_permission?("ACTIVATE_LABORATORY") %>
                <% else %>
                    <%= link_to "Payment", edit_internal_order_path(@laboratory.registration_order), class: "btn btn-sm btn-primary" if has_permission?("VIEW_MSPD_ORDER") %>
                <% end %>
            <% end %>

            <% if can_request_update?(@laboratory) and has_any_permission?("EDIT_NON_FINANCE_INFO_LABORATORY", "EDIT_FINANCE_INFO_LABORATORY") %>
                <%=raw show_edit_button edit_internal_laboratory_path(@laboratory) %>
            <% end %>

        </div>

    </div>

</div>

<div class="card">
    <div class="card-body">
        <ul class="list-group">
            <% if has_permission?("VIEW_DOCUMENT_LABORATORY") %>
            <% if !@laboratory.registration_approved_at.nil? %>
            <li class="list-group-item">
                <%= link_to "Registration Letter", registration_letter_internal_laboratory_path(@laboratory) %> |
                <%= link_to "Registration Invoice", registration_invoice_internal_laboratory_path(@laboratory), target: "_BLANK" %>
            </li>
            <li class="list-group-item"><%= link_to "Change Address Approval Letter", change_address_approval_internal_laboratory_path(@laboratory) %></li>
            <% end %>
            <% end %>

            <% if has_permission?("VIEW_STATUS_SCHEDULE") %>
            <li class="list-group-item">
                <%= link_to "Status Schedules", internal_status_schedules_path(status_scheduleable_type: @laboratory.class.name, status_scheduleable_code: @laboratory.code) %>
                <% if has_permission?("CREATE_STATUS_SCHEDULE") %>
                | <%= link_to "Add", new_internal_status_schedule_path(status_scheduleable_type: @laboratory.class.name, status_scheduleable_code: @laboratory.code) %>
                <% end %>
            </li>
            <% end %>

            <% if has_permission?("VIEW_GROUP_SCHEDULE") %>
            <li class="list-group-item">
                <%= link_to "SP Group Schedules", internal_group_schedules_path(sp_schedulable_type: @laboratory.class.name, sp_schedulable_code: @laboratory.code) %>
                <% if has_permission?("CREATE_GROUP_SCHEDULE") %>
                | <%= link_to "Add", new_internal_group_schedule_path(sp_schedulable_type: @laboratory.class.name, sp_schedulable_code: @laboratory.code) %>
                <% end %>
            </li>
            <% end %>

            <% if has_permission?("VIEW_AUDIT_LABORATORY") %>
            <li class="list-group-item">
                <%= link_to "Audits", internal_laboratory_audits_path(@laboratory) %>
            </li>
            <% end %>

            <% if has_permission?("BULK_REALLOCATION_LABORATORY") %>
            <li class="list-group-item">
                <%= link_to "Bulk Re-Allocation", bulk_reallocate_internal_laboratories_path(@laboratory) %>
            </li>
            <% end %>

            <% if has_permission?("VIEW_OPERATION_HOUR_LABORATORY") %>
            <li class="list-group-item"><%= link_to "Operation Hour", operation_hours_internal_laboratories_path(@laboratory) %></li>
            <% end %>

            <% if has_permission?('MSPD_REPORTS') %>
                <li class="list-group-item">
                    <%= link_to "Allocated Workers", allocated_workers_internal_laboratory_path(@laboratory) %>
                </li>
                <li class="list-group-item">
                    <%= link_to "Summary Loading Statistics", summary_loading_statistic_internal_laboratory_path(@laboratory) %>
                </li>
                <li class="list-group-item"><%= link_to "Suspension/Lifting History", suspension_history_internal_laboratory_path(@laboratory) %></li>
            <% end %>
        </ul>
    </div>
</div>