<div class="card">
    <!-- card-header -->
    <div class="card-header">
        Order - <%= @order.code %>
    </div>
    <!-- /card-header -->

    <%= form_for @order, url: internal_order_path(@order) do |form| %>
        <!-- card-body -->
        <div class="card-body">
            <%= render '/shared/all_flash' %>
            <%= render partial: '/internal/orders/shared/order_detail', locals: {form: form} %>

            <p class="order-warning-text">
                Changes related to insurance premium require re-calculation. Kindly click on Calculate Insurance Premium button for re-calculation.
            </p>

            <table class="table" id="etr-table">
                <thead>
                    <tr>
                        <th colspan="2">&nbsp;</th>
                        <th class="currency">Amount</th>
                        <th class="order-item-actions">
                            <button type="button" class="btn btn-sm btn-secondary etr-add">+</button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <% @order.order_items.joins("join fees on order_items.fee_id = fees.id
                    left join foreign_workers on order_items.order_itemable_id = foreign_workers.id and order_items.order_itemable_type = 'ForeignWorker'")
                    .select("order_items.*, case when fees.code = 'INSURANCE_GROSS_PREMIUM' then 1
                    when fees.code in ('IPAY_FPX_B2B', 'IPAY_FPX_B2C','SWIPE_FPX_B2B', 'SWIPE_FPX_B2C') then 3
                    else 2 end as sort1, foreign_workers.name as sort2")
                    .where.not("fees.code" => ["INSURANCE_SST", "INSURANCE_STAMP_DUTY", "INSURANCE_ADMINFEES", "INSURANCE_ADMINFEES_SST"])
                    .order("sort1 asc, sort2 asc").includes(:fee, :order_itemable, :insurance_purchase).each do |order_item| %>
                        <%=render "internal/orders/insurance_purchases/#{order_item.fee.code.downcase}", {order_item: order_item} %>
                    <% end %>
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="2">&nbsp;</th>
                        <th class="currency"><%= number_to_currency(@order.amount, unit: "") %></th>
                        <th class="order-item-actions">&nbsp;</th>
                    </tr>
                </tfoot>
            </table>

            <div class="text-right">
                <button class="btn btn-primary" type="submit" name="submit" value="save" id="btn-save">Save</button>
                <% #if @insurance_need_recalculate %>
                    <%= render partial: "/internal/shared/calculate_insurance_menu", locals: {order: @order, button_class: "btn btn-primary dropdown-toggle"} %>
                <% #end %>
                <button class="btn btn-primary" type="submit" name="submit" value="save_and_proceed_to_payment" <% if @insurance_need_recalculate %> disabled <% end %>>Pay now</button>
                 <a class="btn btn-primary" href="<%= external_orders_path %>">Back</a>
                <button class="btn btn-danger" type="submit" name="submit" value="cancel" formnovalidate>Cancel Order</button>
            </div>
        </div>
        <!-- /card-body -->
    <% end %>
</div>

<%=render 'etr_search_worker' %>

<% content_for :page_end_scripts do %>
<script>
$('.etr-add').click(function () {
    $('#search-worker-modal').modal();
});

$('#search-worker-search-button').click(function () {
    var data = {
        code: $('#search-worker-form').find('#code').val(),
        name: $('#search-worker-form').find('#name').val(),
        passport: $('#search-worker-form').find('#passport').val(),
        exclude_foreign_worker_ids: [],
    };
    if (data.code.length < 1 && data.name.length < 1 && data.passport.length < 1) {
        alert('Please key in worker code, name, or passport');
        return;
    }
    $('input[name="foreign_worker_ids[]"]').map(function (idx, obj) {
        data.exclude_foreign_worker_ids.push(obj.value);
    });
    $.ajax({
        url: '<%= internal_foreign_workers_path %>.json',
        method: 'GET',
        data: data,
        success: function (response) {
            $('#search-worker-table tbody').html('');
            for (var i = 0, j = response.length; i < j; i ++){
                $('#search-worker-table tbody').append(`<tr>
                    <td><input type="checkbox" class="bulk" value="${response[i].id}"></td>
                    <td>${response[i].name}</td>
                    <td>${response[i].gender_display}</td>
                    <td>${response[i].passport_number}</td>
                    <td>${response[i].country_name}</td>
                    <td>${response[i].code ? response[i].code : ""}</td>
                </tr>`);
            }
        },
    });
});

$('.bulk-add-selected').click(function () {
    $('input.bulk:checked').each(function (idx, cb) {
        $('.order-form').append($.parseHTML(`<input type="hidden" name="foreign_worker_ids[]" value="${cb.value}">`));
    });
    $('#order_payment_method_id').attr('required', false);
    $('#btn-save').trigger('click');
});

function etr_remove(btn)
{
    $(btn).closest('tr').remove();
    $('#order_payment_method_id').attr('required', false);
    $('#btn-save').trigger('click');
    $('.btn').prop('disabled',true)
}
</script>
<% end %>
