<div class="card-body">

    <%= render 'shared/all_validation_flash', { model_obj: @template_variable } %>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <%= form.label :value, "#{@template_variable.name}" %>
                <%= form.text_field :value, class: 'form-control no-uppercase', required: false %>
            </div>
        </div>
    </div>

</div>

<div class="card-footer">
    <div class="text-right">
        <%=raw edit_back_button(internal_template_variables_path) %>
        <%=raw edit_save_button %>
    </div>
</div>