<div class="card">
    <div class="card-header">
        <strong>Users</strong>
    </div>

    <!-- card-body -->
    <div class="card-body">
        <%=render "filter" %>

        <%=render "/shared/all_flash" %>

        <div class="row">
            <div class="col module-actions text-right">
                <% if has_permission?('CREATE_USER') %>
                    <%=raw index_table_new_button(new_internal_user_path) %>
                <% end %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <table class="<%= index_table_class %>">
                  <thead>
                  <tr>
                    <th class="module-row-numbers">#</th>
                    <th>ID</th>
                    <th>Code</th>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th class="module-row-actions">Action(s)</th>
                  </tr>
                  </thead>

                  <tbody>
                  <% if @users.blank? %>
                    <tr>
                      <td colspan="8" class="text-danger">No records found.</td>
                    </tr>
                  <% else %>

                    <% @users.each.with_index((@users.current_page - 1) * get_per + 1) do |user, index| %>
                      <tr>
                        <td class="module-row-numbers"><%= index %></td>
                        <td><%= user.id %></td>
                        <td><%= user.code %></td>
                        <td><%= user.username %></td>
                        <td><%= user.name %></td>
                        <td><%= user.email %></td>
                        <td><%= user.try(:role).try(:name) %></td>
                        <td class="module-row-actions">
                          <%=raw index_table_show_button(internal_user_path(user)) %>
                          <% if has_permission?('EDIT_USER') %>
                            <%=raw index_table_edit_button edit_internal_user_path(user) %>
                          <% end %>
                          <% if has_permission?('DELETE_USER') %>
                            <%=raw index_table_delete_button(internal_user_path(user)) %>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>

                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
        <div class="row">
            <%= paginate @users %>
        </div>
    </div>
    <!-- /card-body -->
</div>