<div class="card-body">

    <%= render 'shared/all_validation_flash', { model_obj: @call_log_case_type } %>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <%= form.label :code, class: 'required' %>
                <%= form.text_field :code, class: 'form-control', required: true %>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <%= form.label :description, class: 'required' %>
                <%= form.text_field :description, class: 'form-control', required: true %>
            </div>
        </div>
    </div>

</div>

<div class="card-footer">

    <div class="text-right">
        <%=raw edit_back_button(internal_call_log_case_types_path) %>
        <%=raw edit_save_button() %>
    </div>

</div>