<div class="card">
    <div class="card-header">
        <strong>Filter</strong>
    </div>

    <%= form_tag internal_refund_batches_path, method: 'get' do |form| %>
        <%= hidden_field_tag :per, params[:per] || get_per_options.first %>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label for="code" class="col-sm-3 col-form-label">Batch Code</label>
                        <div class="col-sm-9">
                            <%= text_field_tag :code, params[:code], class: 'form-control' %>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label for="status" class="col-sm-3 col-form-label">Status</label>
                        <div class="col-sm-9">
                            <%= select_tag :status, options_for_select(Refund::STATUSES.invert, params[:status]), {include_blank: "All", class: "form-control"} %>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label for="batch_date" class="col-sm-3 col-form-label">Batch Date</label>
                        <div class="col-sm-9">
                            <div class="d-flex align-items-center">
                                <%= text_field_tag "batch_date_start", params["batch_date_start"], class: "form-control datepicker datepicker-range-filter flex-grow-1", placeholder: "Start Date", data: { type: "start", target: 'batch_date' }, max: Date.today.strftime("%F") %>
                                <span class="mx-3">to</span>
                                <%= text_field_tag "batch_date_end", params["batch_date_end"], class: "form-control datepicker datepicker-range-filter flex-grow-1", placeholder: "End Date", data: { type: "end", target: 'batch_date' }, max: Date.today.strftime("%F") %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="text-right">
                <%= raw filter_clear_button internal_refund_batches_path %>
                <%= raw filter_button %>
            </div>
        </div>
    <% end %>
</div>