<!DOCTYPE html>
<!--
* CoreUI - Free Bootstrap Admin Template
* @version v2.1.6
* @link https://coreui.io
* Copyright (c) 2018 creativeLabs Åukasz Holeczek
* Licensed under MIT (https://coreui.io/license)
-->
<html lang="en">

    <head>
        <base href="./">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <title>FOMEMA</title>
        <!-- Icons-->
        <link href="/vendors/@coreui/icons/css/coreui-icons.min.css" rel="stylesheet">
        <link href="/vendors/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
        <link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="/vendors/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
        <!-- Main styles for this application-->
        <link href="/css/style.css" rel="stylesheet">
        <link href="/vendors/pace-progress/css/pace.min.css" rel="stylesheet">
        <%= stylesheet_link_tag    'application', media: 'all' %>
        <%= stylesheet_link_tag    'internal/application', media: 'all' %>
    </head>
    
    <body class="app flex-row align-items-center">
        <div class="container">
          <%= yield %>
        </div>
        
        <div class="footer fixed-bottom" style="margin-top: 10px">
            <div class="footer-copyright text-center py-3">
                <div class="mb-3"><img src="<%= image_path('logo/sirim-global-logo.png') %>" class="img-responsive" style="max-height: 100px"/></div>
                <div>Copyright &copy; <%= Date.current.year %> <%= @company_name %> All Rights Reserved.</div>
            </div>
        </div>
    
        <!-- CoreUI and necessary plugins-->
        <script src="/vendors/jquery/js/jquery.min.js"></script>
        <script src="/vendors/popper.js/js/popper.min.js"></script>
        <script src="/vendors/bootstrap/js/bootstrap.min.js"></script>
        <script src="/vendors/pace-progress/js/pace.min.js"></script>
        <script src="/vendors/perfect-scrollbar/js/perfect-scrollbar.min.js"></script>
        <script src="/vendors/@coreui/coreui/js/coreui.min.js"></script>
        <!-- Plugins and scripts required by this view-->
        <script src="/vendors/chart.js/js/Chart.min.js"></script>
        <script src="/vendors/@coreui/coreui-plugin-chartjs-custom-tooltips/js/custom-tooltips.min.js"></script>
        <%= javascript_include_tag 'application' %>
        <%= javascript_include_tag 'internal/application' %>
        <%= render "/layouts/browser_compatibility_modal" %>
        <%= yield :page_end_scripts %>
    </body>
</html>
